{% if product.tags contains "2.Color_Apricot Brandy / Off White" and product.url contains "-apricot-brandy-off" %}
<span class="variant-color-title" title="Apricot Brandy / Off White" data-url="{{ product.url }}"> Apricot Brandy / Off White
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Astro Print" and product.url contains "-astro-print" %}
<span class="variant-color-title" title="Astro Print" data-url="{{ product.url }}"> Astro Print
  </span>
 {% endif %}   
 {% if product.tags contains "2.Color_Blue/Logica" and product.url contains "-blogica" %}
<span class="variant-color-title" title="Blue/Logica" data-url="{{ product.url }}"> Blue/Logica
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Blue/Ripple Print" and product.url contains "-b-ripple-print" %}
<span class="variant-color-title" title="Blue/Ripple Print" data-url="{{ product.url }}"> Blue/Ripple Print
  </span>
 {% endif %}    
{% if product.tags contains "2.Color_Camo Print" and product.url contains "-camop" %}
<span class="variant-color-title" title="Camo Print" data-url="{{ product.url }}"> Camo Print
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Citadel Blue" and product.url contains "-citadel" %}
<span class="variant-color-title" title="Citadel Blue" data-url="{{ product.url }}"> Citadel Blue
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Corsair" and product.url contains "-corsair" %}
<span class="variant-color-title" title="Corsair" data-url="{{ product.url }}"> Corsair
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Cube Print" and product.url contains "-cubep" %}
<span class="variant-color-title" title="Cube Print" data-url="{{ product.url }}"> Cube Print
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Dolphin Blue" and product.url contains "-dolphin" %}
<span class="variant-color-title" title="Dolphin Blue" data-url="{{ product.url }}"> Dolphin Blue
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Ermine / Off White" and product.url contains "-ermine-off" %}
<span class="variant-color-title" title="Ermine / Off White" data-url="{{ product.url }}"> Ermine / Off White
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Graphic Attack" and product.url contains "-graphic-attack" %}
<span class="variant-color-title" title="Graphic Attack" data-url="{{ product.url }}"> Graphic Attack
  </span>
 {% endif %}   
{% if product.tags contains "2.Color_Malibu Blue" and product.url contains "-malibu" %}
<span class="variant-color-title" title="Malibu Blue" data-url="{{ product.url }}"> Malibu Blue
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Ocean Print" and product.url contains "-ocean-print" %}
<span class="variant-color-title" title="Ocean Print" data-url="{{ product.url }}"> Ocean Print
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Purple/Logica" and product.url contains "-p-logica" %}
<span class="variant-color-title" title="Purple/Logica" data-url="{{ product.url }}"> Purple/Logica
  </span>
 {% endif %}  
{% if product.tags contains "2.Color_Rhubarb / Off White" and product.url contains "rhubarb-off" %}
<span class="variant-color-title" title="Rhubarb / Off White" data-url="{{ product.url }}"> Rhubarb / Off White
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Rose/Ripple Print" and product.url contains "rose-ripple-print" %}
<span class="variant-color-title" title="Rose/Ripple Print" data-url="{{ product.url }}"> Rose/Ripple Print
  </span>
 {% endif %}   
{% if product.tags contains "2.Color_Stormy Sea" and product.url contains "stormy-sea" %}
<span class="variant-color-title" title="Stormy Sea" data-url="{{ product.url }}"> Stormy Sea
  </span>
 {% endif %}   
{% if product.tags contains "2.Color_Wine" and product.url contains "wine" %}
<span class="variant-color-title" title="Wine" data-url="{{ product.url }}"> Wine
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Woven Print" and product.url contains "-woven-print" %}
<span class="variant-color-title" title="Woven Print" data-url="{{ product.url }}"> Woven Print
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Grey / Blue" and product.url contains "gr-bl" %}
<span class="variant-color-title" title="Grey / Blue" data-url="{{ product.url }}"> Grey / Blue
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Black / Green" and product.url contains "bl-gr" %}
<span class="variant-color-title" title="Black / Green" data-url="{{ product.url }}"> Black / Green
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Black / Grey" and product.url contains "blgry" %}
<span class="variant-color-title" title="Black / Grey" data-url="{{ product.url }}"> Black / Grey
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Grape" and product.url contains "grape" %}
<span class="variant-color-title" title="Grape" data-url="{{ product.url }}"> Grape
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Zinc" and product.url contains "zinc" %}
<span class="variant-color-title" title="Zinc" data-url="{{ product.url }}"> Zinc
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Special Black" and product.url contains "spec-b" %}
<span class="variant-color-title" title="Special Black" data-url="{{ product.url }}"> Special Black
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Baked Apple" and product.url contains "baked-apple" %}
<span class="variant-color-title" title="Baked Apple" data-url="{{ product.url }}"> Baked Apple
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Khaki" and product.url contains "khaki" %}
<span class="variant-color-title" title="Khaki" data-url="{{ product.url }}"> Khaki
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Blue Sapphire" and product.url contains "sapphire" %}
<span class="variant-color-title" title="Blue Sapphire" data-url="{{ product.url }}"> Blue Sapphire
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Sepia/Brown" and product.url contains "sepia" %}
<span class="variant-color-title" title="Sepia/Brow" data-url="{{ product.url }}"> Sepia/Brown
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Terracotta" and product.url contains "-terracotta" %}
<span class="variant-color-title" title="Terracotta" data-url="{{ product.url }}"> Terracotta
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Dress Blue" and product.url contains "dressb" %}
<span class="variant-color-title" title="Dress Blue" data-url="{{ product.url }}"> Dress Blue
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Magnet" and product.url contains "magnet" %}
<span class="variant-color-title" title="Magnet" data-url="{{ product.url }}"> Magnet
  </span>
 {% endif %}   
{% if product.tags contains "2.Color_Falcon Grey" and product.url contains "falcon" %}
<span class="variant-color-title" title="Falcon Grey" data-url="{{ product.url }}"> Falcon Grey
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Parisian Night Blue" and product.url contains "parisian-night" %}
<span class="variant-color-title" title="Parisian Night Blue" data-url="{{ product.url }}"> Parisian Night Blue
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Tango Red" and product.url contains "-tango" %}
<span class="variant-color-title" title="Tango Red" data-url="{{ product.url }}"> Tango Red
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Dark Denim" and product.url contains "-denim" %}
<span class="variant-color-title" title="Dark Denim" data-url="{{ product.url }}"> Dark Denim
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Phantom" and product.url contains "-phantom" %}
<span class="variant-color-title" title="Phantom" data-url="{{ product.url }}"> Phantom
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Chili Pepper" and product.url contains "-chili-pepper" %}
<span class="variant-color-title" title="Chili Pepper" data-url="{{ product.url }}"> Chili Pepper
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Tornado Grey" and product.url contains "-tornado" %}
<span class="variant-color-title" title="Tornado Grey" data-url="{{ product.url }}"> Tornado Grey
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Purple Passion" and product.url contains "-passion" %}
<span class="variant-color-title" title="Purple Passion" data-url="{{ product.url }}"> Purple Passion
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Black/Red" and product.url contains "-bred" %}
<span class="variant-color-title" title="Black/Red" data-url="{{ product.url }}"> Black/Red
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Silver/Red" and product.url contains "-sred" %}
<span class="variant-color-title" title="Silver/Red" data-url="{{ product.url }}"> Silver/Red
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Red/Silver" and product.url contains "-rsilver" %}
<span class="variant-color-title" title="Red/Silver" data-url="{{ product.url }}"> Red/Silver
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Golden Olive" and product.url contains "-golive" %}
<span class="variant-color-title" title="Golden Olive" data-url="{{ product.url }}"> Golden Olive
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Rooibos Tea" and product.url contains "-rooibos" %}
<span class="variant-color-title" title="Rooibos Tea" data-url="{{ product.url }}"> Rooibos Tea
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Nautical Blue" and product.url contains "-nautical" %}
<span class="variant-color-title" title="Nautical Blue" data-url="{{ product.url }}"> Nautical Blue
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Anthracite" and product.url contains "-anthracite" %}
<span class="variant-color-title" title="Anthracite" data-url="{{ product.url }}"> Anthracite
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Ecru Olive" and product.url contains "-eolive" %}
<span class="variant-color-title" title="Ecru Olive" data-url="{{ product.url }}"> Ecru Olive
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Chinois Green" and product.url contains "-chinois" %}
<span class="variant-color-title" title="Chinois Green" data-url="{{ product.url }}"> Chinois Green
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Almond" and product.url contains "-almond" %}
<span class="variant-color-title" title="Almond" data-url="{{ product.url }}"> Almond
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Mauvewood" and product.url contains "-mauvewood" %}
<span class="variant-color-title" title="Mauvewood" data-url="{{ product.url }}"> Mauvewood
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Sunset Gold" and product.url contains "-sunset" %}
<span class="variant-color-title" title="Sunset Gold" data-url="{{ product.url }}"> Sunset Gold
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Castle Rock" and product.url contains "-castle" %}
<span class="variant-color-title" title="Castle Rock" data-url="{{ product.url }}"> Castle Rock
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Deep Lavander" and product.url contains "-lavander" %}
<span class="variant-color-title" title="Deep Lavander" data-url="{{ product.url }}"> Deep Lavander
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Blue Bird" and product.url contains "-bird" %}
<span class="variant-color-title" title="Blue Bird" data-url="{{ product.url }}"> Blue Bird
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Pavement" and product.url contains "-pavement" %}
<span class="variant-color-title" title="Pavement" data-url="{{ product.url }}"> Pavement
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Pomegranate" and product.url contains "-pomegranate" %}
<span class="variant-color-title" title="Pomegranate" data-url="{{ product.url }}"> Pomegranate
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Pink Jungle" and product.url contains "-jungle" %}
<span class="variant-color-title" title="Pink Jungle" data-url="{{ product.url }}"> Pink Jungle
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Charcoal Grey" and product.url contains "-charcoal" %}
<span class="variant-color-title" title="Charcoal Grey" data-url="{{ product.url }}"> Charcoal Grey
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Scarab Green" and product.url contains "-scarabg" %}
<span class="variant-color-title" title="Scarab Green" data-url="{{ product.url }}"> Scarab Green
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Mars Red" and product.url contains "-marsr" %}
<span class="variant-color-title" title="Mars Red" data-url="{{ product.url }}"> Mars Red
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Lunar Rock" and product.url contains "-lunarr" %}
<span class="variant-color-title" title="Lunar Rock" data-url="{{ product.url }}"> Lunar Rock
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Spiced Coral" and product.url contains "-spicedc" %}
<span class="variant-color-title" title="Spiced Coral" data-url="{{ product.url }}"> Spiced Coral
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Cashmere Beige" and product.url contains "-cashmb" %}
<span class="variant-color-title" title="Cashmere Beige" data-url="{{ product.url }}"> Cashmere Beige
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Linden Essence" and product.url contains "-lindene" %}
<span class="variant-color-title" title="Linden Essence" data-url="{{ product.url }}"> Linden Essence
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Moss Print" and product.url contains "-mossp" %}
<span class="variant-color-title" title="Moss Print" data-url="{{ product.url }}"> Moss Print
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Bamboo Print" and product.url contains "-bamboop" %}
<span class="variant-color-title" title="Bamboo Print" data-url="{{ product.url }}"> Bamboo Print
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Elegant Blue" and product.url contains "-elegantb" %}
<span class="variant-color-title" title="Elegant Blue" data-url="{{ product.url }}"> Elegant Blue
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Black Storm" and product.url contains "-bblackstr" %}
<span class="variant-color-title" title="Black Storm" data-url="{{ product.url }}"> Black Storm
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Mustard Olive" and product.url contains "-mustardo" %}
<span class="variant-color-title" title="Mustard Olive" data-url="{{ product.url }}"> Mustard Olive
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Denim Blue" and product.url contains "-ddenimb" %}
<span class="variant-color-title" title="Denim Blue" data-url="{{ product.url }}"> Denim Blue
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Salsa Red" and product.url contains "-salsar" %}
<span class="variant-color-title" title="Salsa Red" data-url="{{ product.url }}"> Salsa Red
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Bamboo Mix" and product.url contains "-bamboom" %}
<span class="variant-color-title" title="Bamboo Mix" data-url="{{ product.url }}"> Bamboo Mix
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Classic Mix" and product.url contains "-classicm" %}
<span class="variant-color-title" title="Classic Mix" data-url="{{ product.url }}"> Classic Mix
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Coktail Mix" and product.url contains "-coktailm" %}
<span class="variant-color-title" title="Coktail Mix" data-url="{{ product.url }}"> Coktail Mix
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Winter Floral Print" and product.url contains "-floralpr" %}
<span class="variant-color-title" title="Winter Floral Print" data-url="{{ product.url }}"> Winter Floral Print
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Silvery" and product.url contains "-slvr" %}
<span class="variant-color-title" title="Silvery" data-url="{{ product.url }}"> Silvery
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Copper" and product.url contains "-copper" %}
<span class="variant-color-title" title="Copper" data-url="{{ product.url }}"> Copper
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Comet Beige" and product.url contains "-cometb" %}
<span class="variant-color-title" title="Comet Beige" data-url="{{ product.url }}"> Comet Beige
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Lava Red" and product.url contains "-lavar" %}
<span class="variant-color-title" title="Lava Red" data-url="{{ product.url }}"> Lava Red
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Malachite Green" and product.url contains "-malachiteg" %}
<span class="variant-color-title" title="Malachite Green" data-url="{{ product.url }}"> Malachite Green
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Neptune Blue" and product.url contains "-neptuneb" %}
<span class="variant-color-title" title="Neptune Blue" data-url="{{ product.url }}"> Neptune Blue
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Saffron" and product.url contains "-saffron" %}
<span class="variant-color-title" title="Saffron" data-url="{{ product.url }}"> Saffron
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Sienna" and product.url contains "-sienna" %}
<span class="variant-color-title" title="Sienna" data-url="{{ product.url }}"> Sienna
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Aubergina Print" and product.url contains "-auberginap" %}
<span class="variant-color-title" title="Aubergina Print" data-url="{{ product.url }}"> Aubergina Print
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Essence Birch" and product.url contains "-ebirch" %}
<span class="variant-color-title" title="Essence Birch" data-url="{{ product.url }}"> Essence Birch
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Essentials Mix" and product.url contains "-essmix" %}
<span class="variant-color-title" title="Essentials Mix" data-url="{{ product.url }}"> Essentials Mix
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Toscan Sunset Mix" and product.url contains "-toscansun" %}
<span class="variant-color-title" title="Toscan Sunset Mix" data-url="{{ product.url }}"> Toscan Sunset Mix
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Cosmic Mix" and product.url contains "-cosmicm" %}
<span class="variant-color-title" title="Cosmic Mix" data-url="{{ product.url }}"> Cosmic Mix
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Urban Jungle" and product.url contains "-urbanj" %}
<span class="variant-color-title" title="Urban Jungle" data-url="{{ product.url }}"> Urban Jungle
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Smokey Mauve" and product.url contains "-smokeym" %}
<span class="variant-color-title" title="Smokey Mauve" data-url="{{ product.url }}"> Smokey Mauve
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Biking Red" and product.url contains "-bikingr" %}
<span class="variant-color-title" title="Biking Red" data-url="{{ product.url }}"> Biking Red
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Total Eclipse" and product.url contains "-teclipse" %}
<span class="variant-color-title" title="Total Eclipse" data-url="{{ product.url }}"> Total Eclipse
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Pearly White" and product.url contains "-pearlyw" %}
<span class="variant-color-title" title="Pearly White" data-url="{{ product.url }}"> Pearly White
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Deep Blue" and product.url contains "-dpbl" %}
<span class="variant-color-title" title="Deep Blue" data-url="{{ product.url }}"> Deep Blue
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Jeans" and product.url contains "-jeans" %}
<span class="variant-color-title" title="Jeans" data-url="{{ product.url }}"> Jeans
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Fumo Grey" and product.url contains "-fugr" %}
<span class="variant-color-title" title="Fumo Grey" data-url="{{ product.url }}"> Fumo Grey
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Baltic Blue" and product.url contains "-baltbl" %}
<span class="variant-color-title" title="Baltic Blue" data-url="{{ product.url }}"> Baltic Blue
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Botanical Green" and product.url contains "-botgr" %}
<span class="variant-color-title" title="Botanical Green" data-url="{{ product.url }}"> Botanical Green
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Purple Dusk" and product.url contains "-purdusk" %}
<span class="variant-color-title" title="Purple Dusk" data-url="{{ product.url }}"> Purple Dusk
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Tiger Eye" and product.url contains "-tigreye" %}
<span class="variant-color-title" title="Tiger Eye" data-url="{{ product.url }}"> Tiger Eye
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Morning Sky" and product.url contains "-mornsky" %}
<span class="variant-color-title" title="Morning Sky" data-url="{{ product.url }}"> Morning Sky
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Orchid Flower" and product.url contains "-orchflw" %}
<span class="variant-color-title" title="Orchid Flower" data-url="{{ product.url }}"> Orchid Flower
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Essence Natural" and product.url contains "-esnatur" %}
<span class="variant-color-title" title="Essence Natural" data-url="{{ product.url }}"> Essence Natural
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Tan" and product.url contains "-tan" %}
<span class="variant-color-title" title="Tan" data-url="{{ product.url }}"> Tan
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Escape Mix" and product.url contains "-scamix" %}
<span class="variant-color-title" title="Escape Mix" data-url="{{ product.url }}"> Escape Mix
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Cosmic Mix II" and product.url contains "-csmmx" %}
<span class="variant-color-title" title="Cosmic Mix II" data-url="{{ product.url }}"> Cosmic Mix II
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Brown" and product.url contains "-brwn" %}
<span class="variant-color-title" title="Brown" data-url="{{ product.url }}"> Brown
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Coastal Fjord" and product.url contains "-coastalf" %}
<span class="variant-color-title" title="Coastal Fjord" data-url="{{ product.url }}"> Coastal Fjord
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Bitter Chocolate" and product.url contains "-btrchoc" %}
<span class="variant-color-title" title="Bitter Chocolate" data-url="{{ product.url }}"> Bitter Chocolate
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Cherry Mahogony" and product.url contains "-chrymah" %}
<span class="variant-color-title" title="Cherry Mahogany" data-url="{{ product.url }}"> Cherry Mahogany
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Cedar Green" and product.url contains "-cedgr" %}
<span class="variant-color-title" title="Cedar Green" data-url="{{ product.url }}"> Cedar Green
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Violet Berry" and product.url contains "-violber" %}
<span class="variant-color-title" title="Violet Berry" data-url="{{ product.url }}"> Violet Berry
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Oceanic Blue" and product.url contains "-oceanbl" %}
<span class="variant-color-title" title="Oceanic Blue" data-url="{{ product.url }}"> Oceanic Blue
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Deep Velvet" and product.url contains "-deepvel" %}
<span class="variant-color-title" title="Deep Velvet" data-url="{{ product.url }}"> Deep Velvet
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Quilted Black" and product.url contains "-quiltbl" %}
<span class="variant-color-title" title="Quilted Black" data-url="{{ product.url }}"> Quilted Black
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Essence Bark" and product.url contains "-ebark" %}
<span class="variant-color-title" title="Essence Bark" data-url="{{ product.url }}"> Essence Bark
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Coffee" and product.url contains "-coffee" %}
<span class="variant-color-title" title="Coffee" data-url="{{ product.url }}"> Coffee
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Cork" and product.url contains "-cork" %}
<span class="variant-color-title" title="Cork" data-url="{{ product.url }}"> Cork
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Elegant Mix" and product.url contains "-elmix" %}
<span class="variant-color-title" title="Elegant Mix" data-url="{{ product.url }}"> Elegant Mix
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Cosmic Mix III" and product.url contains "-cosx" %}
<span class="variant-color-title" title="Cosmic Mix III" data-url="{{ product.url }}"> Cosmic Mix III
  </span>
 {% endif %}

{% if product.tags contains "2.Color_City Blue" and product.url contains "-citbl" %}
<span class="variant-color-title" title="City Blue" data-url="{{ product.url }}"> City Blue
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Deep Sea Blue" and product.url contains "-dsblue" %}
<span class="variant-color-title" title="Deep Sea Blue" data-url="{{ product.url }}"> Deep Sea Blue
  </span>
 {% endif %}

{% if product.tags contains "2.Color_Uptown Brown" and product.url contains "-upbrw" %}
<span class="variant-color-title" title="Uptown Brown" data-url="{{ product.url }}"> Uptown Brown
  </span>
 {% endif %}
 
{% if product.tags contains "2.Color_Cabernet" and product.url contains "-cabernet" %}
<span class="variant-color-title" title="Cabernet" data-url="{{ product.url }}"> Cabernet
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Summer Sky" and product.url contains "-summer-sky" %}
<span class="variant-color-title" title="Summer Sky" data-url="{{ product.url }}"> Summer Sky
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Gradient Print" and product.url contains "-gradient" %}
<span class="variant-color-title" title="Gradient Print" data-url="{{ product.url }}"> Gradient Print
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Opaline Lime" and product.url contains "-opaline-lime" %}
<span class="variant-color-title" title="Opaline Lime" data-url="{{ product.url }}"> Opaline Lime
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Stone Beige" and product.url contains "-stone-beige" %}
<span class="variant-color-title" title="Stone Beige" data-url="{{ product.url }}"> Stone Beige
  </span>
 {% endif %}
{% if product.tags contains "2.Color_Celestial Berry" and product.url contains "-celestial-berry" %}
<span class="variant-color-title" title="Celestial Berry" data-url="{{ product.url }}"> Celestial Berry
  </span>
 {% endif %}
 {% if product.tags contains "2.Color_Canyon Rose" and product.url contains "-canyon-rose" %}
<span class="variant-color-title" title="Canyon Rose" data-url="{{ product.url }}"> Canyon Rose
  </span>
 {% endif %}