    {% if product.tags contains "2.Color_Apricot Brandy / Off White" and product.url contains "-apricot-brandy-off" %}
    <span class="variant-color-wrapper" title="Apricot Brandy / Off White" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.apricot_brandy_off_white | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Apricot Brandy / Off White" %}<span class="variant-color-wrapper" title="Apricot Brandy / Off White" data-url="{% include 'removelist' %}-apricot-brandy-off"><img class="hedgren-color-inactive" src="{{ settings.apricot_brandy_off_white | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Astro Print" and product.url contains "-astro-print" %}
    <span class="variant-color-wrapper" title="Astro Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.astro_print | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Astro Print" %}<span class="variant-color-wrapper" title="Astro Print" data-url="{% include 'removelist' %}-astro-print"><img class="hedgren-color-inactive" src="{{ settings.astro_print | img_url: '' }}"></span>
     {% endif %}   
     {% if product.tags contains "2.Color_Blue/Logica" and product.url contains "-blogica" %}
    <span class="variant-color-wrapper" title="Blue/Logica" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue_logica | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Blue/Logica" %}<span class="variant-color-wrapper" title="Blue/Logica" data-url="{% include 'removelist' %}-blogica"><img class="hedgren-color-inactive" src="{{ settings.blue_logica | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Blue/Ripple Print" and product.url contains "-b-ripple-print" %}
    <span class="variant-color-wrapper" title="Blue/Ripple Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue_ripple_print | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Blue/Ripple Print" %}<span class="variant-color-wrapper" title="Blue/Ripple Print" data-url="{% include 'removelist' %}-b-ripple-print"><img class="hedgren-color-inactive" src="{{ settings.blue_ripple_print | img_url: '' }}"></span>
     {% endif %}    
    {% if product.tags contains "2.Color_Camo Print" and product.url contains "-camop" %}
    <span class="variant-color-wrapper" title="Camo Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.camo_print | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Camo Print" %}<span class="variant-color-wrapper" title="Camo Print" data-url="{% include 'removelist' %}-camop"><img class="hedgren-color-inactive" src="{{ settings.camo_print | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Citadel Blue" and product.url contains "-citadel" %}
    <span class="variant-color-wrapper" title="Citadel Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.citadel_blue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Citadel Blue" %}<span class="variant-color-wrapper" title="Citadel Blue" data-url="{% include 'removelist' %}-citadel"><img class="hedgren-color-inactive" src="{{ settings.citadel_blue | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Corsair" and product.url contains "-corsair" %}
    <span class="variant-color-wrapper" title="Corsair" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.corsair | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Corsair" %}<span class="variant-color-wrapper" title="Corsair" data-url="{% include 'removelist' %}-corsair"><img class="hedgren-color-inactive" src="{{ settings.corsair | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Cube Print" and product.url contains "-cubep" %}
    <span class="variant-color-wrapper" title="Cube Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cube_print | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Cube Print" %}<span class="variant-color-wrapper" title="Cube Print" data-url="{% include 'removelist' %}-cubep"><img class="hedgren-color-inactive" src="{{ settings.cube_print | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Dolphin Blue" and product.url contains "-dolphin" %}
    <span class="variant-color-wrapper" title="Dolphin Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dolphin_blue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Dolphin Blue" %}<span class="variant-color-wrapper" title="Dolphin Blue" data-url="{% include 'removelist' %}-dolphin"><img class="hedgren-color-inactive" src="{{ settings.dolphin_blue | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Ermine / Off White" and product.url contains "-ermine-off" %}
    <span class="variant-color-wrapper" title="Ermine / Off White" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ermine_off_white | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Ermine / Off White" %}<span class="variant-color-wrapper" title="Ermine / Off White" data-url="{% include 'removelist' %}-ermine-off"><img class="hedgren-color-inactive" src="{{ settings.ermine_off_white | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Graphic Attack" and product.url contains "-graphic-attack" %}
    <span class="variant-color-wrapper" title="Graphic Attack" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.graphic_attack | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Graphic Attack" %}<span class="variant-color-wrapper" title="Graphic Attack" data-url="{% include 'removelist' %}-graphic-attack"><img class="hedgren-color-inactive" src="{{ settings.graphic_attack | img_url: '' }}"></span>
     {% endif %}   
    {% if product.tags contains "2.Color_Malibu Blue" and product.url contains "-malibu" %}
    <span class="variant-color-wrapper" title="Malibu Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.malibu_blue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Malibu Blue" %}<span class="variant-color-wrapper" title="Malibu Blue" data-url="{% include 'removelist' %}-malibu"><img class="hedgren-color-inactive" src="{{ settings.malibu_blue | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Ocean Print" and product.url contains "-ocean-print" %}
    <span class="variant-color-wrapper" title="Ocean Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ocean_print | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Ocean Print" %}<span class="variant-color-wrapper" title="Ocean Print" data-url="{% include 'removelist' %}-ocean-print"><img class="hedgren-color-inactive" src="{{ settings.ocean_print | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Purple/Logica" and product.url contains "-p-logica" %}
    <span class="variant-color-wrapper" title="Purple/Logica" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.purple_logica | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Purple/Logica" %}<span class="variant-color-wrapper" title="Purple/Logica" data-url="{% include 'removelist' %}-p-logica"><img class="hedgren-color-inactive" src="{{ settings.purple_logica | img_url: '' }}"></span>
     {% endif %}  
    {% if product.tags contains "2.Color_Rhubarb / Off White" and product.url contains "rhubarb-off" %}
    <span class="variant-color-wrapper" title="Rhubarb / Off White" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rhubarb_off_white | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Rhubarb / Off White" %}<span class="variant-color-wrapper" title="Rhubarb / Off White" data-url="{% include 'removelist' %}-rhubarb-off"><img class="hedgren-color-inactive" src="{{ settings.rhubarb_off_white | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Rose/Ripple Print" and product.url contains "rose-ripple-print" %}
    <span class="variant-color-wrapper" title="Rose/Ripple Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rose_ripple_print | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Rose/Ripple Print" %}<span class="variant-color-wrapper" title="Rose/Ripple Print" data-url="{% include 'removelist' %}-rose-ripple-print"><img class="hedgren-color-inactive" src="{{ settings.rose_ripple_print | img_url: '' }}"></span>
     {% endif %}   
    {% if product.tags contains "2.Color_Stormy Sea" and product.url contains "stormy-sea" %}
    <span class="variant-color-wrapper" title="Stormy Sea" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.stormy_sea | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Stormy Sea" %}<span class="variant-color-wrapper" title="Stormy Sea" data-url="{% include 'removelist' %}-stormy-sea"><img class="hedgren-color-inactive" src="{{ settings.stormy_sea | img_url: '' }}"></span>
     {% endif %}   
    {% if product.tags contains "2.Color_Wine" and product.url contains "wine" %}
    <span class="variant-color-wrapper" title="Wine" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.wine | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Wine" %}<span class="variant-color-wrapper" title="Wine" data-url="{% include 'removelist' %}-wine"><img class="hedgren-color-inactive" src="{{ settings.wine | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Woven Print" and product.url contains "-woven-print" %}
    <span class="variant-color-wrapper" title="Woven Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.woven_print | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Woven Print" %}<span class="variant-color-wrapper" title="Woven Print" data-url="{% include 'removelist' %}-woven-print"><img class="hedgren-color-inactive" src="{{ settings.woven_print | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Grey / Blue" and product.url contains "gr-bl" %}
    <span class="variant-color-wrapper" title="Grey / Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.grey_blue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Grey / Blue" %}<span class="variant-color-wrapper" title="Grey / Blue" data-url="{% include 'removelist' %}-gr-bl"><img class="hedgren-color-inactive" src="{{ settings.grey_blue | img_url: '' }}"></span>
     {% endif %}
    
    {% if product.tags contains "2.Color_Black / Green" and product.url contains "bl-gr" %}
    <span class="variant-color-wrapper" title="Black / Green" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.black_green | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Black / Green" %}<span class="variant-color-wrapper" title="Black / Green" data-url="{% include 'removelist' %}-bl-gr"><img class="hedgren-color-inactive" src="{{ settings.black_green | img_url: '' }}"></span>
     {% endif %}
    
    {% if product.tags contains "2.Color_Black / Grey" and product.url contains "blgry" %}
    <span class="variant-color-wrapper" title="Black / Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.black_grey | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Black / Grey" %}<span class="variant-color-wrapper" title="Black / Grey" data-url="{% include 'removelist' %}-blgry"><img class="hedgren-color-inactive" src="{{ settings.black_grey | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Grape" and product.url contains "grape" %}
    <span class="variant-color-wrapper" title="Grape" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.grape | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Grape" %}<span class="variant-color-wrapper" title="Grape" data-url="{% include 'removelist' %}-grape"><img class="hedgren-color-inactive" src="{{ settings.grape | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Zinc" and product.url contains "zinc" %}
    <span class="variant-color-wrapper" title="Zinc" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.zinc | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Zinc" %}<span class="variant-color-wrapper" title="Zinc" data-url="{% include 'removelist' %}-zinc"><img class="hedgren-color-inactive" src="{{ settings.zinc | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Special Black" and product.url contains "spec-b" %}
    <span class="variant-color-wrapper" title="Special Black" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.special_black | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Special Black" %}<span class="variant-color-wrapper" title="Special Black" data-url="{% include 'removelist' %}-spec-b"><img class="hedgren-color-inactive" src="{{ settings.special_black | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Baked Apple" and product.url contains "baked-apple" %}
    <span class="variant-color-wrapper" title="Baked Apple" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.baked_apple | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Baked Apple" %}<span class="variant-color-wrapper" title="Baked Apple" data-url="{% include 'removelist' %}-baked-apple"><img class="hedgren-color-inactive" src="{{ settings.baked_apple | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Khaki" and product.url contains "khaki" %}
    <span class="variant-color-wrapper" title="Khaki" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.khaki | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Khaki" %}<span class="variant-color-wrapper" title="Khaki" data-url="{% include 'removelist' %}-khaki"><img class="hedgren-color-inactive" src="{{ settings.khaki | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Blue Sapphire" and product.url contains "sapphire" %}
    <span class="variant-color-wrapper" title="Blue Sapphire" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue_sapphire | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Blue Sapphire" %}<span class="variant-color-wrapper" title="Blue Sapphire" data-url="{% include 'removelist' %}-sapphire"><img class="hedgren-color-inactive" src="{{ settings.blue_sapphire | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Sepia/Brown" and product.url contains "sepia" %}
    <span class="variant-color-wrapper" title="Sepia/Brown" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sepia_brown | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Sepia/Brown" %}<span class="variant-color-wrapper" title="Sepia/Brown" data-url="{% include 'removelist' %}-sepia"><img class="hedgren-color-inactive" src="{{ settings.sepia_brown | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Dress Blue" and product.url contains "dressb" %}
    <span class="variant-color-wrapper" title="Dress Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dress_blue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Dress Blue" %}<span class="variant-color-wrapper" title="Dress Blue" data-url="{% include 'removelist' %}-dressb"><img class="hedgren-color-inactive" src="{{ settings.dress_blue | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Magnet" and product.url contains "magnet" %}
    <span class="variant-color-wrapper" title="Magnet" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.magnet | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Magnet" %}<span class="variant-color-wrapper" title="Magnet" data-url="{% include 'removelist' %}-magnet"><img class="hedgren-color-inactive" src="{{ settings.magnet | img_url: '' }}"></span>
     {% endif %}   
    {% if product.tags contains "2.Color_Falcon Grey" and product.url contains "falcon" %}
    <span class="variant-color-wrapper" title="Falcon Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.falcon_grey | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Falcon Grey" %}<span class="variant-color-wrapper" title="Falcon Grey" data-url="{% include 'removelist' %}-falcon"><img class="hedgren-color-inactive" src="{{ settings.falcon_grey | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Parisian Night Blue" and product.url contains "parisian-night" %}
    <span class="variant-color-wrapper" title="Parisian Night Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.parisian_night_blue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Parisian Night Blue" %}<span class="variant-color-wrapper" title="Parisian Night Blue" data-url="{% include 'removelist' %}-parisian-night"><img class="hedgren-color-inactive" src="{{ settings.parisian_night_blue | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Tango Red" and product.url contains "-tango" %}
    <span class="variant-color-wrapper" title="Tango Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tango_red | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Tango Red" %}<span class="variant-color-wrapper" title="Tango Red" data-url="{% include 'removelist' %}-tango"><img class="hedgren-color-inactive" src="{{ settings.tango_red | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Dark Denim" and product.url contains "-denim" %}
    <span class="variant-color-wrapper" title="Dark Denim" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dark_denim | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Dark Denim" %}<span class="variant-color-wrapper" title="Dark Denim" data-url="{% include 'removelist' %}-denim"><img class="hedgren-color-inactive" src="{{ settings.dark_denim | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Phantom" and product.url contains "-phantom" %}
    <span class="variant-color-wrapper" title="Phantom" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.phantom | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Phantom" %}<span class="variant-color-wrapper" title="Phantom" data-url="{% include 'removelist' %}-phantom"><img class="hedgren-color-inactive" src="{{ settings.phantom | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Chili Pepper" and product.url contains "-chili-pepper" %}
    <span class="variant-color-wrapper" title="Chili Pepper" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.chili_pepper | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Chili Pepper" %}<span class="variant-color-wrapper" title="Chili Pepper" data-url="{% include 'removelist' %}-chili-pepper"><img class="hedgren-color-inactive" src="{{ settings.chili_pepper | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Tornado Grey" and product.url contains "-tornado" %}
    <span class="variant-color-wrapper" title="Tornado Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tornado_grey | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Tornado Grey" %}<span class="variant-color-wrapper" title="Tornado Grey" data-url="{% include 'removelist' %}-tornado"><img class="hedgren-color-inactive" src="{{ settings.tornado_grey | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Purple Passion" and product.url contains "-passion" %}
    <span class="variant-color-wrapper" title="Purple Passion" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.purple_passion | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Purple Passion" %}<span class="variant-color-wrapper" title="Purple Passion" data-url="{% include 'removelist' %}-passion"><img class="hedgren-color-inactive" src="{{ settings.purple_passion | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Black/Red" and product.url contains "-bred" %}
    <span class="variant-color-wrapper" title="Black/Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.black_red | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Black/Red" %}<span class="variant-color-wrapper" title="Black/Red" data-url="{% include 'removelist' %}-bred"><img class="hedgren-color-inactive" src="{{ settings.black_red | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Silver/Red" and product.url contains "-sred" %}
    <span class="variant-color-wrapper" title="Silver/Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.silver_red | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Silver/Red" %}<span class="variant-color-wrapper" title="Silver/Red" data-url="{% include 'removelist' %}-sred"><img class="hedgren-color-inactive" src="{{ settings.silver_red | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Red/Silver" and product.url contains "-rsilver" %}
    <span class="variant-color-wrapper" title="Red/Silver" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.red_silver | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Red/Silver" %}<span class="variant-color-wrapper" title="Red/Silver" data-url="{% include 'removelist' %}-rsilver"><img class="hedgren-color-inactive" src="{{ settings.red_silver | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Golden Olive" and product.url contains "-golive" %}
    <span class="variant-color-wrapper" title="Golden Olive" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.golden_olive | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Golden Olive" %}<span class="variant-color-wrapper" title="Golden Olive" data-url="{% include 'removelist' %}-golive"><img class="hedgren-color-inactive" src="{{ settings.golden_olive | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Rooibos Tea" and product.url contains "-rooibos" %}
    <span class="variant-color-wrapper" title="Rooibos Tea" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rooibos_tea | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Rooibos Tea" %}<span class="variant-color-wrapper" title="Rooibos Tea" data-url="{% include 'removelist' %}-rooibos"><img class="hedgren-color-inactive" src="{{ settings.rooibos_tea | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Nautical Blue" and product.url contains "-nautical" %}
    <span class="variant-color-wrapper" title="Nautical Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.nautical_blue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Nautical Blue" %}<span class="variant-color-wrapper" title="Nautical Blue" data-url="{% include 'removelist' %}-nautical"><img class="hedgren-color-inactive" src="{{ settings.nautical_blue | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Anthracite" and product.url contains "-anthracite" %}
    <span class="variant-color-wrapper" title="Anthracite" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.anthracite | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Anthracite" %}<span class="variant-color-wrapper" title="Anthracite" data-url="{% include 'removelist' %}-anthracite"><img class="hedgren-color-inactive" src="{{ settings.anthracite | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Ecru Olive" and product.url contains "-eolive" %}
    <span class="variant-color-wrapper" title="Ecru Olive" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ecru_olive | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Ecru Olive" %}<span class="variant-color-wrapper" title="Ecru Olive" data-url="{% include 'removelist' %}-eolive"><img class="hedgren-color-inactive" src="{{ settings.ecru_olive | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Chinois Green" and product.url contains "-chinois" %}
    <span class="variant-color-wrapper" title="Chinois Green" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.chinois_green | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Chinois Green" %}<span class="variant-color-wrapper" title="Chinois Green" data-url="{% include 'removelist' %}-chinois"><img class="hedgren-color-inactive" src="{{ settings.chinois_green | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Almond" and product.url contains "-almond" %}
    <span class="variant-color-wrapper" title="Almond" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.almond | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Almond" %}<span class="variant-color-wrapper" title="Almond" data-url="{% include 'removelist' %}-almond"><img class="hedgren-color-inactive" src="{{ settings.almond | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Mauvewood" and product.url contains "-mauvewood" %}
    <span class="variant-color-wrapper" title="Mauvewood" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mauvewood | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Mauvewood" %}<span class="variant-color-wrapper" title="Mauvewood" data-url="{% include 'removelist' %}-mauvewood"><img class="hedgren-color-inactive" src="{{ settings.mauvewood | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Sunset Gold" and product.url contains "-sunset" %}
    <span class="variant-color-wrapper" title="Sunset Gold" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sunset_gold | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Sunset Gold" %}<span class="variant-color-wrapper" title="Sunset Gold" data-url="{% include 'removelist' %}-sunset"><img class="hedgren-color-inactive" src="{{ settings.sunset_gold | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Castle Rock" and product.url contains "-castle" %}
    <span class="variant-color-wrapper" title="Castle Rock" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.castle_rock | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Castle Rock" %}<span class="variant-color-wrapper" title="Castle Rock" data-url="{% include 'removelist' %}-castle"><img class="hedgren-color-inactive" src="{{ settings.castle_rock | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Deep Lavander" and product.url contains "-lavander" %}
    <span class="variant-color-wrapper" title="Deep Lavander" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.deep_lavander | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Deep Lavander" %}<span class="variant-color-wrapper" title="Deep Lavander" data-url="{% include 'removelist' %}-lavander"><img class="hedgren-color-inactive" src="{{ settings.deep_lavander | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Blue Bird" and product.url contains "-bird" %}
    <span class="variant-color-wrapper" title="Blue Bird" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue_bird | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Blue Bird" %}<span class="variant-color-wrapper" title="Blue Bird" data-url="{% include 'removelist' %}-bird"><img class="hedgren-color-inactive" src="{{ settings.blue_bird | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Pavement" and product.url contains "-pavement" %}
    <span class="variant-color-wrapper" title="Pavement" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pavement | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Pavement" %}<span class="variant-color-wrapper" title="Pavement" data-url="{% include 'removelist' %}-pavement"><img class="hedgren-color-inactive" src="{{ settings.pavement | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Pomegranate" and product.url contains "-pomegranate" %}
    <span class="variant-color-wrapper" title="Pomegranate" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pomegranate | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Pomegranate" %}<span class="variant-color-wrapper" title="Pomegranate" data-url="{% include 'removelist' %}-pomegranate"><img class="hedgren-color-inactive" src="{{ settings.pomegranate | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Pink Jungle" and product.url contains "-jungle" %}
    <span class="variant-color-wrapper" title="Pink Jungle" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pink_jungle | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Pink Jungle" %}<span class="variant-color-wrapper" title="Pink Jungle" data-url="{% include 'removelist' %}-jungle"><img class="hedgren-color-inactive" src="{{ settings.pink_jungle | img_url: '' }}"></span>
     {% endif %}

    {% if product.tags contains "2.Color_Charcoal Grey" and product.url contains "-charcoal" %}
    <span class="variant-color-wrapper" title="Charcoal Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ccg | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Charcoal Grey" %}<span class="variant-color-wrapper" title="Charcoal Grey" data-url="{% include 'removelist' %}-charcoal"><img class="hedgren-color-inactive" src="{{ settings.ccg | img_url: '' }}"></span>
     {% endif %}

  {% if product.tags contains "2.Color_Scarab Green" and product.url contains "-scarabg" %}
    <span class="variant-color-wrapper" title="Scarab Green" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.scarabg | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Scarab Green" %}<span class="variant-color-wrapper" title="Scarab Green" data-url="{% include 'removelist' %}-scarabg"><img class="hedgren-color-inactive" src="{{ settings.scarabg | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Mars Red" and product.url contains "-marsr" %}
    <span class="variant-color-wrapper" title="Mars Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.marsr | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Mars Red" %}<span class="variant-color-wrapper" title="Mars Red" data-url="{% include 'removelist' %}-marsr"><img class="hedgren-color-inactive" src="{{ settings.marsr | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Lunar Rock" and product.url contains "-lunarr" %}
    <span class="variant-color-wrapper" title="Lunar Rock" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.lunarr | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Lunar Rock" %}<span class="variant-color-wrapper" title="Lunar Rock" data-url="{% include 'removelist' %}-lunarr"><img class="hedgren-color-inactive" src="{{ settings.lunarr | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Spiced Coral" and product.url contains "-spicedc" %}
    <span class="variant-color-wrapper" title="Spiced Coral" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.spicedc | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Spiced Coral" %}<span class="variant-color-wrapper" title="Spiced Coral" data-url="{% include 'removelist' %}-spicedc"><img class="hedgren-color-inactive" src="{{ settings.spicedc | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Cashmere Beige" and product.url contains "-cashmb" %}
    <span class="variant-color-wrapper" title="Cashmere Beige" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cashmb | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Cashmere Beige" %}<span class="variant-color-wrapper" title="Cashmere Beige" data-url="{% include 'removelist' %}-cashmb"><img class="hedgren-color-inactive" src="{{ settings.cashmb | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Linden Essence" and product.url contains "-lindene" %}
    <span class="variant-color-wrapper" title="Linden Essence" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.lindene | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Linden Essence" %}<span class="variant-color-wrapper" title="Linden Essence" data-url="{% include 'removelist' %}-lindene"><img class="hedgren-color-inactive" src="{{ settings.lindene | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Moss Print" and product.url contains "-mossp" %}
    <span class="variant-color-wrapper" title="Moss Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mossp | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Moss Print" %}<span class="variant-color-wrapper" title="Moss Print" data-url="{% include 'removelist' %}-mossp"><img class="hedgren-color-inactive" src="{{ settings.mossp | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Bamboo Print" and product.url contains "-bamboop" %}
    <span class="variant-color-wrapper" title="Bamboo Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bamboop | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Bamboo Print" %}<span class="variant-color-wrapper" title="Bamboo Print" data-url="{% include 'removelist' %}-bamboop"><img class="hedgren-color-inactive" src="{{ settings.bamboop | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Elegant Blue" and product.url contains "-elegantb" %}
    <span class="variant-color-wrapper" title="Elegant Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.elegantb | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Elegant Blue" %}<span class="variant-color-wrapper" title="Elegant Blue" data-url="{% include 'removelist' %}-elegantb"><img class="hedgren-color-inactive" src="{{ settings.elegantb | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Black Storm" and product.url contains "-bblackstr" %}
    <span class="variant-color-wrapper" title="Black Storm" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blackstr | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Black Storm" %}<span class="variant-color-wrapper" title="Black Storm" data-url="{% include 'removelist' %}-bblackstr"><img class="hedgren-color-inactive" src="{{ settings.blackstr | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Mustard Olive" and product.url contains "-mustardo" %}
    <span class="variant-color-wrapper" title="Mustard Olive" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mustardo | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Mustard Olive" %}<span class="variant-color-wrapper" title="Mustard Olive" data-url="{% include 'removelist' %}-mustardo"><img class="hedgren-color-inactive" src="{{ settings.mustardo | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Denim Blue" and product.url contains "-ddenimb" %}
    <span class="variant-color-wrapper" title="Denim Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.denimb | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Denim Blue" %}<span class="variant-color-wrapper" title="Denim Blue" data-url="{% include 'removelist' %}-ddenimb"><img class="hedgren-color-inactive" src="{{ settings.denimb | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Salsa Red" and product.url contains "-salsar" %}
    <span class="variant-color-wrapper" title="Salsa Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.salsar | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Salsa Red" %}<span class="variant-color-wrapper" title="Salsa Red" data-url="{% include 'removelist' %}-salsar"><img class="hedgren-color-inactive" src="{{ settings.salsar | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Bamboo Mix" and product.url contains "-bamboom" %}
    <span class="variant-color-wrapper" title="Bamboo Mix" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bamboom | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Bamboo Mix" %}<span class="variant-color-wrapper" title="Bamboo Mix" data-url="{% include 'removelist' %}-bamboom"><img class="hedgren-color-inactive" src="{{ settings.bamboom | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Classic Mix" and product.url contains "-classicm" %}
    <span class="variant-color-wrapper" title="Classic Mix" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.classicm | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Classic Mix" %}<span class="variant-color-wrapper" title="Classic Mix" data-url="{% include 'removelist' %}-classicm"><img class="hedgren-color-inactive" src="{{ settings.classicm | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Coktail Mix" and product.url contains "-coktailm" %}
    <span class="variant-color-wrapper" title="Coktail Mix" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.coktailm | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Coktail Mix" %}<span class="variant-color-wrapper" title="Coktail Mix" data-url="{% include 'removelist' %}-coktailm"><img class="hedgren-color-inactive" src="{{ settings.coktailm | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Winter Floral Print" and product.url contains "-floralpr" %}
    <span class="variant-color-wrapper" title="Winter Floral Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.floralpr | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Winter Floral Print" %}<span class="variant-color-wrapper" title="Winter Floral Print" data-url="{% include 'removelist' %}-floralpr"><img class="hedgren-color-inactive" src="{{ settings.floralpr | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Silvery" and product.url contains "-slvr" %}
    <span class="variant-color-wrapper" title="Silvery" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.slvr | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Silvery" %}<span class="variant-color-wrapper" title="Silvery" data-url="{% include 'removelist' %}-slvr"><img class="hedgren-color-inactive" src="{{ settings.slvr | img_url: '' }}"></span>
     {% endif %}

 {% if product.tags contains "2.Color_Copper" and product.url contains "-copper" %}
    <span class="variant-color-wrapper" title="Copper" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.copper | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Copper" %}<span class="variant-color-wrapper" title="Copper" data-url="{% include 'removelist' %}-copper"><img class="hedgren-color-inactive" src="{{ settings.copper | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Comet Beige" and product.url contains "-cometb" %}
    <span class="variant-color-wrapper" title="Comet Beige" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cometb | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Comet Beige" %}<span class="variant-color-wrapper" title="Comet Beige" data-url="{% include 'removelist' %}-cometb"><img class="hedgren-color-inactive" src="{{ settings.cometb | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Lava Red" and product.url contains "-lavar" %}
    <span class="variant-color-wrapper" title="Lava Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.lavar | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Lava Red" %}<span class="variant-color-wrapper" title="Lava Red" data-url="{% include 'removelist' %}-lavar"><img class="hedgren-color-inactive" src="{{ settings.lavar | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Malachite Green" and product.url contains "-malachiteg" %}
    <span class="variant-color-wrapper" title="Malachite Green" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.malachiteg | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Malachite Green" %}<span class="variant-color-wrapper" title="Malachite Green" data-url="{% include 'removelist' %}-malachiteg"><img class="hedgren-color-inactive" src="{{ settings.malachiteg | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Neptune Blue" and product.url contains "-neptuneb" %}
    <span class="variant-color-wrapper" title="Neptune Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.neptuneb | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Neptune Blue" %}<span class="variant-color-wrapper" title="Neptune Blue" data-url="{% include 'removelist' %}-neptuneb"><img class="hedgren-color-inactive" src="{{ settings.neptuneb | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Saffron" and product.url contains "-saffron" %}
    <span class="variant-color-wrapper" title="Saffron" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.saffron | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Saffron" %}<span class="variant-color-wrapper" title="Saffron" data-url="{% include 'removelist' %}-saffron"><img class="hedgren-color-inactive" src="{{ settings.saffron | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Sienna" and product.url contains "-sienna" %}
    <span class="variant-color-wrapper" title="Sienna" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sienna | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Sienna" %}<span class="variant-color-wrapper" title="Sienna" data-url="{% include 'removelist' %}-sienna"><img class="hedgren-color-inactive" src="{{ settings.sienna | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Aubergina Print" and product.url contains "-auberginap" %}
    <span class="variant-color-wrapper" title="Aubergina Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.auberginap | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Aubergina Print" %}<span class="variant-color-wrapper" title="Aubergina Print" data-url="{% include 'removelist' %}-auberginap"><img class="hedgren-color-inactive" src="{{ settings.auberginap | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Essence Birch" and product.url contains "-ebirch" %}
    <span class="variant-color-wrapper" title="Essence Birch" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ebirch | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Essence Birch" %}<span class="variant-color-wrapper" title="Essence Birch" data-url="{% include 'removelist' %}-ebirch"><img class="hedgren-color-inactive" src="{{ settings.ebirch | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Essentials Mix" and product.url contains "-essmix" %}
    <span class="variant-color-wrapper" title="Essentials Mix" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.essmix | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Essentials Mix" %}<span class="variant-color-wrapper" title="Essentials Mix" data-url="{% include 'removelist' %}-essmix"><img class="hedgren-color-inactive" src="{{ settings.essmix | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Toscan Sunset Mix" and product.url contains "-toscansun" %}
    <span class="variant-color-wrapper" title="Toscan Sunset Mix" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.toscansun | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Toscan Sunset Mix" %}<span class="variant-color-wrapper" title="Toscan Sunset Mix" data-url="{% include 'removelist' %}-toscansun"><img class="hedgren-color-inactive" src="{{ settings.toscansun | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Cosmic Mix" and product.url contains "-cosmicm" %}
    <span class="variant-color-wrapper" title="Cosmic Mix" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cosmicm | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Cosmic Mix" %}<span class="variant-color-wrapper" title="Cosmic Mix" data-url="{% include 'removelist' %}-cosmicm"><img class="hedgren-color-inactive" src="{{ settings.cosmicm | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Urban Jungle" and product.url contains "-urbanj" %}
    <span class="variant-color-wrapper" title="Urban Jungle" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.urbanj | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Urban Jungle" %}<span class="variant-color-wrapper" title="Urban Jungle" data-url="{% include 'removelist' %}-urbanj"><img class="hedgren-color-inactive" src="{{ settings.urbanj | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Smokey Mauve" and product.url contains "-smokeym" %}
    <span class="variant-color-wrapper" title="Smokey Mauve" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.smokeym | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Smokey Mauve" %}<span class="variant-color-wrapper" title="Smokey Mauve" data-url="{% include 'removelist' %}-smokeym"><img class="hedgren-color-inactive" src="{{ settings.smokeym | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Biking Red" and product.url contains "-bikingr" %}
    <span class="variant-color-wrapper" title="Biking Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bikingr | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Biking Red" %}<span class="variant-color-wrapper" title="Biking Red" data-url="{% include 'removelist' %}-bikingr"><img class="hedgren-color-inactive" src="{{ settings.bikingr | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Total Eclipse" and product.url contains "-teclipse" %}
    <span class="variant-color-wrapper" title="Total Eclipse" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.teclipse | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Total Eclipse" %}<span class="variant-color-wrapper" title="Total Eclipse" data-url="{% include 'removelist' %}-teclipse"><img class="hedgren-color-inactive" src="{{ settings.teclipse | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Pearly White" and product.url contains "-pearlyw" %}
    <span class="variant-color-wrapper" title="Pearly White" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pearlyw | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Pearly White" %}<span class="variant-color-wrapper" title="Pearly White" data-url="{% include 'removelist' %}-pearlyw"><img class="hedgren-color-inactive" src="{{ settings.pearlyw | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Deep Blue" and product.url contains "-dpbl" %}
    <span class="variant-color-wrapper" title="Deep Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dpbl | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Deep Blue" %}<span class="variant-color-wrapper" title="Deep Blue" data-url="{% include 'removelist' %}-dpbl"><img class="hedgren-color-inactive" src="{{ settings.dpbl | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Jeans" and product.url contains "-jeans" %}
    <span class="variant-color-wrapper" title="Jeans" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.jeans | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Jeans" %}<span class="variant-color-wrapper" title="Jeans" data-url="{% include 'removelist' %}-jeans"><img class="hedgren-color-inactive" src="{{ settings.jeans | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Fumo Grey" and product.url contains "-fugr" %}
    <span class="variant-color-wrapper" title="Fumo Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.fugr | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Fumo Grey" %}<span class="variant-color-wrapper" title="Fumo Grey" data-url="{% include 'removelist' %}-fugr"><img class="hedgren-color-inactive" src="{{ settings.fugr | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Baltic Blue" and product.url contains "-baltbl" %}
    <span class="variant-color-wrapper" title="Baltic Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.baltbl | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Baltic Blue" %}<span class="variant-color-wrapper" title="Baltic Blue" data-url="{% include 'removelist' %}-baltbl"><img class="hedgren-color-inactive" src="{{ settings.baltbl | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Botanical Green" and product.url contains "-botgr" %}
    <span class="variant-color-wrapper" title="Botanical Green" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.botgr | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Botanical Green" %}<span class="variant-color-wrapper" title="Botanical Green" data-url="{% include 'removelist' %}-botgr"><img class="hedgren-color-inactive" src="{{ settings.botgr | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Purple Dusk" and product.url contains "-purdusk" %}
    <span class="variant-color-wrapper" title="Purple Dusk" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.purdusk | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Purple Dusk" %}<span class="variant-color-wrapper" title="Purple Dusk" data-url="{% include 'removelist' %}-purdusk"><img class="hedgren-color-inactive" src="{{ settings.purdusk | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Tiger Eye" and product.url contains "-tigreye" %}
    <span class="variant-color-wrapper" title="Tiger Eye" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tigreye | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Tiger Eye" %}<span class="variant-color-wrapper" title="Tiger Eye" data-url="{% include 'removelist' %}-tigreye"><img class="hedgren-color-inactive" src="{{ settings.tigreye | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Morning Sky" and product.url contains "-mornsky" %}
    <span class="variant-color-wrapper" title="Morning Sky" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mornsky | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Morning Sky" %}<span class="variant-color-wrapper" title="Morning Sky" data-url="{% include 'removelist' %}-mornsky"><img class="hedgren-color-inactive" src="{{ settings.mornsky | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Orchid Flower" and product.url contains "-orchflw" %}
    <span class="variant-color-wrapper" title="Orchid Flower" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.orchflw | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Orchid Flower" %}<span class="variant-color-wrapper" title="Orchid Flower" data-url="{% include 'removelist' %}-orchflw"><img class="hedgren-color-inactive" src="{{ settings.orchflw | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Essence Natural" and product.url contains "-esnatur" %}
    <span class="variant-color-wrapper" title="Essence Natural" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.esnatur | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Essence Natural" %}<span class="variant-color-wrapper" title="Essence Natural" data-url="{% include 'removelist' %}-esnatur"><img class="hedgren-color-inactive" src="{{ settings.esnatur | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Tan" and product.url contains "-tan" %}
    <span class="variant-color-wrapper" title="Tan" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tan | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Tan" %}<span class="variant-color-wrapper" title="Tan" data-url="{% include 'removelist' %}-tan"><img class="hedgren-color-inactive" src="{{ settings.tan | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Escape Mix" and product.url contains "-scamix" %}
    <span class="variant-color-wrapper" title="Escape Mix" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.scamix | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Escape Mix" %}<span class="variant-color-wrapper" title="Escape Mix" data-url="{% include 'removelist' %}-scamix"><img class="hedgren-color-inactive" src="{{ settings.scamix | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Cosmic Mix II" and product.url contains "-csmmx" %}
    <span class="variant-color-wrapper" title="Cosmic Mix II" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.csmmx | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Cosmic Mix II" %}<span class="variant-color-wrapper" title="Cosmic Mix II" data-url="{% include 'removelist' %}-csmmx"><img class="hedgren-color-inactive" src="{{ settings.csmmx | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Brown" and product.url contains "-brwn" %}
    <span class="variant-color-wrapper" title="Brown" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.brwn | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Brown" %}<span class="variant-color-wrapper" title="Brown" data-url="{% include 'removelist' %}-brwn"><img class="hedgren-color-inactive" src="{{ settings.brwn | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Coastal Fjord" and product.url contains "-coastalf" %}
    <span class="variant-color-wrapper" title="Coastal Fjord" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.coastalf | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Coastal Fjord" %}<span class="variant-color-wrapper" title="Coastal Fjord" data-url="{% include 'removelist' %}-coastalf"><img class="hedgren-color-inactive" src="{{ settings.coastalf | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Bitter Chocolate" and product.url contains "-btrchoc" %}
    <span class="variant-color-wrapper" title="Bitter Chocolate" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.btrchoc | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Bitter Chocolate" %}<span class="variant-color-wrapper" title="Bitter Chocolate" data-url="{% include 'removelist' %}-btrchoc"><img class="hedgren-color-inactive" src="{{ settings.btrchoc | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Cherry Mahogany" and product.url contains "-chrymah" %}
    <span class="variant-color-wrapper" title="Cherry Mahogany" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.chrymah | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Cherry Mahogany" %}<span class="variant-color-wrapper" title="Cherry Mahogany" data-url="{% include 'removelist' %}-chrymah"><img class="hedgren-color-inactive" src="{{ settings.chrymah | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Cedar Green" and product.url contains "-cedgr" %}
    <span class="variant-color-wrapper" title="Cedar Green" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cedgr | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Cedar Green" %}<span class="variant-color-wrapper" title="Cedar Green" data-url="{% include 'removelist' %}-cedgr"><img class="hedgren-color-inactive" src="{{ settings.cedgr | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Violet Berry" and product.url contains "-violber" %}
    <span class="variant-color-wrapper" title="Violet Berry" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.violber | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Violet Berry" %}<span class="variant-color-wrapper" title="Violet Berry" data-url="{% include 'removelist' %}-violber"><img class="hedgren-color-inactive" src="{{ settings.violber | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Oceanic Blue" and product.url contains "-oceanbl" %}
    <span class="variant-color-wrapper" title="Oceanic Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.oceanbl | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Oceanic Blue" %}<span class="variant-color-wrapper" title="Oceanic Blue" data-url="{% include 'removelist' %}-oceanbl"><img class="hedgren-color-inactive" src="{{ settings.oceanbl | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Deep Velvet" and product.url contains "-deepvel" %}
    <span class="variant-color-wrapper" title="Deep Velvet" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.deepvel | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Deep Velvet" %}<span class="variant-color-wrapper" title="Deep Velvet" data-url="{% include 'removelist' %}-deepvel"><img class="hedgren-color-inactive" src="{{ settings.deepvel | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Quilted Black" and product.url contains "-quiltbl" %}
    <span class="variant-color-wrapper" title="Quilted Black" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.quiltbl | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Quilted Black" %}<span class="variant-color-wrapper" title="Quilted Black" data-url="{% include 'removelist' %}-quiltbl"><img class="hedgren-color-inactive" src="{{ settings.quiltbl | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Essence Bark" and product.url contains "-ebark" %}
    <span class="variant-color-wrapper" title="Essence Bark" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ebark | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Essence Bark" %}<span class="variant-color-wrapper" title="Essence Bark" data-url="{% include 'removelist' %}-ebark"><img class="hedgren-color-inactive" src="{{ settings.ebark | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Coffee" and product.url contains "-coffee" %}
    <span class="variant-color-wrapper" title="Coffee" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.coffee | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Coffee" %}<span class="variant-color-wrapper" title="Coffee" data-url="{% include 'removelist' %}-coffee"><img class="hedgren-color-inactive" src="{{ settings.coffee | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Cork" and product.url contains "-cork" %}
    <span class="variant-color-wrapper" title="Cork" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cork | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Cork" %}<span class="variant-color-wrapper" title="Cork" data-url="{% include 'removelist' %}-cork"><img class="hedgren-color-inactive" src="{{ settings.cork | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Elegant Mix" and product.url contains "-elmix" %}
    <span class="variant-color-wrapper" title="Elegant Mix" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.elmix | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Elegant Mix" %}<span class="variant-color-wrapper" title="Elegant Mix" data-url="{% include 'removelist' %}-elmix"><img class="hedgren-color-inactive" src="{{ settings.elmix | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Cosmic Mix III" and product.url contains "-cosx" %}
    <span class="variant-color-wrapper" title="Cosmic Mix III" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cosx | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Cosmic Mix III" %}<span class="variant-color-wrapper" title="Cosmic Mix III" data-url="{% include 'removelist' %}-cosx"><img class="hedgren-color-inactive" src="{{ settings.cosx | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_City Blue" and product.url contains "-citbl" %}
    <span class="variant-color-wrapper" title="City Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.citbl | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_City Blue" %}<span class="variant-color-wrapper" title="City Blue" data-url="{% include 'removelist' %}-citbl"><img class="hedgren-color-inactive" src="{{ settings.citbl | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Deep Sea Blue" and product.url contains "-dsblue" %}
    <span class="variant-color-wrapper" title="Deep Sea Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dsblue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Deep Sea Blue" %}<span class="variant-color-wrapper" title="Deep Sea Blue" data-url="{% include 'removelist' %}-dsblue"><img class="hedgren-color-inactive" src="{{ settings.dsblue | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Uptown Brown" and product.url contains "-upbrw" %}
    <span class="variant-color-wrapper" title="Uptown Brown" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.upbrw | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Uptown Brown" %}<span class="variant-color-wrapper" title="Uptown Brown" data-url="{% include 'removelist' %}-upbrw"><img class="hedgren-color-inactive" src="{{ settings.upbrw | img_url: '' }}"></span>
     {% endif %}
     
{% if product.tags contains "2.Color_Cabernet" and product.url contains "-cabernet" %}
    <span class="variant-color-wrapper" title="Cabernet" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cabernet | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Cabernet" %}<span class="variant-color-wrapper" title="Cabernet" data-url="{% include 'removelist' %}-cabernet"><img class="hedgren-color-inactive" src="{{ settings.cabernet | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_White" and product.url contains "-white" %}
    <span class="variant-color-wrapper" title="White" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.white | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_White" %}<span class="variant-color-wrapper" title="White" data-url="{% include 'removelist' %}-white"><img class="hedgren-color-inactive" src="{{ settings.white | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Multicolor" and product.url contains "-multicolor" %}
    <span class="variant-color-wrapper" title="Multicolor" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.multicolor | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Multicolor" %}<span class="variant-color-wrapper" title="Multicolor" data-url="{% include 'removelist' %}-multicolor"><img class="hedgren-color-inactive" src="{{ settings.multicolor | img_url: '' }}"></span>
     {% endif %}     