    {% if product.tags contains "2.Color_Apricot Brandy / Off White" and product.url contains "-apricot-brandy-off" %}
    <a title="Apricot Brandy / Off White" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.apricot_brandy_off_white | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Apricot Brandy / Off White" %}<a title="Apricot Brandy / Off White" href="{% include 'removelist' %}-apricot-brandy-off"><img class="hedgren-color-inactive" src="{{ settings.apricot_brandy_off_white | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Astro Print" and product.url contains "-astro-print" %}
    <a title="Astro Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.astro_print | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Astro Print" %}<a title="Astro Print" href="{% include 'removelist' %}-astro-print"><img class="hedgren-color-inactive" src="{{ settings.astro_print | img_url: '' }}"></a>
     {% endif %}   
     {% if product.tags contains "2.Color_Blue/Logica" and product.url contains "-blogica" %}
    <a title="Blue/Logica" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue_logica | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Blue/Logica" %}<a title="Blue/Logica" href="{% include 'removelist' %}-blogica"><img class="hedgren-color-inactive" src="{{ settings.blue_logica | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Blue/Ripple Print" and product.url contains "-b-ripple-print" %}
    <a title="Blue/Ripple Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue_ripple_print | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Blue/Ripple Print" %}<a title="Blue/Ripple Print" href="{% include 'removelist' %}-b-ripple-print"><img class="hedgren-color-inactive" src="{{ settings.blue_ripple_print | img_url: '' }}"></a>
     {% endif %}    
    {% if product.tags contains "2.Color_Camo Print" and product.url contains "-camop" %}
    <a title="Camo Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.camo_print | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Camo Print" %}<a title="Camo Print" href="{% include 'removelist' %}-camop"><img class="hedgren-color-inactive" src="{{ settings.camo_print | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Citadel Blue" and product.url contains "-citadel" %}
    <a title="Citadel Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.citadel_blue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Citadel Blue" %}<a title="Citadel Blue" href="{% include 'removelist' %}-citadel"><img class="hedgren-color-inactive" src="{{ settings.citadel_blue | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Corsair" and product.url contains "-corsair" %}
    <a title="Corsair" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.corsair | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Corsair" %}<a title="Corsair" href="{% include 'removelist' %}-corsair"><img class="hedgren-color-inactive" src="{{ settings.corsair | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Cube Print" and product.url contains "-cubep" %}
    <a title="Cube Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cube_print | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Cube Print" %}<a title="Cube Print" href="{% include 'removelist' %}-cubep"><img class="hedgren-color-inactive" src="{{ settings.cube_print | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Dolphin Blue" and product.url contains "-dolphin" %}
    <a title="Dolphin Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dolphin_blue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Dolphin Blue" %}<a title="Dolphin Blue" href="{% include 'removelist' %}-dolphin"><img class="hedgren-color-inactive" src="{{ settings.dolphin_blue | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Ermine / Off White" and product.url contains "-ermine-off" %}
    <a title="Ermine / Off White" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ermine_off_white | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Ermine / Off White" %}<a title="Ermine / Off White" href="{% include 'removelist' %}-ermine-off"><img class="hedgren-color-inactive" src="{{ settings.ermine_off_white | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Graphic Attack" and product.url contains "-graphic-attack" %}
    <a title="Graphic Attack" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.graphic_attack | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Graphic Attack" %}<a title="Graphic Attack" href="{% include 'removelist' %}-graphic-attack"><img class="hedgren-color-inactive" src="{{ settings.graphic_attack | img_url: '' }}"></a>
     {% endif %}   
    {% if product.tags contains "2.Color_Malibu Blue" and product.url contains "-malibu" %}
    <a title="Malibu Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.malibu_blue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Malibu Blue" %}<a title="Malibu Blue" href="{% include 'removelist' %}-malibu"><img class="hedgren-color-inactive" src="{{ settings.malibu_blue | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Ocean Print" and product.url contains "-ocean-print" %}
    <a title="Ocean Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ocean_print | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Ocean Print" %}<a title="Ocean Print" href="{% include 'removelist' %}-ocean-print"><img class="hedgren-color-inactive" src="{{ settings.ocean_print | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Purple/Logica" and product.url contains "-p-logica" %}
    <a title="Purple/Logica" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.purple_logica | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Purple/Logica" %}<a title="Purple/Logica" href="{% include 'removelist' %}-p-logica"><img class="hedgren-color-inactive" src="{{ settings.purple_logica | img_url: '' }}"></a>
     {% endif %}  
    {% if product.tags contains "2.Color_Rhubarb / Off White" and product.url contains "rhubarb-off" %}
    <a title="Rhubarb / Off White" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rhubarb_off_white | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Rhubarb / Off White" %}<a title="Rhubarb / Off White" href="{% include 'removelist' %}-rhubarb-off"><img class="hedgren-color-inactive" src="{{ settings.rhubarb_off_white | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Rose/Ripple Print" and product.url contains "rose-ripple-print" %}
    <a title="Rose/Ripple Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rose_ripple_print | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Rose/Ripple Print" %}<a title="Rose/Ripple Print" href="{% include 'removelist' %}-rose-ripple-print"><img class="hedgren-color-inactive" src="{{ settings.rose_ripple_print | img_url: '' }}"></a>
     {% endif %}   
    {% if product.tags contains "2.Color_Stormy Sea" and product.url contains "stormy-sea" %}
    <a title="Stormy Sea" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.stormy_sea | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Stormy Sea" %}<a title="Stormy Sea" href="{% include 'removelist' %}-stormy-sea"><img class="hedgren-color-inactive" src="{{ settings.stormy_sea | img_url: '' }}"></a>
     {% endif %}   
    {% if product.tags contains "2.Color_Wine" and product.url contains "wine" %}
    <a title="Wine" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.wine | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Wine" %}<a title="Wine" href="{% include 'removelist' %}-wine"><img class="hedgren-color-inactive" src="{{ settings.wine | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Woven Print" and product.url contains "-woven-print" %}
    <a title="Woven Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.woven_print | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Woven Print" %}<a title="Woven Print" href="{% include 'removelist' %}-woven-print"><img class="hedgren-color-inactive" src="{{ settings.woven_print | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Grey / Blue" and product.url contains "gr-bl" %}
    <a title="Grey / Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.grey_blue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Grey / Blue" %}<a title="Grey / Blue" href="{% include 'removelist' %}-gr-bl"><img class="hedgren-color-inactive" src="{{ settings.grey_blue | img_url: '' }}"></a>
     {% endif %}
    
    {% if product.tags contains "2.Color_Black / Green" and product.url contains "bl-gr" %}
    <a title="Black / Green" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.black_green | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Black / Green" %}<a title="Black / Green" href="{% include 'removelist' %}-bl-gr"><img class="hedgren-color-inactive" src="{{ settings.black_green | img_url: '' }}"></a>
     {% endif %}
    
    {% if product.tags contains "2.Color_Black / Grey" and product.url contains "blgry" %}
    <a title="Black / Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.black_grey | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Black / Grey" %}<a title="Black / Grey" href="{% include 'removelist' %}-blgry"><img class="hedgren-color-inactive" src="{{ settings.black_grey | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Grape" and product.url contains "grape" %}
    <a title="Grape" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.grape | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Grape" %}<a title="Grape" href="{% include 'removelist' %}-grape"><img class="hedgren-color-inactive" src="{{ settings.grape | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Zinc" and product.url contains "zinc" %}
    <a title="Zinc" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.zinc | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Zinc" %}<a title="Zinc" href="{% include 'removelist' %}-zinc"><img class="hedgren-color-inactive" src="{{ settings.zinc | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Special Black" and product.url contains "spec-b" %}
    <a title="Special Black" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.special_black | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Special Black" %}<a title="Special Black" href="{% include 'removelist' %}-spec-b"><img class="hedgren-color-inactive" src="{{ settings.special_black | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Baked Apple" and product.url contains "baked-apple" %}
    <a title="Baked Apple" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.baked_apple | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Baked Apple" %}<a title="Baked Apple" href="{% include 'removelist' %}-baked-apple"><img class="hedgren-color-inactive" src="{{ settings.baked_apple | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Khaki" and product.url contains "khaki" %}
    <a title="Khaki" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.khaki | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Khaki" %}<a title="Khaki" href="{% include 'removelist' %}-khaki"><img class="hedgren-color-inactive" src="{{ settings.khaki | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Blue Sapphire" and product.url contains "sapphire" %}
    <a title="Blue Sapphire" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue_sapphire | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Blue Sapphire" %}<a title="Blue Sapphire" href="{% include 'removelist' %}-sapphire"><img class="hedgren-color-inactive" src="{{ settings.blue_sapphire | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Sepia/Brown" and product.url contains "sepia" %}
    <a title="Sepia/Brown" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sepia_brown | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Sepia/Brown" %}<a title="Sepia/Brown" href="{% include 'removelist' %}-sepia"><img class="hedgren-color-inactive" src="{{ settings.sepia_brown | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Dress Blue" and product.url contains "dressb" %}
    <a title="Dress Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dress_blue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Dress Blue" %}<a title="Dress Blue" href="{% include 'removelist' %}-dressb"><img class="hedgren-color-inactive" src="{{ settings.dress_blue | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Magnet" and product.url contains "magnet" %}
    <a title="Magnet" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.magnet | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Magnet" %}<a title="Magnet" href="{% include 'removelist' %}-magnet"><img class="hedgren-color-inactive" src="{{ settings.magnet | img_url: '' }}"></a>
     {% endif %}   
    {% if product.tags contains "2.Color_Falcon Grey" and product.url contains "falcon" %}
    <a title="Falcon Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.falcon_grey | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Falcon Grey" %}<a title="Falcon Grey" href="{% include 'removelist' %}-falcon"><img class="hedgren-color-inactive" src="{{ settings.falcon_grey | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Parisian Night Blue" and product.url contains "parisian-night" %}
    <a title="Parisian Night Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.parisian_night_blue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Parisian Night Blue" %}<a title="Parisian Night Blue" href="{% include 'removelist' %}-parisian-night"><img class="hedgren-color-inactive" src="{{ settings.parisian_night_blue | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Tango Red" and product.url contains "-tango" %}
    <a title="Tango Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tango_red | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Tango Red" %}<a title="Tango Red" href="{% include 'removelist' %}-tango"><img class="hedgren-color-inactive" src="{{ settings.tango_red | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Dark Denim" and product.url contains "-denim" %}
    <a title="Dark Denim" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dark_denim | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Dark Denim" %}<a title="Dark Denim" href="{% include 'removelist' %}-denim"><img class="hedgren-color-inactive" src="{{ settings.dark_denim | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Phantom" and product.url contains "-phantom" %}
    <a title="Phantom" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.phantom | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Phantom" %}<a title="Phantom" href="{% include 'removelist' %}-phantom"><img class="hedgren-color-inactive" src="{{ settings.phantom | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Chili Pepper" and product.url contains "-chili-pepper" %}
    <a title="Chili Pepper" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.chili_pepper | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Chili Pepper" %}<a title="Chili Pepper" href="{% include 'removelist' %}-chili-pepper"><img class="hedgren-color-inactive" src="{{ settings.chili_pepper | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Tornado Grey" and product.url contains "-tornado" %}
    <a title="Tornado Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tornado_grey | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Tornado Grey" %}<a title="Tornado Grey" href="{% include 'removelist' %}-tornado"><img class="hedgren-color-inactive" src="{{ settings.tornado_grey | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Purple Passion" and product.url contains "-passion" %}
    <a title="Purple Passion" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.purple_passion | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Purple Passion" %}<a title="Purple Passion" href="{% include 'removelist' %}-passion"><img class="hedgren-color-inactive" src="{{ settings.purple_passion | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Black/Red" and product.url contains "-bred" %}
    <a title="Black/Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.black_red | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Black/Red" %}<a title="Black/Red" href="{% include 'removelist' %}-bred"><img class="hedgren-color-inactive" src="{{ settings.black_red | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Silver/Red" and product.url contains "-sred" %}
    <a title="Silver/Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.silver_red | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Silver/Red" %}<a title="Silver/Red" href="{% include 'removelist' %}-sred"><img class="hedgren-color-inactive" src="{{ settings.silver_red | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Red/Silver" and product.url contains "-rsilver" %}
    <a title="Red/Silver" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.red_silver | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Red/Silver" %}<a title="Red/Silver" href="{% include 'removelist' %}-rsilver"><img class="hedgren-color-inactive" src="{{ settings.red_silver | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Golden Olive" and product.url contains "-golive" %}
    <a title="Golden Olive" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.golden_olive | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Golden Olive" %}<a title="Golden Olive" href="{% include 'removelist' %}-golive"><img class="hedgren-color-inactive" src="{{ settings.golden_olive | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Rooibos Tea" and product.url contains "-rooibos" %}
    <a title="Rooibos Tea" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rooibos_tea | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Rooibos Tea" %}<a title="Rooibos Tea" href="{% include 'removelist' %}-rooibos"><img class="hedgren-color-inactive" src="{{ settings.rooibos_tea | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Nautical Blue" and product.url contains "-nautical" %}
    <a title="Nautical Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.nautical_blue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Nautical Blue" %}<a title="Nautical Blue" href="{% include 'removelist' %}-nautical"><img class="hedgren-color-inactive" src="{{ settings.nautical_blue | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Anthracite" and product.url contains "-anthracite" %}
    <a title="Anthracite" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.anthracite | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Anthracite" %}<a title="Anthracite" href="{% include 'removelist' %}-anthracite"><img class="hedgren-color-inactive" src="{{ settings.anthracite | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Ecru Olive" and product.url contains "-eolive" %}
    <a title="Ecru Olive" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ecru_olive | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Ecru Olive" %}<a title="Ecru Olive" href="{% include 'removelist' %}-eolive"><img class="hedgren-color-inactive" src="{{ settings.ecru_olive | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Chinois Green" and product.url contains "-chinois" %}
    <a title="Chinois Green" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.chinois_green | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Chinois Green" %}<a title="Chinois Green" href="{% include 'removelist' %}-chinois"><img class="hedgren-color-inactive" src="{{ settings.chinois_green | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Almond" and product.url contains "-almond" %}
    <a title="Almond" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.almond | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Almond" %}<a title="Almond" href="{% include 'removelist' %}-almond"><img class="hedgren-color-inactive" src="{{ settings.almond | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Mauvewood" and product.url contains "-mauvewood" %}
    <a title="Mauvewood" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mauvewood | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Mauvewood" %}<a title="Mauvewood" href="{% include 'removelist' %}-mauvewood"><img class="hedgren-color-inactive" src="{{ settings.mauvewood | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Sunset Gold" and product.url contains "-sunset" %}
    <a title="Sunset Gold" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sunset_gold | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Sunset Gold" %}<a title="Sunset Gold" href="{% include 'removelist' %}-sunset"><img class="hedgren-color-inactive" src="{{ settings.sunset_gold | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Castle Rock" and product.url contains "-castle" %}
    <a title="Castle Rock" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.castle_rock | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Castle Rock" %}<a title="Castle Rock" href="{% include 'removelist' %}-castle"><img class="hedgren-color-inactive" src="{{ settings.castle_rock | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Deep Lavander" and product.url contains "-lavander" %}
    <a title="Deep Lavander" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.deep_lavander | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Deep Lavander" %}<a title="Deep Lavander" href="{% include 'removelist' %}-lavander"><img class="hedgren-color-inactive" src="{{ settings.deep_lavander | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Blue Bird" and product.url contains "-bird" %}
    <a title="Blue Bird" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue_bird | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Blue Bird" %}<a title="Blue Bird" href="{% include 'removelist' %}-bird"><img class="hedgren-color-inactive" src="{{ settings.blue_bird | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Pavement" and product.url contains "-pavement" %}
    <a title="Pavement" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pavement | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Pavement" %}<a title="Pavement" href="{% include 'removelist' %}-pavement"><img class="hedgren-color-inactive" src="{{ settings.pavement | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Pomegranate" and product.url contains "-pomegranate" %}
    <a title="Pomegranate" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pomegranate | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Pomegranate" %}<a title="Pomegranate" href="{% include 'removelist' %}-pomegranate"><img class="hedgren-color-inactive" src="{{ settings.pomegranate | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Pink Jungle" and product.url contains "-jungle" %}
    <a title="Pink Jungle" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pink_jungle | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Pink Jungle" %}<a title="Pink Jungle" href="{% include 'removelist' %}-jungle"><img class="hedgren-color-inactive" src="{{ settings.pink_jungle | img_url: '' }}"></a>
     {% endif %}

    {% if product.tags contains "2.Color_Charcoal Grey" and product.url contains "-charcoal" %}
    <a title="Charcoal Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ccg | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Charcoal Grey" %}<a title="Charcoal Grey" href="{% include 'removelist' %}-charcoal"><img class="hedgren-color-inactive" src="{{ settings.ccg | img_url: '' }}"></a>
     {% endif %}

  {% if product.tags contains "2.Color_Scarab Green" and product.url contains "-scarabg" %}
    <a title="Scarab Green" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.scarabg | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Scarab Green" %}<a title="Scarab Green" href="{% include 'removelist' %}-scarabg"><img class="hedgren-color-inactive" src="{{ settings.scarabg | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Mars Red" and product.url contains "-marsr" %}
    <a title="Mars Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.marsr | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Mars Red" %}<a title="Mars Red" href="{% include 'removelist' %}-marsr"><img class="hedgren-color-inactive" src="{{ settings.marsr | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Lunar Rock" and product.url contains "-lunarr" %}
    <a title="Lunar Rock" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.lunarr | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Lunar Rock" %}<a title="Lunar Rock" href="{% include 'removelist' %}-lunarr"><img class="hedgren-color-inactive" src="{{ settings.lunarr | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Spiced Coral" and product.url contains "-spicedc" %}
    <a title="Spiced Coral" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.spicedc | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Spiced Coral" %}<a title="Spiced Coral" href="{% include 'removelist' %}-spicedc"><img class="hedgren-color-inactive" src="{{ settings.spicedc | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Cashmere Beige" and product.url contains "-cashmb" %}
    <a title="Cashmere Beige" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cashmb | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Cashmere Beige" %}<a title="Cashmere Beige" href="{% include 'removelist' %}-cashmb"><img class="hedgren-color-inactive" src="{{ settings.cashmb | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Linden Essence" and product.url contains "-lindene" %}
    <a title="Linden Essence" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.lindene | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Linden Essence" %}<a title="Linden Essence" href="{% include 'removelist' %}-lindene"><img class="hedgren-color-inactive" src="{{ settings.lindene | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Moss Print" and product.url contains "-mossp" %}
    <a title="Moss Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mossp | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Moss Print" %}<a title="Moss Print" href="{% include 'removelist' %}-mossp"><img class="hedgren-color-inactive" src="{{ settings.mossp | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Bamboo Print" and product.url contains "-bamboop" %}
    <a title="Bamboo Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bamboop | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Bamboo Print" %}<a title="Bamboo Print" href="{% include 'removelist' %}-bamboop"><img class="hedgren-color-inactive" src="{{ settings.bamboop | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Elegant Blue" and product.url contains "-elegantb" %}
    <a title="Elegant Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.elegantb | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Elegant Blue" %}<a title="Elegant Blue" href="{% include 'removelist' %}-elegantb"><img class="hedgren-color-inactive" src="{{ settings.elegantb | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Black Storm" and product.url contains "-bblackstr" %}
    <a title="Black Storm" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blackstr | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Black Storm" %}<a title="Black Storm" href="{% include 'removelist' %}-bblackstr"><img class="hedgren-color-inactive" src="{{ settings.blackstr | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Mustard Olive" and product.url contains "-mustardo" %}
    <a title="Mustard Olive" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mustardo | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Mustard Olive" %}<a title="Mustard Olive" href="{% include 'removelist' %}-mustardo"><img class="hedgren-color-inactive" src="{{ settings.mustardo | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Denim Blue" and product.url contains "-ddenimb" %}
    <a title="Denim Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.denimb | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Denim Blue" %}<a title="Denim Blue" href="{% include 'removelist' %}-ddenimb"><img class="hedgren-color-inactive" src="{{ settings.denimb | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Salsa Red" and product.url contains "-salsar" %}
    <a title="Salsa Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.salsar | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Salsa Red" %}<a title="Salsa Red" href="{% include 'removelist' %}-salsar"><img class="hedgren-color-inactive" src="{{ settings.salsar | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Bamboo Mix" and product.url contains "-bamboom" %}
    <a title="Bamboo Mix" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bamboom | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Bamboo Mix" %}<a title="Bamboo Mix" href="{% include 'removelist' %}-bamboom"><img class="hedgren-color-inactive" src="{{ settings.bamboom | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Classic Mix" and product.url contains "-classicm" %}
    <a title="Classic Mix" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.classicm | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Classic Mix" %}<a title="Classic Mix" href="{% include 'removelist' %}-classicm"><img class="hedgren-color-inactive" src="{{ settings.classicm | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Coktail Mix" and product.url contains "-coktailm" %}
    <a title="Coktail Mix" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.coktailm | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Coktail Mix" %}<a title="Coktail Mix" href="{% include 'removelist' %}-coktailm"><img class="hedgren-color-inactive" src="{{ settings.coktailm | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Winter Floral Print" and product.url contains "-floralpr" %}
    <a title="Winter Floral Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.floralpr | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Winter Floral Print" %}<a title="Winter Floral Print" href="{% include 'removelist' %}-floralpr"><img class="hedgren-color-inactive" src="{{ settings.floralpr | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Silvery" and product.url contains "-slvr" %}
    <a title="Silvery" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.slvr | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Silvery" %}<a title="Silvery" href="{% include 'removelist' %}-slvr"><img class="hedgren-color-inactive" src="{{ settings.slvr | img_url: '' }}"></a>
     {% endif %}

 {% if product.tags contains "2.Color_Copper" and product.url contains "-copper" %}
    <a title="Copper" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.copper | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Copper" %}<a title="Copper" href="{% include 'removelist' %}-copper"><img class="hedgren-color-inactive" src="{{ settings.copper | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Comet Beige" and product.url contains "-cometb" %}
    <a title="Comet Beige" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cometb | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Comet Beige" %}<a title="Comet Beige" href="{% include 'removelist' %}-cometb"><img class="hedgren-color-inactive" src="{{ settings.cometb | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Lava Red" and product.url contains "-lavar" %}
    <a title="Lava Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.lavar | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Lava Red" %}<a title="Lava Red" href="{% include 'removelist' %}-lavar"><img class="hedgren-color-inactive" src="{{ settings.lavar | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Malachite Green" and product.url contains "-malachiteg" %}
    <a title="Malachite Green" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.malachiteg | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Malachite Green" %}<a title="Malachite Green" href="{% include 'removelist' %}-malachiteg"><img class="hedgren-color-inactive" src="{{ settings.malachiteg | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Neptune Blue" and product.url contains "-neptuneb" %}
    <a title="Neptune Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.neptuneb | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Neptune Blue" %}<a title="Neptune Blue" href="{% include 'removelist' %}-neptuneb"><img class="hedgren-color-inactive" src="{{ settings.neptuneb | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Saffron" and product.url contains "-saffron" %}
    <a title="Saffron" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.saffron | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Saffron" %}<a title="Saffron" href="{% include 'removelist' %}-saffron"><img class="hedgren-color-inactive" src="{{ settings.saffron | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Sienna" and product.url contains "-sienna" %}
    <a title="Sienna" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sienna | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Sienna" %}<a title="Sienna" href="{% include 'removelist' %}-sienna"><img class="hedgren-color-inactive" src="{{ settings.sienna | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Aubergina Print" and product.url contains "-auberginap" %}
    <a title="Aubergina Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.auberginap | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Aubergina Print" %}<a title="Aubergina Print" href="{% include 'removelist' %}-auberginap"><img class="hedgren-color-inactive" src="{{ settings.auberginap | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Essence Birch" and product.url contains "-ebirch" %}
    <a title="Essence Birch" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ebirch | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Essence Birch" %}<a title="Essence Birch" href="{% include 'removelist' %}-ebirch"><img class="hedgren-color-inactive" src="{{ settings.ebirch | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Essentials Mix" and product.url contains "-essmix" %}
    <a title="Essentials Mix" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.essmix | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Essentials Mix" %}<a title="Essentials Mix" href="{% include 'removelist' %}-essmix"><img class="hedgren-color-inactive" src="{{ settings.essmix | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Toscan Sunset Mix" and product.url contains "-toscansun" %}
    <a title="Toscan Sunset Mix" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.toscansun | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Toscan Sunset Mix" %}<a title="Toscan Sunset Mix" href="{% include 'removelist' %}-toscansun"><img class="hedgren-color-inactive" src="{{ settings.toscansun | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Cosmic Mix" and product.url contains "-cosmicm" %}
    <a title="Cosmic Mix" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cosmicm | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Cosmic Mix" %}<a title="Cosmic Mix" href="{% include 'removelist' %}-cosmicm"><img class="hedgren-color-inactive" src="{{ settings.cosmicm | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Urban Jungle" and product.url contains "-urbanj" %}
    <a title="Urban Jungle" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.urbanj | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Urban Jungle" %}<a title="Urban Jungle" href="{% include 'removelist' %}-urbanj"><img class="hedgren-color-inactive" src="{{ settings.urbanj | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Smokey Mauve" and product.url contains "-smokeym" %}
    <a title="Smokey Mauve" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.smokeym | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Smokey Mauve" %}<a title="Smokey Mauve" href="{% include 'removelist' %}-smokeym"><img class="hedgren-color-inactive" src="{{ settings.smokeym | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Biking Red" and product.url contains "-bikingr" %}
    <a title="Biking Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bikingr | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Biking Red" %}<a title="Biking Red" href="{% include 'removelist' %}-bikingr"><img class="hedgren-color-inactive" src="{{ settings.bikingr | img_url: '' }}"></a>
     {% endif %}
