{% if product.tags contains "2.Color_Curry" and product.url contains "-curry" %}
    <a title="Curry" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.curry | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Curry" %}<a title="Curry" href="{% include 'removelist' %}-curry"><img class="hedgren-color-inactive" src="{{ settings.curry | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Sun Dried Tomato" and product.url contains "-tomato" %}
    <a title="Sun-Dried Tomato" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sun_dried_tomato | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Sun Dried Tomato" %}<a title="Sun-Dried Tomato" href="{% include 'removelist' %}-tomato"><img class="hedgren-color-inactive" src="{{ settings.sun_dried_tomato | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Titanium" and product.url contains "-titanium" %}
    <a title="Titanium" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.titanium | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Titanium" %}<a title="Titanium" href="{{ shop.url }}{% include 'removelist' %}-titanium"><img class="hedgren-color-inactive" src="{{ settings.titanium | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue Woven Print" and product.url contains "-dbwoven" %}
    <a title="Dark Blue Woven Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dark_blue_woven_print | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Dark Blue Woven Print" %}<a title="Dark Blue Woven Print" href="{% include 'removelist' %}-dbwoven"><img class="hedgren-color-inactive" src="{{ settings.dark_blue_woven_print | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Asphalt" and product.url contains "-asphalt" %}
    <a title="Asphalt" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.asphalt | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Asphalt" %}<a title="Asphalt" href="{% include 'removelist' %}-asphalt"><img class="hedgren-color-inactive" src="{{ settings.asphalt | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Emberglow Coral" and product.url contains "-emberglow" %}
    <a title="Emberglow Coral" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.emberglow_coral | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Emberglow Coral" %}<a title="Emberglow Coral" href="{% include 'removelist' %}-emberglow"><img class="hedgren-color-inactive" src="{{ settings.emberglow_coral | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Navy Peony" and product.url contains "-navy" %}
    <a title="Navy Peony" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.navy_peony | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Navy Peony" %}<a title="Navy Peony" href="{% include 'removelist' %}-navy"><img class="hedgren-color-inactive" src="{{ settings.navy_peony | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Legion Blue" and product.url contains "-legion" %}
    <a title="Legion Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.legion_blue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Legion Blue" %}<a title="Legion Blue" href="{% include 'removelist' %}-legion"><img class="hedgren-color-inactive" src="{{ settings.legion_blue | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Light Grey" and product.url contains "-lgrey" %}
    <a title="Light Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.light_grey | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Light Grey" %}<a title="Light Grey" href="{% include 'removelist' %}-lgrey"><img class="hedgren-color-inactive" src="{{ settings.light_grey | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Dark Grey" and product.url contains "-dgrey" %}
    <a title="Dark Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dark_grey | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Dark Grey" %}<a title="Dark Grey" href="{% include 'removelist' %}-dgrey"><img class="hedgren-color-inactive" src="{{ settings.dark_grey | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Baroque Rose" and product.url contains "-baroquer" %}
    <a title="Baroque Rose" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.baroquerose | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Baroque Rose" %}<a title="Baroque Rose" href="{% include 'removelist' %}-baroquer"><img class="hedgren-color-inactive" src="{{ settings.baroquerose | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Bright Navy" and product.url contains "-brightn" %}
    <a title="Bright Navy" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.brightnavy | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Bright Navy" %}<a title="Bright Navy" href="{% include 'removelist' %}-brightn"><img class="hedgren-color-inactive" src="{{ settings.brightnavy | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Timber Wolf Beige" and product.url contains "-timberwb" %}
    <a title="Timber Wolf Beige" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.timberwolfbeige | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Timber Wolf Beige" %}<a title="Timber Wolf Beige" href="{% include 'removelist' %}-timberwb"><img class="hedgren-color-inactive" src="{{ settings.timberwolfbeige | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Oasis Print" and product.url contains "-oasisp" %}
    <a title="Oasis Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.oasisprint | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Oasis Print" %}<a title="Oasis Print" href="{% include 'removelist' %}-oasisp"><img class="hedgren-color-inactive" src="{{ settings.oasisprint | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Anemone" and product.url contains "-anemone" %}
    <a title="Anemone" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.anemone | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Anemone" %}<a title="Anemone" href="{% include 'removelist' %}-anemone"><img class="hedgren-color-inactive" src="{{ settings.anemone | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Garnet Rose" and product.url contains "-garnetr" %}
    <a title="Garnet Rose" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.garnetrose | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Garnet Rose" %}<a title="Garnet Rose" href="{% include 'removelist' %}-garnetr"><img class="hedgren-color-inactive" src="{{ settings.garnetrose | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Capers" and product.url contains "-capers" %}
    <a title="Capers" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.capers | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Capers" %}<a title="Capers" href="{% include 'removelist' %}-capers"><img class="hedgren-color-inactive" src="{{ settings.capers | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Brittaney Blue" and product.url contains "-brittaneyb" %}
    <a title="Brittaney Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.brittaneyblue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Brittaney Blue" %}<a title="Brittaney Blue" href="{% include 'removelist' %}-brittaneyb"><img class="hedgren-color-inactive" src="{{ settings.brittaneyblue | img_url: '' }}"></a>
     {% endif %}
      {% if product.tags contains "2.Color_Aqua Print" and product.url contains "-aquap" %}
    <a title="Aqua Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.aquaprint | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Aqua Print" %}<a title="Aqua Print" href="{% include 'removelist' %}-aquap"><img class="hedgren-color-inactive" src="{{ settings.aquaprint | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Lizard" and product.url contains "-lizard" %}
    <a title="Lizard" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.lizard | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Lizard" %}<a title="Lizard" href="{% include 'removelist' %}-lizard"><img class="hedgren-color-inactive" src="{{ settings.lizard | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Sunburn" and product.url contains "-sburn" %}
    <a title="Sunburn" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sunburn | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Sunburn" %}<a title="Sunburn" href="{% include 'removelist' %}-sburn"><img class="hedgren-color-inactive" src="{{ settings.sunburn | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Blue Mirage" and product.url contains "-bmirage" %}
    <a title="Blue Mirage" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bluemirage | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Blue Mirage" %}<a title="Blue Mirage" href="{% include 'removelist' %}-bmirage"><img class="hedgren-color-inactive" src="{{ settings.bluemirage | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue" and product.url contains "-dblue" %}
    <a title="Dark Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.darkblue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Dark Blue" %}<a title="Dark Blue" href="{% include 'removelist' %}-dblue"><img class="hedgren-color-inactive" src="{{ settings.darkblue | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Mahogany Red" and product.url contains "-mred" %}
    <a title="Mahogany Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mahoganyred | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Mahogany Red" %}<a title="Mahogany Red" href="{% include 'removelist' %}-mred"><img class="hedgren-color-inactive" src="{{ settings.mahoganyred | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Dark Iron" and product.url contains "-diron" %}
    <a title="Dark Iron" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.darkiron | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Dark Iron" %}<a title="Dark Iron" href="{% include 'removelist' %}-diron"><img class="hedgren-color-inactive" src="{{ settings.darkiron | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Beech Khaki" and product.url contains "-bkhaki" %}
    <a title="Beech Khaki" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.beechkhaki | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Beech Khaki" %}<a title="Beech Khaki" href="{% include 'removelist' %}-bkhaki"><img class="hedgren-color-inactive" src="{{ settings.beechkhaki | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Rubber Camel" and product.url contains "-rcamel" %}
    <a title="Rubber Camel" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rubbercamel | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Rubber Camel" %}<a title="Rubber Camel" href="{% include 'removelist' %}-rcamel"><img class="hedgren-color-inactive" src="{{ settings.rubbercamel | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Beet Red" and product.url contains "-beetr" %}
    <a title="Beet Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.beetred | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Beet Red" %}<a title="Beet Red" href="{% include 'removelist' %}-beetr"><img class="hedgren-color-inactive" src="{{ settings.beetred | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Blue Opal" and product.url contains "-bopal" %}
    <a title="Blue Opal" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blueopal | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Blue Opal" %}<a title="Blue Opal" href="{% include 'removelist' %}-bopal"><img class="hedgren-color-inactive" src="{{ settings.blueopal | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Volcanic Glass Grey" and product.url contains "-volcanicg" %}
    <a title="Volcanic Glass Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.volcanicglassgrey | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Volcanic Glass Grey" %}<a title="Volcanic Glass Grey" href="{% include 'removelist' %}-volcanicg"><img class="hedgren-color-inactive" src="{{ settings.volcanicglassgrey | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Blush" and product.url contains "-blush" %}
    <a title="Blush" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blush | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Blush" %}<a title="Blush" href="{% include 'removelist' %}-blush"><img class="hedgren-color-inactive" src="{{ settings.blush | img_url: '' }}"></a>
     {% endif %}
     {% if product.tags contains "2.Color_Dark Champagne" and product.url contains "-dchampagne" %}
    <a title="Dark Champagne" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.darkchampagne | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Dark Champagne" %}<a title="Dark Champagne" href="{% include 'removelist' %}-dchampagne"><img class="hedgren-color-inactive" src="{{ settings.darkchampagne | img_url: '' }}"></a>
     {% endif %}
  {% if product.tags contains "2.Color_Black" and product.url contains "-black" %}
    <a title="Black" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.black | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Black" %}<a title="Black" href="{% include 'removelist' %}-black"><img class="hedgren-color-inactive" src="{{ settings.black | img_url: '' }}"></a>
     {% endif %}
   {% if product.tags contains "2.Color_Grey" and product.url contains "-grey" %}
    <a title="Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.grey | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Grey" %}<a title="Grey" href="{% include 'removelist' %}-grey"><img class="hedgren-color-inactive" src="{{ settings.grey | img_url: '' }}"></a>
     {% endif %}
      {% if product.tags contains "2.Color_Beige" and product.url contains "-beige" %}
    <a title="Beige" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.beige | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Beige" %}<a title="Beige" href="{% include 'removelist' %}-beige"><img class="hedgren-color-inactive" src="{{ settings.beige | img_url: '' }}"></a>
     {% endif %}
  {% if product.tags contains "2.Color_Blue" and product.url contains "-blue" %}
    <a title="Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Blue" %}<a title="Blue" href="{% include 'removelist' %}-blue"><img class="hedgren-color-inactive" src="{{ settings.blue | img_url: '' }}"></a>
     {% endif %}
    {% if product.tags contains "2.Color_Brown" and product.url contains "-brown" %}
    <a title="Brown" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.brown | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Brown" %}<a title="Brown" href="{% include 'removelist' %}-brown"><img class="hedgren-color-inactive" src="{{ settings.brown | img_url: '' }}"></a>
     {% endif %}
 {% if product.tags contains "2.Color_Green" and product.url contains "-green" %}
    <a title="Green" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.green | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Green" %}<a title="Green" href="{% include 'removelist' %}-green"><img class="hedgren-color-inactive" src="{{ settings.green | img_url: '' }}"></a>
     {% endif %}
 {% if product.tags contains "2.Color_Olive" and product.url contains "-olive" %}
    <a title="Olive" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.olive | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Olive" %}<a title="Olive" href="{% include 'removelist' %}-olive"><img class="hedgren-color-inactive" src="{{ settings.olive | img_url: '' }}"></a>
     {% endif %}
 {% if product.tags contains "2.Color_Orange" and product.url contains "-orange" %}
    <a title="Orange" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.orange | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Orange" %}<a title="Orange" href="-orange"><img class="hedgren-color-inactive" src="{{ settings.orange | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Pink" and product.url contains "-pink" %}
    <a title="Pink" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pink | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Pink" %}<a title="Pink" href="{% include 'removelist' %}-pink"><img class="hedgren-color-inactive" src="{{ settings.pink | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Purple" and product.url contains "-purple" %}
    <a title="Purple" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.purple | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Purple" %}<a title="Purple" href="{% include 'removelist' %}-purple"><img class="hedgren-color-inactive" src="{{ settings.purple | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Red" and product.url contains "-red" %}
    <a title="Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.red | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Red" %}<a title="Red" href="{{ shop.url }}{% include 'removelist' %}-red"><img class="hedgren-color-inactive" src="{{ settings.red | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Silver" and product.url contains "-silver" %}
    <a title="Silver" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.silver | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Silver" %}<a title="Silver" href="{% include 'removelist' %}-silver"><img class="hedgren-color-inactive" src="{{ settings.silver | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Turquoise" and product.url contains "-turquoise" %}
    <a title="Turquoise" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.turquoise | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Turquoise" %}<a title="Turquoise" href="{% include 'removelist' %}-turquoise"><img class="hedgren-color-inactive" src="{{ settings.turquoise | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Yellow" and product.url contains "-yellow" %}
    <a title="Yellow" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.yellow | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Yellow" %}<a title="Yellow" href="{% include 'removelist' %}-yellow"><img class="hedgren-color-inactive" src="{{ settings.yellow | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Marmalade" and product.url contains "-marmalade" %}
    <a title="Marmalade" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.marmalade | img_url: '' }}"> 
      </a>{% elsif product.tags contains "2.Color_Marmalade" %}<a title="Marmalade" href="{% include 'removelist' %}-marmalade"><img class="hedgren-color-inactive" src="{{ settings.marmalade | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Gradient Print" and product.url contains "-gradient" %}
    <a title="Gradient Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.gradient | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Gradient Print" %}<a title="Gradient Print" href="{% include 'removelist' %}-gradient"><img class="hedgren-color-inactive" src="{{ settings.gradient | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Tartan Print" and product.url contains "-tartan" %}
    <a title="Tartan Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tartan | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Tartan Print" %}<a title="Tartan Print" href="{% include 'removelist' %}-tartan"><img class="hedgren-color-inactive" src="{{ settings.tartan | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Active Blue" and product.url contains "-activeb" %}
    <a title="Active Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.activeb | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Active Blue" %}<a title="Active Blue" href="{% include 'removelist' %}-activeb"><img class="hedgren-color-inactive" src="{{ settings.activeb | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Bronze" and product.url contains "-bronze" %}
    <a title="Bronze" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bronze | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Bronze" %}<a title="Bronze" href="{% include 'removelist' %}-bronze"><img class="hedgren-color-inactive" src="{{ settings.bronze | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Flint Blue" and product.url contains "-flintb" %}
    <a title="Flint Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.flintb | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Flint Blue" %}<a title="Flint Blue" href="{% include 'removelist' %}-flintb"><img class="hedgren-color-inactive" src="{{ settings.flintb | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Mahogany Brown" and product.url contains "-mbrown" %}
    <a title="Mahogany Brown" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mbrown | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Mahogany Brown" %}<a title="Mahogany Brown" href="{% include 'removelist' %}-mbrown"><img class="hedgren-color-inactive" src="{{ settings.mbrown | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Rust Paisley Print" and product.url contains "-rustp" %}
    <a title="Rust Paisley Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rustp | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Rust Paisley Print" %}<a title="Rust Paisley Print" href="{% include 'removelist' %}-rustp"><img class="hedgren-color-inactive" src="{{ settings.rustp | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Mood Indigo" and product.url contains "-moodi" %}
    <a title="Mood Indigo" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.moodi | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Mood Indigo" %}<a title="Mood Indigo" href="{% include 'removelist' %}-moodi"><img class="hedgren-color-inactive" src="{{ settings.moodi | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Urban Camo" and product.url contains "-urbanc" %}
    <a title="Urban Camo" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.urbanc | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Urban Camo" %}<a title="Urban Camo" href="{% include 'removelist' %}-urbanc"><img class="hedgren-color-inactive" src="{{ settings.urbanc | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Silver Lineo" and product.url contains "-silver-lin" %}
    <a title="Silver" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.silver-lin | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Silver Lineo" %}<a title="Silver" href="{% include 'removelist' %}-silver-lin"><img class="hedgren-color-inactive" src="{{ settings.silver-lin | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Earth Green" and product.url contains "-egreen" %}
    <a title="Earth Green" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.egreen | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Earth Green" %}<a title="Earth Green" href="{% include 'removelist' %}-egreen"><img class="hedgren-color-inactive" src="{{ settings.egreen | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Galaxy Grey" and product.url contains "-ggrey" %}
    <a title="Galaxy Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ggrey | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Galaxy Grey" %}<a title="Galaxy Grey" href="{% include 'removelist' %}-ggrey"><img class="hedgren-color-inactive" src="{{ settings.ggrey | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Halo Blue" and product.url contains "-hblue" %}
    <a title="Halo Blue" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.hblue | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Halo Blue" %}<a title="Halo Blue" href="{% include 'removelist' %}-hblue"><img class="hedgren-color-inactive" src="{{ settings.hblue | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Craft Blue Print" and product.url contains "-cbprint" %}
    <a title="Craft Blue Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cbprint | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Craft Blue Print" %}<a title="Craft Blue Print" href="{% include 'removelist' %}-cbprint"><img class="hedgren-color-inactive" src="{{ settings.cbprint | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Sailor Print" and product.url contains "-sailorp" %}
    <a title="Sailor Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sailorp | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Sailor Print" %}<a title="Sailor Print" href="{% include 'removelist' %}-sailorp"><img class="hedgren-color-inactive" src="{{ settings.sailorp | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Active Grey" and product.url contains "-activeg" %}
    <a title="Active Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.activeg | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Active Grey" %}<a title="Active Grey" href="{% include 'removelist' %}-activeg"><img class="hedgren-color-inactive" src="{{ settings.activeg | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Rosewood" and product.url contains "-rosewood" %}
    <a title="Rosewood" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rosewood | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Rosewood" %}<a title="Rosewood" href="{% include 'removelist' %}-rosewood"><img class="hedgren-color-inactive" src="{{ settings.rosewood | img_url: '' }}"></a>
     {% endif %}
{% if product.tags contains "2.Color_Misty Lavender" and product.url contains "-mlavender" %}
    <a title="Misty Lavender" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mlavender | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Misty Lavender" %}<a title="Misty Lavender" href="{% include 'removelist' %}-mlavender"><img class="hedgren-color-inactive" src="{{ settings.mlavender | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Vineyard Wine" and product.url contains "-vineyard" %}
    <a title="Vineyard Wine" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.vineyard | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Vineyard Wine" %}<a title="Vineyard Wine" href="{% include 'removelist' %}-vineyard"><img class="hedgren-color-inactive" src="{{ settings.vineyard | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Olive Night" and product.url contains "-onight" %}
    <a title="Olive Night" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.onight | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Olive Night" %}<a title="Olive Night" href="{% include 'removelist' %}-onight"><img class="hedgren-color-inactive" src="{{ settings.onight | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Winter Craft Print" and product.url contains "-wcraftprint" %}
    <a title="Winter Craft Print" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.wcraftprint | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Winter Craft Print" %}<a title="Winter Craft Print" href="{% include 'removelist' %}-wcraftprint"><img class="hedgren-color-inactive" src="{{ settings.wcraftprint | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Active Ebony" and product.url contains "-aebony" %}
    <a title="Active Ebony" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.aebony | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Active Ebony" %}<a title="Active Ebony" href="{% include 'removelist' %}-aebony"><img class="hedgren-color-inactive" src="{{ settings.aebony | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Fig" and product.url contains "-fig" %}
    <a title="Fig" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.fig | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Fig" %}<a title="Fig" href="{% include 'removelist' %}-fig"><img class="hedgren-color-inactive" src="{{ settings.fig | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Tandoori Red" and product.url contains "-tandoorir" %}
    <a title="Tandoori Red" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tandoorir | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Tandoori Red" %}<a title="Tandoori Red" href="{% include 'removelist' %}-tandoorir"><img class="hedgren-color-inactive" src="{{ settings.tandoorir | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Iron Gate" and product.url contains "-igate" %}
    <a title="Iron Gate" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.igate | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Iron Gate" %}<a title="Iron Gate" href="{% include 'removelist' %}-igate"><img class="hedgren-color-inactive" src="{{ settings.igate | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Stylish Grey" and product.url contains "-stylishg" %}
    <a title="Stylish Grey" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.stylishg | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Stylish Grey" %}<a title="Stylish Grey" href="{% include 'removelist' %}-stylishg"><img class="hedgren-color-inactive" src="{{ settings.stylishg | img_url: '' }}"></a>
     {% endif %}

{% if product.tags contains "2.Color_Powder Pink" and product.url contains "-ppink" %}
    <a title="Powder Pink" href="{{ shop.url }}{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ppink | img_url: '' }}">
      </a>{% elsif product.tags contains "2.Color_Powder Pink" %}<a title="Powder Pink" href="{% include 'removelist' %}-ppink"><img class="hedgren-color-inactive" src="{{ settings.ppink | img_url: '' }}"></a>
     {% endif %}