{% if product.tags contains "2.Color_Curry" and product.url contains "-curry" %}
    <span class="variant-color-wrapper" title="Curry" data-url="{{ product.url }}">Curry
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Sun Dried Tomato" and product.url contains "-tomato" %}
    <span class="variant-color-wrapper" title="Sun-Dried Tomato" data-url="{{ product.url }}">Sun-Dried Tomato
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Titanium" and product.url contains "-titanium" %}
    <span class="variant-color-wrapper" title="Titanium" data-url="{{ product.url }}">Titanium
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue Woven Print" and product.url contains "-dbwoven" %}
    <span class="variant-color-wrapper" title="Dark Blue Woven Print" data-url="{{ product.url }}">Dark Blue Woven Print
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Asphalt" and product.url contains "-asphalt" %}
    <span class="variant-color-wrapper" title="Asphalt" data-url="{{ product.url }}">Asphalt
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Emberglow Coral" and product.url contains "-emberglow" %}
    <span class="variant-color-wrapper" title="Emberglow Coral" data-url="{{ product.url }}">Emberglow Coral
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Navy Peony" and product.url contains "-navy" %}
    <span class="variant-color-wrapper" title="Navy Peony" data-url="{{ product.url }}">Navy Peony
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Legion Blue" and product.url contains "-legion" %}
    <span class="variant-color-wrapper" title="Legion Blue" data-url="{{ product.url }}">Legion Blue
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Light Grey" and product.url contains "-lgrey" %}
    <span class="variant-color-wrapper" title="Light Grey" data-url="{{ product.url }}">Light Grey
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Dark Grey" and product.url contains "-dgrey" %}
    <span class="variant-color-wrapper" title="Dark Grey" data-url="{{ product.url }}">Dark Grey
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Baroque Rose" and product.url contains "-baroquer" %}
    <span class="variant-color-wrapper" title="Baroque Rose" data-url="{{ product.url }}">Baroque Rose
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Bright Navy" and product.url contains "-brightn" %}
    <span class="variant-color-wrapper" title="Bright Navy" data-url="{{ product.url }}">Bright Navy
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Timber Wolf Beige" and product.url contains "-timberwb" %}
    <span class="variant-color-wrapper" title="Timber Wolf Beige" data-url="{{ product.url }}">Timber Wolf Beige
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Oasis Print" and product.url contains "-oasisp" %}
    <span class="variant-color-wrapper" title="Oasis Print" data-url="{{ product.url }}">Oasis Print
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Anemone" and product.url contains "-anemone" %}
    <span class="variant-color-wrapper" title="Anemone" data-url="{{ product.url }}">Anemone
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Garnet Rose" and product.url contains "-garnetr" %}
    <span class="variant-color-wrapper" title="Garnet Rose" data-url="{{ product.url }}">Garnet Rose
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Capers" and product.url contains "-capers" %}
    <span class="variant-color-wrapper" title="Capers" data-url="{{ product.url }}">Capers
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Brittaney Blue" and product.url contains "-brittaneyb" %}
    <span class="variant-color-wrapper" title="Brittaney Blue" data-url="{{ product.url }}">Brittaney Blue
      </span>
     {% endif %}
      {% if product.tags contains "2.Color_Aqua Print" and product.url contains "-aquap" %}
    <span class="variant-color-wrapper" title="Aqua Print" data-url="{{ product.url }}">Aqua Print
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Lizard" and product.url contains "-lizard" %}
    <span class="variant-color-wrapper" title="Lizard" data-url="{{ product.url }}">Lizard
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Sunburn" and product.url contains "-sburn" %}
    <span class="variant-color-wrapper" title="Sunburn" data-url="{{ product.url }}">Sunburn
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Blue Mirage" and product.url contains "-bmirage" %}
    <span class="variant-color-wrapper" title="Blue Mirage" data-url="{{ product.url }}">Blue Mirage
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue" and product.url contains "-dblue" %}
    <span class="variant-color-wrapper" title="Dark Blue" data-url="{{ product.url }}">Dark Blue
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Mahogany Red" and product.url contains "-mred" %}
    <span class="variant-color-wrapper" title="Mahogany Red" data-url="{{ product.url }}">Mahogany Red
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Dark Iron" and product.url contains "-diron" %}
    <span class="variant-color-wrapper" title="Dark Iron" data-url="{{ product.url }}">Dark Iron
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Beech Khaki" and product.url contains "-bkhaki" %}
    <span class="variant-color-wrapper" title="Beech Khaki" data-url="{{ product.url }}">Beech Khaki
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Rubber Camel" and product.url contains "-rcamel" %}
    <span class="variant-color-wrapper" title="Rubber Camel" data-url="{{ product.url }}">Rubber Camel
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Beet Red" and product.url contains "-beetr" %}
    <span class="variant-color-wrapper" title="Beet Red" data-url="{{ product.url }}">Beet Red
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Blue Opal" and product.url contains "-bopal" %}
    <span class="variant-color-wrapper" title="Blue Opal" data-url="{{ product.url }}">Blue Opal
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Volcanic Glass Grey" and product.url contains "-volcanicg" %}
    <span class="variant-color-wrapper" title="Volcanic Glass Grey" data-url="{{ product.url }}">Volcanic Glass Grey
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Blush" and product.url contains "-blush" %}
    <span class="variant-color-wrapper" title="Blush" data-url="{{ product.url }}">Blush
      </span>
     {% endif %}
     {% if product.tags contains "2.Color_Dark Champagne" and product.url contains "-dchampagne" %}
    <span class="variant-color-wrapper" title="Dark Champagne" data-url="{{ product.url }}">Dark Champagne
      </span>
     {% endif %}
  {% if product.tags contains "2.Color_Black" and product.url contains "-black" %}
    <span class="variant-color-wrapper" title="Black" data-url="{{ product.url }}">Black
      </span>
     {% endif %}
   {% if product.tags contains "2.Color_Grey" and product.url contains "-grey" %}
    <span class="variant-color-wrapper" title="Grey" data-url="{{ product.url }}">Grey
      </span>
     {% endif %}
      {% if product.tags contains "2.Color_Beige" and product.url contains "-beige" %}
    <span class="variant-color-wrapper" title="Beige" data-url="{{ product.url }}">Beige
      </span>
     {% endif %}
  {% if product.tags contains "2.Color_Blue" and product.url contains "-blue" %}
    <span class="variant-color-wrapper" title="Blue" data-url="{{ product.url }}">Blue
      </span>
     {% endif %}
    {% if product.tags contains "2.Color_Brown" and product.url contains "-brown" %}
    <span class="variant-color-wrapper" title="Brown" data-url="{{ product.url }}">Brown
      </span>
     {% endif %}
 {% if product.tags contains "2.Color_Green" and product.url contains "-green" %}
    <span class="variant-color-wrapper" title="Green" data-url="{{ product.url }}">Green
      </span>
     {% endif %}
 {% if product.tags contains "2.Color_Olive" and product.url contains "-olive" %}
    <span class="variant-color-wrapper" title="Olive" data-url="{{ product.url }}">Olive
      </span>
     {% endif %}
 {% if product.tags contains "2.Color_Orange" and product.url contains "-orange" %}
    <span class="variant-color-wrapper" title="Orange" data-url="{{ product.url }}">Orange
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Pink" and product.url contains "-pink" %}
    <span class="variant-color-wrapper" title="Pink" data-url="{{ product.url }}">Pink
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Purple" and product.url contains "-purple" %}
    <span class="variant-color-wrapper" title="Purple" data-url="{{ product.url }}">Purple
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Red" and product.url contains "-red" %}
    <span class="variant-color-wrapper" title="Red" data-url="{{ product.url }}">Red
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Silver" and product.url contains "-silver" %}
    <span class="variant-color-wrapper" title="Silver" data-url="{{ product.url }}">Silver
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Turquoise" and product.url contains "-turquoise" %}
    <span class="variant-color-wrapper" title="Turquoise" data-url="{{ product.url }}">Turquoise
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Yellow" and product.url contains "-yellow" %}
    <span class="variant-color-wrapper" title="Yellow" data-url="{{ product.url }}">Yellow
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Marmalade" and product.url contains "-marmalade" %}
    <span class="variant-color-wrapper" title="Marmalade" data-url="{{ product.url }}">Marmalade
      </span>
     {% endif %}
{% if product.tags contains "2.Gradient Print" and product.url contains "-gradient" %}
    <span class="variant-color-wrapper" title="Gradient Print" data-url="{{ product.url }}">Gradient Print
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Tartan Print" and product.url contains "-tartan" %}
    <span class="variant-color-wrapper" title="Tartan Print" data-url="{{ product.url }}">Tartan Print
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Active Blue" and product.url contains "-activeb" %}
    <span class="variant-color-wrapper" title="Active Blue" data-url="{{ product.url }}">Active Blue
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Bronze" and product.url contains "-bronze" %}
    <span class="variant-color-wrapper" title="Bronze" data-url="{{ product.url }}">Bronze
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Flint Blue" and product.url contains "-flintb" %}
    <span class="variant-color-wrapper" title="Flint Blue" data-url="{{ product.url }}">Flint Blue
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Mahogany Brown" and product.url contains "-mbrown" %}
    <span class="variant-color-wrapper" title="Mahogany Brown" data-url="{{ product.url }}">Mahogany Brown
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Rust Paisley Print" and product.url contains "-rustp" %}
    <span class="variant-color-wrapper" title="Rust Paisley Print" data-url="{{ product.url }}">Rust Paisley Print
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Mood Indigo" and product.url contains "-moodi" %}
    <span class="variant-color-wrapper" title="Mood Indigo" data-url="{{ product.url }}">Mood Indigo
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Urban Camo" and product.url contains "-urbanc" %}
    <span class="variant-color-wrapper" title="Urban Camo" data-url="{{ product.url }}">Urban Camo
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Silver Lineo" and product.url contains "-silver-lin" %}
    <span class="variant-color-wrapper" title="Silver" data-url="{{ product.url }}">Silver
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Earth Green" and product.url contains "-egreen" %}
    <span class="variant-color-wrapper" title="Earth Green" data-url="{{ product.url }}">Earth Green
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Galaxy Grey" and product.url contains "-ggrey" %}
    <span class="variant-color-wrapper" title="Galaxy Grey" data-url="{{ product.url }}">Galaxy Grey
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Halo Blue" and product.url contains "-hblue" %}
    <span class="variant-color-wrapper" title="Halo Blue" data-url="{{ product.url }}">Halo Blue
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Craft Blue Print" and product.url contains "-cbprint" %}
    <span class="variant-color-wrapper" title="Craft Blue Print" data-url="{{ product.url }}">Craft Blue Print
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Sailor Print" and product.url contains "-sailorp" %}
    <span class="variant-color-wrapper" title="Sailor Print" data-url="{{ product.url }}">Sailor Print
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Active Grey" and product.url contains "-activeg" %}
    <span class="variant-color-wrapper" title="Active Grey" data-url="{{ product.url }}">Active Grey
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Rosewood" and product.url contains "-rosewood" %}
    <span class="variant-color-wrapper" title="Rosewood" data-url="{{ product.url }}">Rosewood
      </span>
     {% endif %}
{% if product.tags contains "2.Color_Misty Lavender" and product.url contains "-mlavender" %}
    <span class="variant-color-wrapper" title="Misty Lavender" data-url="{{ product.url }}">Misty Lavender
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Vineyard Wine" and product.url contains "-vineyard" %}
    <span class="variant-color-wrapper" title="Vineyard Wine" data-url="{{ product.url }}">Vineyard Wine
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Olive Night" and product.url contains "-onight" %}
    <span class="variant-color-wrapper" title="Olive Night" data-url="{{ product.url }}">Olive Night
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Winter Craft Print" and product.url contains "-wcraftprint" %}
    <span class="variant-color-wrapper" title="Winter Craft Print" data-url="{{ product.url }}">Winter Craft Print
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Active Ebony" and product.url contains "-aebony" %}
    <span class="variant-color-wrapper" title="Active Ebony" data-url="{{ product.url }}">Active Ebony
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Fig" and product.url contains "-fig" %}
    <span class="variant-color-wrapper" title="Fig" data-url="{{ product.url }}">Fig
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Tandoori Red" and product.url contains "-tandoorir" %}
    <span class="variant-color-wrapper" title="Tandoori Red" data-url="{{ product.url }}">Tandoori Red
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Iron Gate" and product.url contains "-igate" %}
    <span class="variant-color-wrapper" title="Iron Gate" data-url="{{ product.url }}">Iron Gate
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Stylish Grey" and product.url contains "-stylishg" %}
    <span class="variant-color-wrapper" title="Stylish Grey" data-url="{{ product.url }}">Stylish Grey
      </span>
     {% endif %}

{% if product.tags contains "2.Color_Powder Pink" and product.url contains "-ppink" %}
    <span class="variant-color-wrapper" title="Powder Pink" data-url="{{ product.url }}">Powder Pink
      </span>
     {% endif %}