{% if product.tags contains "2.Color_Curry" and product.url contains "-curry" %}
    <span class="variant-color-wrapper" title="Curry" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.curry | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Curry" %}<span class="variant-color-wrapper" title="Curry" data-url="{% include 'removelist' %}-curry"><img class="hedgren-color-inactive" src="{{ settings.curry | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Sun Dried Tomato" and product.url contains "-tomato" %}
    <span class="variant-color-wrapper" title="Sun-Dried Tomato" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sun_dried_tomato | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Sun Dried Tomato" %}<span class="variant-color-wrapper" title="Sun-Dried Tomato" data-url="{% include 'removelist' %}-tomato"><img class="hedgren-color-inactive" src="{{ settings.sun_dried_tomato | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Titanium" and product.url contains "-titanium" %}
    <span class="variant-color-wrapper" title="Titanium" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.titanium | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Titanium" %}<span class="variant-color-wrapper" title="Titanium" data-url="{% include 'removelist' %}-titanium"><img class="hedgren-color-inactive" src="{{ settings.titanium | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue Woven Print" and product.url contains "-dbwoven" %}
    <span class="variant-color-wrapper" title="Dark Blue Woven Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dark_blue_woven_print | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Dark Blue Woven Print" %}<span class="variant-color-wrapper" title="Dark Blue Woven Print" data-url="{% include 'removelist' %}-dbwoven"><img class="hedgren-color-inactive" src="{{ settings.dark_blue_woven_print | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Asphalt" and product.url contains "-asphalt" %}
    <span class="variant-color-wrapper" title="Asphalt" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.asphalt | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Asphalt" %}<span class="variant-color-wrapper" title="Asphalt" data-url="{% include 'removelist' %}-asphalt"><img class="hedgren-color-inactive" src="{{ settings.asphalt | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Emberglow Coral" and product.url contains "-emberglow" %}
    <span class="variant-color-wrapper" title="Emberglow Coral" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.emberglow_coral | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Emberglow Coral" %}<span class="variant-color-wrapper" title="Emberglow Coral" data-url="{% include 'removelist' %}-emberglow"><img class="hedgren-color-inactive" src="{{ settings.emberglow_coral | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Navy Peony" and product.url contains "-navy" %}
    <span class="variant-color-wrapper" title="Navy Peony" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.navy_peony | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Navy Peony" %}<span class="variant-color-wrapper" title="Navy Peony" data-url="{% include 'removelist' %}-navy"><img class="hedgren-color-inactive" src="{{ settings.navy_peony | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Legion Blue" and product.url contains "-legion" %}
    <span class="variant-color-wrapper" title="Legion Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.legion_blue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Legion Blue" %}<span class="variant-color-wrapper" title="Legion Blue" data-url="{% include 'removelist' %}-legion"><img class="hedgren-color-inactive" src="{{ settings.legion_blue | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Light Grey" and product.url contains "-lgrey" %}
    <span class="variant-color-wrapper" title="Light Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.light_grey | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Light Grey" %}<span class="variant-color-wrapper" title="Light Grey" data-url="{% include 'removelist' %}-lgrey"><img class="hedgren-color-inactive" src="{{ settings.light_grey | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Dark Grey" and product.url contains "-dgrey" %}
    <span class="variant-color-wrapper" title="Dark Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.dark_grey | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Dark Grey" %}<span class="variant-color-wrapper" title="Dark Grey" data-url="{% include 'removelist' %}-dgrey"><img class="hedgren-color-inactive" src="{{ settings.dark_grey | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Baroque Rose" and product.url contains "-baroquer" %}
    <span class="variant-color-wrapper" title="Baroque Rose" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.baroquerose | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Baroque Rose" %}<span class="variant-color-wrapper" title="Baroque Rose" data-url="{% include 'removelist' %}-baroquer"><img class="hedgren-color-inactive" src="{{ settings.baroquerose | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Bright Navy" and product.url contains "-brightn" %}
    <span class="variant-color-wrapper" title="Bright Navy" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.brightnavy | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Bright Navy" %}<span class="variant-color-wrapper" title="Bright Navy" data-url="{% include 'removelist' %}-brightn"><img class="hedgren-color-inactive" src="{{ settings.brightnavy | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Timber Wolf Beige" and product.url contains "-timberwb" %}
    <span class="variant-color-wrapper" title="Timber Wolf Beige" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.timberwolfbeige | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Timber Wolf Beige" %}<span class="variant-color-wrapper" title="Timber Wolf Beige" data-url="{% include 'removelist' %}-timberwb"><img class="hedgren-color-inactive" src="{{ settings.timberwolfbeige | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Oasis Print" and product.url contains "-oasisp" %}
    <span class="variant-color-wrapper" title="Oasis Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.oasisprint | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Oasis Print" %}<span class="variant-color-wrapper" title="Oasis Print" data-url="{% include 'removelist' %}-oasisp"><img class="hedgren-color-inactive" src="{{ settings.oasisprint | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Anemone" and product.url contains "-anemone" %}
    <span class="variant-color-wrapper" title="Anemone" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.anemone | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Anemone" %}<span class="variant-color-wrapper" title="Anemone" data-url="{% include 'removelist' %}-anemone"><img class="hedgren-color-inactive" src="{{ settings.anemone | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Garnet Rose" and product.url contains "-garnetr" %}
    <span class="variant-color-wrapper" title="Garnet Rose" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.garnetrose | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Garnet Rose" %}<span class="variant-color-wrapper" title="Garnet Rose" data-url="{% include 'removelist' %}-garnetr"><img class="hedgren-color-inactive" src="{{ settings.garnetrose | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Capers" and product.url contains "-capers" %}
    <span class="variant-color-wrapper" title="Capers" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.capers | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Capers" %}<span class="variant-color-wrapper" title="Capers" data-url="{% include 'removelist' %}-capers"><img class="hedgren-color-inactive" src="{{ settings.capers | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Brittaney Blue" and product.url contains "-brittaneyb" %}
    <span class="variant-color-wrapper" title="Brittaney Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.brittaneyblue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Brittaney Blue" %}<span class="variant-color-wrapper" title="Brittaney Blue" data-url="{% include 'removelist' %}-brittaneyb"><img class="hedgren-color-inactive" src="{{ settings.brittaneyblue | img_url: '' }}"></span>
     {% endif %}
      {% if product.tags contains "2.Color_Aqua Print" and product.url contains "-aquap" %}
    <span class="variant-color-wrapper" title="Aqua Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.aquaprint | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Aqua Print" %}<span class="variant-color-wrapper" title="Aqua Print" data-url="{% include 'removelist' %}-aquap"><img class="hedgren-color-inactive" src="{{ settings.aquaprint | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Lizard" and product.url contains "-lizard" %}
    <span class="variant-color-wrapper" title="Lizard" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.lizard | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Lizard" %}<span class="variant-color-wrapper" title="Lizard" data-url="{% include 'removelist' %}-lizard"><img class="hedgren-color-inactive" src="{{ settings.lizard | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Sunburn" and product.url contains "-sburn" %}
    <span class="variant-color-wrapper" title="Sunburn" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sunburn | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Sunburn" %}<span class="variant-color-wrapper" title="Sunburn" data-url="{% include 'removelist' %}-sburn"><img class="hedgren-color-inactive" src="{{ settings.sunburn | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Blue Mirage" and product.url contains "-bmirage" %}
    <span class="variant-color-wrapper" title="Blue Mirage" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bluemirage | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Blue Mirage" %}<span class="variant-color-wrapper" title="Blue Mirage" data-url="{% include 'removelist' %}-bmirage"><img class="hedgren-color-inactive" src="{{ settings.bluemirage | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Dark Blue" and product.url contains "-dblue" %}
    <span class="variant-color-wrapper" title="Dark Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.darkblue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Dark Blue" %}<span class="variant-color-wrapper" title="Dark Blue" data-url="{% include 'removelist' %}-dblue"><img class="hedgren-color-inactive" src="{{ settings.darkblue | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Mahogany Red" and product.url contains "-mred" %}
    <span class="variant-color-wrapper" title="Mahogany Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mahoganyred | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Mahogany Red" %}<span class="variant-color-wrapper" title="Mahogany Red" data-url="{% include 'removelist' %}-mred"><img class="hedgren-color-inactive" src="{{ settings.mahoganyred | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Dark Iron" and product.url contains "-diron" %}
    <span class="variant-color-wrapper" title="Dark Iron" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.darkiron | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Dark Iron" %}<span class="variant-color-wrapper" title="Dark Iron" data-url="{% include 'removelist' %}-diron"><img class="hedgren-color-inactive" src="{{ settings.darkiron | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Beech Khaki" and product.url contains "-bkhaki" %}
    <span class="variant-color-wrapper" title="Beech Khaki" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.beechkhaki | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Beech Khaki" %}<span class="variant-color-wrapper" title="Beech Khaki" data-url="{% include 'removelist' %}-bkhaki"><img class="hedgren-color-inactive" src="{{ settings.beechkhaki | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Rubber Camel" and product.url contains "-rcamel" %}
    <span class="variant-color-wrapper" title="Rubber Camel" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rubbercamel | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Rubber Camel" %}<span class="variant-color-wrapper" title="Rubber Camel" data-url="{% include 'removelist' %}-rcamel"><img class="hedgren-color-inactive" src="{{ settings.rubbercamel | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Beet Red" and product.url contains "-beetr" %}
    <span class="variant-color-wrapper" title="Beet Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.beetred | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Beet Red" %}<span class="variant-color-wrapper" title="Beet Red" data-url="{% include 'removelist' %}-beetr"><img class="hedgren-color-inactive" src="{{ settings.beetred | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Blue Opal" and product.url contains "-bopal" %}
    <span class="variant-color-wrapper" title="Blue Opal" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blueopal | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Blue Opal" %}<span class="variant-color-wrapper" title="Blue Opal" data-url="{% include 'removelist' %}-bopal"><img class="hedgren-color-inactive" src="{{ settings.blueopal | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Volcanic Glass Grey" and product.url contains "-volcanicg" %}
    <span class="variant-color-wrapper" title="Volcanic Glass Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.volcanicglassgrey | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Volcanic Glass Grey" %}<span class="variant-color-wrapper" title="Volcanic Glass Grey" data-url="{% include 'removelist' %}-volcanicg"><img class="hedgren-color-inactive" src="{{ settings.volcanicglassgrey | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Blush" and product.url contains "-blush" %}
    <span class="variant-color-wrapper" title="Blush" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blush | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Blush" %}<span class="variant-color-wrapper" title="Blush" data-url="{% include 'removelist' %}-blush"><img class="hedgren-color-inactive" src="{{ settings.blush | img_url: '' }}"></span>
     {% endif %}
     {% if product.tags contains "2.Color_Dark Champagne" and product.url contains "-dchampagne" %}
    <span class="variant-color-wrapper" title="Dark Champagne" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.darkchampagne | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Dark Champagne" %}<span class="variant-color-wrapper" title="Dark Champagne" data-url="{% include 'removelist' %}-dchampagne"><img class="hedgren-color-inactive" src="{{ settings.darkchampagne | img_url: '' }}"></span>
     {% endif %}
  {% if product.tags contains "2.Color_Black" and product.url contains "-black" %}
    <span class="variant-color-wrapper" title="Black" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.black | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Black" %}<span class="variant-color-wrapper" title="Black" data-url="{% include 'removelist' %}-black"><img class="hedgren-color-inactive" src="{{ settings.black | img_url: '' }}"></span>
     {% endif %}
   {% if product.tags contains "2.Color_Grey" and product.url contains "-grey" %}
    <span class="variant-color-wrapper" title="Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.grey | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Grey" %}<span class="variant-color-wrapper" title="Grey" data-url="{% include 'removelist' %}-grey"><img class="hedgren-color-inactive" src="{{ settings.grey | img_url: '' }}"></span>
     {% endif %}
      {% if product.tags contains "2.Color_Beige" and product.url contains "-beige" %}
    <span class="variant-color-wrapper" title="Beige" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.beige | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Beige" %}<span class="variant-color-wrapper" title="Beige" data-url="{% include 'removelist' %}-beige"><img class="hedgren-color-inactive" src="{{ settings.beige | img_url: '' }}"></span>
     {% endif %}
  {% if product.tags contains "2.Color_Blue" and product.url contains "-blue" %}
    <span class="variant-color-wrapper" title="Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.blue | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Blue" %}<span class="variant-color-wrapper" title="Blue" data-url="{% include 'removelist' %}-blue"><img class="hedgren-color-inactive" src="{{ settings.blue | img_url: '' }}"></span>
     {% endif %}
    {% if product.tags contains "2.Color_Brown" and product.url contains "-brown" %}
    <span class="variant-color-wrapper" title="Brown" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.brown | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Brown" %}<span class="variant-color-wrapper" title="Brown" data-url="{% include 'removelist' %}-brown"><img class="hedgren-color-inactive" src="{{ settings.brown | img_url: '' }}"></span>
     {% endif %}
 {% if product.tags contains "2.Color_Green" and product.url contains "-green" %}
    <span class="variant-color-wrapper" title="Green" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.green | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Green" %}<span class="variant-color-wrapper" title="Green" data-url="{% include 'removelist' %}-green"><img class="hedgren-color-inactive" src="{{ settings.green | img_url: '' }}"></span>
     {% endif %}
 {% if product.tags contains "2.Color_Olive" and product.url contains "-olive" %}
    <span class="variant-color-wrapper" title="Olive" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.olive | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Olive" %}<span class="variant-color-wrapper" title="Olive" data-url="{% include 'removelist' %}-olive"><img class="hedgren-color-inactive" src="{{ settings.olive | img_url: '' }}"></span>
     {% endif %}
 {% if product.tags contains "2.Color_Orange" and product.url contains "-orange" %}
    <span class="variant-color-wrapper" title="Orange" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.orange | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Orange" %}<span class="variant-color-wrapper" title="Orange" data-url="-orange"><img class="hedgren-color-inactive" src="{{ settings.orange | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Pink" and product.url contains "-pink" %}
    <span class="variant-color-wrapper" title="Pink" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pink | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Pink" %}<span class="variant-color-wrapper" title="Pink" data-url="{% include 'removelist' %}-pink"><img class="hedgren-color-inactive" src="{{ settings.pink | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Purple" and product.url contains "-purple" %}
    <span class="variant-color-wrapper" title="Purple" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.purple | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Purple" %}<span class="variant-color-wrapper" title="Purple" data-url="{% include 'removelist' %}-purple"><img class="hedgren-color-inactive" src="{{ settings.purple | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Red" and product.url contains "-red" %}
    <span class="variant-color-wrapper" title="Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.red | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Red" %}<span class="variant-color-wrapper" title="Red" data-url="{% include 'removelist' %}-red"><img class="hedgren-color-inactive" src="{{ settings.red | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Silver" and product.url contains "-silver" %}
    <span class="variant-color-wrapper" title="Silver" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.silver | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Silver" %}<span class="variant-color-wrapper" title="Silver" data-url="{% include 'removelist' %}-silver"><img class="hedgren-color-inactive" src="{{ settings.silver | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Turquoise" and product.url contains "-turquoise" %}
    <span class="variant-color-wrapper" title="Turquoise" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.turquoise | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Turquoise" %}<span class="variant-color-wrapper" title="Turquoise" data-url="{% include 'removelist' %}-turquoise"><img class="hedgren-color-inactive" src="{{ settings.turquoise | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Yellow" and product.url contains "-yellow" %}
    <span class="variant-color-wrapper" title="Yellow" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.yellow | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Yellow" %}<span class="variant-color-wrapper" title="Yellow" data-url="{% include 'removelist' %}-yellow"><img class="hedgren-color-inactive" src="{{ settings.yellow | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Marmalade" and product.url contains "-marmalade" %}
    <span class="variant-color-wrapper" title="Marmalade" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.marmalade | img_url: '' }}"> 
      </span>{% elsif product.tags contains "2.Color_Marmalade" %}<span class="variant-color-wrapper" title="Marmalade" data-url="{% include 'removelist' %}-marmalade"><img class="hedgren-color-inactive" src="{{ settings.marmalade | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Gradient Print" and product.url contains "-gradient" %}
    <span class="variant-color-wrapper" title="Gradient Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.gradient | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Gradient Print" %}<span class="variant-color-wrapper" title="Gradient Print" data-url="{% include 'removelist' %}-gradient"><img class="hedgren-color-inactive" src="{{ settings.gradient | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Tartan Print" and product.url contains "-tartan" %}
    <span class="variant-color-wrapper" title="Tartan Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tartan | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Tartan Print" %}<span class="variant-color-wrapper" title="Tartan Print" data-url="{% include 'removelist' %}-tartan"><img class="hedgren-color-inactive" src="{{ settings.tartan | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Active Blue" and product.url contains "-activeb" %}
    <span class="variant-color-wrapper" title="Active Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.activeb | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Active Blue" %}<span class="variant-color-wrapper" title="Active Blue" data-url="{% include 'removelist' %}-activeb"><img class="hedgren-color-inactive" src="{{ settings.activeb | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Bronze" and product.url contains "-bronze" %}
    <span class="variant-color-wrapper" title="Bronze" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.bronze | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Bronze" %}<span class="variant-color-wrapper" title="Bronze" data-url="{% include 'removelist' %}-bronze"><img class="hedgren-color-inactive" src="{{ settings.bronze | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Flint Blue" and product.url contains "-flintb" %}
    <span class="variant-color-wrapper" title="Flint Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.flintb | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Flint Blue" %}<span class="variant-color-wrapper" title="Flint Blue" data-url="{% include 'removelist' %}-flintb"><img class="hedgren-color-inactive" src="{{ settings.flintb | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Mahogany Brown" and product.url contains "-mbrown" %}
    <span class="variant-color-wrapper" title="Mahogany Brown" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mbrown | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Mahogany Brown" %}<span class="variant-color-wrapper" title="Mahogany Brown" data-url="{% include 'removelist' %}-mbrown"><img class="hedgren-color-inactive" src="{{ settings.mbrown | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Rust Paisley Print" and product.url contains "-rustp" %}
    <span class="variant-color-wrapper" title="Rust Paisley Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rustp | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Rust Paisley Print" %}<span class="variant-color-wrapper" title="Rust Paisley Print" data-url="{% include 'removelist' %}-rustp"><img class="hedgren-color-inactive" src="{{ settings.rustp | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Mood Indigo" and product.url contains "-moodi" %}
    <span class="variant-color-wrapper" title="Mood Indigo" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.moodi | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Mood Indigo" %}<span class="variant-color-wrapper" title="Mood Indigo" data-url="{% include 'removelist' %}-moodi"><img class="hedgren-color-inactive" src="{{ settings.moodi | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Urban Camo" and product.url contains "-urbanc" %}
    <span class="variant-color-wrapper" title="Urban Camo" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.urbanc | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Urban Camo" %}<span class="variant-color-wrapper" title="Urban Camo" data-url="{% include 'removelist' %}-urbanc"><img class="hedgren-color-inactive" src="{{ settings.urbanc | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Silver Lineo" and product.url contains "-silver-lin" %}
    <span class="variant-color-wrapper" title="Silver" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.silver-lin | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Silver Lineo" %}<span class="variant-color-wrapper" title="Silver" data-url="{% include 'removelist' %}-silver-lin"><img class="hedgren-color-inactive" src="{{ settings.silver-lin | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Earth Green" and product.url contains "-egreen" %}
    <span class="variant-color-wrapper" title="Earth Green" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.egreen | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Earth Green" %}<span class="variant-color-wrapper" title="Earth Green" data-url="{% include 'removelist' %}-egreen"><img class="hedgren-color-inactive" src="{{ settings.egreen | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Galaxy Grey" and product.url contains "-ggrey" %}
    <span class="variant-color-wrapper" title="Galaxy Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ggrey | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Galaxy Grey" %}<span class="variant-color-wrapper" title="Galaxy Grey" data-url="{% include 'removelist' %}-ggrey"><img class="hedgren-color-inactive" src="{{ settings.ggrey | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Halo Blue" and product.url contains "-hblue" %}
    <span class="variant-color-wrapper" title="Halo Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.hblue | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Halo Blue" %}<span class="variant-color-wrapper" title="Halo Blue" data-url="{% include 'removelist' %}-hblue"><img class="hedgren-color-inactive" src="{{ settings.hblue | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Craft Blue Print" and product.url contains "-cbprint" %}
    <span class="variant-color-wrapper" title="Craft Blue Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cbprint | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Craft Blue Print" %}<span class="variant-color-wrapper" title="Craft Blue Print" data-url="{% include 'removelist' %}-cbprint"><img class="hedgren-color-inactive" src="{{ settings.cbprint | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Sailor Print" and product.url contains "-sailorp" %}
    <span class="variant-color-wrapper" title="Sailor Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.sailorp | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Sailor Print" %}<span class="variant-color-wrapper" title="Sailor Print" data-url="{% include 'removelist' %}-sailorp"><img class="hedgren-color-inactive" src="{{ settings.sailorp | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Active Grey" and product.url contains "-activeg" %}
    <span class="variant-color-wrapper" title="Active Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.activeg | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Active Grey" %}<span class="variant-color-wrapper" title="Active Grey" data-url="{% include 'removelist' %}-activeg"><img class="hedgren-color-inactive" src="{{ settings.activeg | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Rosewood" and product.url contains "-rosewood" %}
    <span class="variant-color-wrapper" title="Rosewood" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.rosewood | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Rosewood" %}<span class="variant-color-wrapper" title="Rosewood" data-url="{% include 'removelist' %}-rosewood"><img class="hedgren-color-inactive" src="{{ settings.rosewood | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Misty Lavender" and product.url contains "-mlavender" %}
    <span class="variant-color-wrapper" title="Misty Lavender" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.mlavender | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Misty Lavender" %}<span class="variant-color-wrapper" title="Misty Lavender" data-url="{% include 'removelist' %}-mlavender"><img class="hedgren-color-inactive" src="{{ settings.mlavender | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Vineyard Wine" and product.url contains "-vineyard" %}
    <span class="variant-color-wrapper" title="Vineyard Wine" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.vineyard | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Vineyard Wine" %}<span class="variant-color-wrapper" title="Vineyard Wine" data-url="{% include 'removelist' %}-vineyard"><img class="hedgren-color-inactive" src="{{ settings.vineyard | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Olive Night" and product.url contains "-onight" %}
    <span class="variant-color-wrapper" title="Olive Night" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.onight | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Olive Night" %}<span class="variant-color-wrapper" title="Olive Night" data-url="{% include 'removelist' %}-onight"><img class="hedgren-color-inactive" src="{{ settings.onight | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Winter Craft Print" and product.url contains "-wcraftprint" %}
    <span class="variant-color-wrapper" title="Winter Craft Print" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.wcraftprint | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Winter Craft Print" %}<span class="variant-color-wrapper" title="Winter Craft Print" data-url="{% include 'removelist' %}-wcraftprint"><img class="hedgren-color-inactive" src="{{ settings.wcraftprint | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Active Ebony" and product.url contains "-aebony" %}
    <span class="variant-color-wrapper" title="Active Ebony" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.aebony | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Active Ebony" %}<span class="variant-color-wrapper" title="Active Ebony" data-url="{% include 'removelist' %}-aebony"><img class="hedgren-color-inactive" src="{{ settings.aebony | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Fig" and product.url contains "-fig" %}
    <span class="variant-color-wrapper" title="Fig" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.fig | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Fig" %}<span class="variant-color-wrapper" title="Fig" data-url="{% include 'removelist' %}-fig"><img class="hedgren-color-inactive" src="{{ settings.fig | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Tandoori Red" and product.url contains "-tandoorir" %}
    <span class="variant-color-wrapper" title="Tandoori Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.tandoorir | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Tandoori Red" %}<span class="variant-color-wrapper" title="Tandoori Red" data-url="{% include 'removelist' %}-tandoorir"><img class="hedgren-color-inactive" src="{{ settings.tandoorir | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Iron Gate" and product.url contains "-igate" %}
    <span class="variant-color-wrapper" title="Iron Gate" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.igate | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Iron Gate" %}<span class="variant-color-wrapper" title="Iron Gate" data-url="{% include 'removelist' %}-igate"><img class="hedgren-color-inactive" src="{{ settings.igate | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Stylish Grey" and product.url contains "-stylishg" %}
    <span class="variant-color-wrapper" title="Stylish Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.stylishg | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Stylish Grey" %}<span class="variant-color-wrapper" title="Stylish Grey" data-url="{% include 'removelist' %}-stylishg"><img class="hedgren-color-inactive" src="{{ settings.stylishg | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Powder Pink" and product.url contains "-ppink" %}
    <span class="variant-color-wrapper" title="Powder Pink" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.ppink | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Powder Pink" %}<span class="variant-color-wrapper" title="Powder Pink" data-url="{% include 'removelist' %}-ppink"><img class="hedgren-color-inactive" src="{{ settings.ppink | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Pirate Black" and product.url contains "-pblack" %}
    <span class="variant-color-wrapper" title="Pirate Black" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.pblack | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Pirate Black" %}<span class="variant-color-wrapper" title="Pirate Black" data-url="{% include 'removelist' %}-pblack"><img class="hedgren-color-inactive" src="{{ settings.pblack | img_url: '' }}"></span>
     {% endif %}

{% if product.tags contains "2.Color_Zen Grey" and product.url contains "-zgrey" %}
    <span class="variant-color-wrapper" title="Zen Grey" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.zgrey | img_url: '' }}">
      </span>{% elsif product.tags contains "2.Color_Zen Grey" %}<span class="variant-color-wrapper" title="Zen Grey" data-url="{% include 'removelist' %}-zgrey"><img class="hedgren-color-inactive" src="{{ settings.zgrey | img_url: '' }}"></span>
     {% endif %}
{% if product.tags contains "2.Color_Creased Black" and product.url contains "-creased-black" %}
 <span class="variant-color-wrapper" title="Creased Black" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.creased-black| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_Creased Black" %}<span class="variant-color-wrapper" title="Creased Black" data-url="{% include 'removelist' %}-creased-black"><img class="hedgren-color-inactive" src="{{ settings.creased-black| img_url: '' }}"></span>
{% endif %}

{% if product.tags contains "2.Color_Creased Safari Beige" and product.url contains "-creased-safari-beige" %}
 <span class="variant-color-wrapper" title="Creased Safari Beige" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.creased-safari-beige| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_Creased Safari Beige" %}<span class="variant-color-wrapper" title="Creased Safari Beige" data-url="{% include 'removelist' %}-creased-safari-beige"><img class="hedgren-color-inactive" src="{{ settings.creased-safari-beige| img_url: '' }}"></span>
{% endif %}

{% if product.tags contains "2.Color_Creased Strong Blue" and product.url contains "-creased-strong-blue" %}
 <span class="variant-color-wrapper" title="Creased Strong Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.creased-strong-blue| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_Creased Strong Blue" %}<span class="variant-color-wrapper" title="Creased Strong Blue" data-url="{% include 'removelist' %}-creased-strong-blue"><img class="hedgren-color-inactive" src="{{ settings.creased-strong-blue| img_url: '' }}"></span>
{% endif %}

{% if product.tags contains "2.Color_New Quilt Brandy Brown" and product.url contains "-nq-brandy-brown" %}
 <span class="variant-color-wrapper" title="New Quilt Brandy Brown" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.nq-brandy-brown| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_New Quilt Brandy Brown" %}<span class="variant-color-wrapper" title="New Quilt Brandy Brown" data-url="{% include 'removelist' %}-nq-brandy-brown"><img class="hedgren-color-inactive" src="{{ settings.nq-brandy-brown| img_url: '' }}"></span>
{% endif %}

{% if product.tags contains "2.Color_New Quilt Black" and product.url contains "-nq-black" %}
 <span class="variant-color-wrapper" title="New Quilt Black" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.nq-black| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_New Quilt Black" %}<span class="variant-color-wrapper" title="New Quilt Black" data-url="{% include 'removelist' %}-nq-black"><img class="hedgren-color-inactive" src="{{ settings.nq-black| img_url: '' }}"></span>
{% endif %}

{% if product.tags contains "2.Color_Northern Green" and product.url contains "-northern-green" %}
 <span class="variant-color-wrapper" title="Northern Green" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.northern-green| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_Northern Green" %}<span class="variant-color-wrapper" title="Northern Green" data-url="{% include 'removelist' %}-northern-green"><img class="hedgren-color-inactive" src="{{ settings.northern-green| img_url: '' }}"></span>
{% endif %}

{% if product.tags contains "2.Color_Strong Red" and product.url contains "-strong-red" %}
 <span class="variant-color-wrapper" title="Strong Red" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.strong-red| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_Strong Red" %}<span class="variant-color-wrapper" title="Strong Red" data-url="{% include 'removelist' %}-strong-red"><img class="hedgren-color-inactive" src="{{ settings.strong-red| img_url: '' }}"></span>
{% endif %}

{% if product.tags contains "2.Color_Safari Beige" and product.url contains "-safari-beige" %}
 <span class="variant-color-wrapper" title="Safari Beige" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.safari-beige| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_Safari Beige" %}<span class="variant-color-wrapper" title="Safari Beige" data-url="{% include 'removelist' %}-safari-beige"><img class="hedgren-color-inactive" src="{{ settings.safari-beige| img_url: '' }}"></span>
{% endif %}

{% if product.tags contains "2.Color_Strong Blue" and product.url contains "-strong-blue" %}
 <span class="variant-color-wrapper" title="Strong Blue" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.strong-blue| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_Strong Blue" %}<span class="variant-color-wrapper" title="Strong Blue" data-url="{% include 'removelist' %}-strong-blue"><img class="hedgren-color-inactive" src="{{ settings.strong-blue| img_url: '' }}"></span>
{% endif %}

{% if product.tags contains "2.Color_Cosmic Mix V" and product.url contains "-cosmic-mix5" %}
 <span class="variant-color-wrapper" title="Cosmic Mix V" data-url="{{ product.url }}"><img class="hedgren-color-active" src="{{ settings.cosmic-mix5| img_url: '' }}"> 
</span>{% elsif product.tags contains "2.Color_Cosmic Mix V" %}<span class="variant-color-wrapper" title="Cosmic Mix V" data-url="{% include 'removelist' %}-cosmic-mix5"><img class="hedgren-color-inactive" src="{{ settings.cosmic-mix5| img_url: '' }}"></span>
{% endif %}