{% if product.metafields.custom.color_name.value contains "black" %}
    <span class="meta-color-wrapper" title="Black" data-url="{{ product.url }}"><img class="meta-color-swatch" src="{{ settings.black | img_url: '' }}"> 
      </span>
     {% endif %}
     {% if product.metafields.custom.color_name.value contains "red" %}
    <span class="meta-color-wrapper" title="Red" data-url="{{ product.url }}"><img class="meta-color-swatch" src="{{ settings.red | img_url: '' }}"> 
      </span>
     {% endif %}
     {% if product.metafields.custom.color_name.value contains "blue" %}
    <span class="meta-color-wrapper" title="Blue" data-url="{{ product.url }}"><img class="meta-color-swatch" src="{{ settings.blue | img_url: '' }}"> 
      </span>
     {% endif %}
     {% if product.metafields.custom.color_name.value contains "green" %}
    <span class="meta-color-wrapper" title="Green" data-url="{{ product.url }}"><img class="meta-color-swatch" src="{{ settings.green | img_url: '' }}"> 
      </span>
     {% endif %}