{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer register">
  <span class="image-overlay no-t-m">
        {% include "svg-arrows-big-blue" %}
      </span> 
  <h2 class="register-heading">
    Register
  </h2>
  {%- form 'create_customer' -%}
    {%- if form.errors -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        {{ 'templates.contact.form.error_heading' | t }}
      </h3>
      <ul> 
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#RegisterForm-{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <div class="field">      
      <label for="RegisterForm-FirstName">
        Full name*
      </label>
      <input
        type="text"
        name="customer[first_name]"
        id="RegisterForm-FirstName"
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
        autocomplete="given-name"
        placeholder="First name"
        required
      />
      
    </div>
    <div class="field">      
      <label for="RegisterForm-LastName">
        Full name*
      </label>
      <input
        type="text"
        name="customer[last_name]"
        id="RegisterForm-LastName"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
        autocomplete="family-name"
        placeholder="Last name"
        required
      />
      
    </div>
    <div class="field"> 
      <label for="RegisterForm-email">
        e-mail*
      </label>
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="your@email.com"
      >
      
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error" class="form__message">
        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
      </span>
    {%- endif -%}
    <div class="field pwd-field rel">
      <label for="RegisterForm-password">
        Password*
      </label>
      <input
             class="pwd-input"
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="*********"
      >
      <div class="show-pwd">show</div>
      <div class="pwd-instructions">8 characters, 1 capital letter, 1 symbol</div>
    </div>
    {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error" class="form__message">
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
      </span>
    {%- endif -%}
    <button>
      REGISTER
    </button>
  {%- endform -%}
    <a href="/account/login">Already have an account? Log in here</a>
</div>
  
  <script>
  
  	$('.show-pwd').click(function(){
    if('password' == $('.pwd-input').attr('type')){
         $('.pwd-input').prop('type', 'text');
      	$(this).text('hide');
    }else{
         $('.pwd-input').prop('type', 'password');
      $(this).text('show');
    }
});
    
  </script>
