{{ 'hedgren-cart-drawer.css' | asset_url | stylesheet_tag }}
{% for item in cart.items %}
{% if section.settings.upsell.id == item.product.id %}
{% assign upsell = "added" %}
{% endif %}
{% endfor %}


<div class="drawer-cart">
  <div class="drawer-cart-header">
    <span class="close-cart">{% include 'icon-close-new' %}</span>
    <h2 class="cart-headign">cart</h2>
  </div>
  {% if cart.item_count == 0 %}
  <div class="drawer-cart-main-sec">
    <div class="cart-body c-empty">
      <div class="cart-empty">{{ section.settings.fill_text }} <a href="/collections/all">{{ section.settings.cart_text }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span></a>{% include "svg-bag" %}</div>      
    </div>
  </div>
  {% else %}
  <div class="drawer-cart-main-sec">
    <div class="cart-body {% if upsell %}upsell-added{% endif %}">
      {% for item in cart.items %}
      {% assign featured_image = item.variant.image.src | default: item.product.featured_image %}
      <div class="cart-product-wrapper">
        <div class="cart-product-image">
          <a href="{{ item.url }}"><img src="{{ featured_image | product_img_url: '590x' }}"></a>
        </div>
        <div class="cart-product-infos justify-between">
          <div class="cart-product-info flex-box justify-between">
            <div class="product-name">{{ item.product.title }}</div>
            <div class="product-price"><span class="product-discount-price">{{- item.variant.compare_at_price | money_without_trailing_zeros | replace: " ","" -}}</span><span class="product-selling-price">{{ item.final_price | money_without_trailing_zeros }}</span></div>
            <div class="product-color">Colour: {% unless item.variant.title contains "Default Title" %}{{ item.variant.title }}{% endunless %}</div>
          </div>
          <div class="cart-product-qty-del justify-between">
            <div class="cart-product-qty" data-quantity="1">
              <div class="qty-manipulation-symbol minus-symbol cart-minus" data-variant="{{ item.variant.id }}" data-value="{{item.quantity}}">-</div>
              <div class="cart-qty" value="{{item.quantity}}">{{item.quantity}}</div>
              <div class="qty-manipulation-symbol plus-symbol cart-plus" data-variant="{{ item.variant.id }}" data-value="{{item.quantity}}">+</div>
            </div>
            <div class="delete-cart-product" data-variant="{{ item.variant.id }}">
              <div class="delete-text">{{ section.settings.delete_text }}</div>
              <div class="delete-icon">{% include 'icon-delete-new' %}</div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
  <div class="drawer-cart-footer">
    {% unless upsell %}
    {% assign featured_image = section.settings.upsell.variant.image.src | default: section.settings.upsell.featured_image %}
    <div class="drawer-cart-upsell">
      <div class="upsell-title">{{ section.settings.people_text }}</div>
      <div class="upsell-product-wrap">
        <div class="upsell-product-image">
        	<img src="{{ featured_image | product_img_url: '100x' }}">
        </div>
        <div class="upsell-product-infos rel">
          <div class="upsell-product-title-price">
          	<div class="product-name">{{ section.settings.upsell.title }}</div>
            <div class="product-price upsell-price"><span class="product-compare-price upsell-compare-price">{{ section.settings.upsell.compare_at_price | money_without_trailing_zeros }}</span><span class="product-selling-price">{{ section.settings.upsell.price | money_without_trailing_zeros }}</span></div>
          </div>
          <div class="upsell-product-desc">{{ section.settings.upsell.type }}</div>
          <div class="product-color">Colour: {{ section.settings.upsell.options_by_name['Color'].values.first }}</div>
          <div class="add-upsell-prod add-this" data-variant="{{ section.settings.upsell.variants.first.id }}">ADD <span class="icon-plus">{% include 'icon-plus-new' %}</span></div>
        </div>
      </div>
    </div>
    {% endunless %}
    <div class="drawer-cart-checkout">
      <div class="checkout-subtotal justify-between">
        <div class="checkout-title">{{ section.settings.subtotal_text }}</div>
        <div class="subtotal">{{ cart.total_price | money_without_trailing_zeros }}</div>
      </div>
      <div class="checkout-shipping justify-between">
        <div class="shipping-title">{{ section.settings.shipping_text }}</div>
        <div class="shipping-price">{{ section.settings.calc_text }}</div>
      </div>
      <a href="/checkout" class="checkout-btn"><span class="secure-icon">{% render "svg-lock" %}</span> {{ section.settings.checkout_text }}</a>
      <a href="/collections/all" class="cont-shopping">{{ section.settings.continue_text }}</a>
    </div>
  </div>
  {% endif %}
  </div>
<script>
  {% if cart.item_count == 0 %}
  $('#draw_cart').addClass('empty-c');
  {% else %}
  $('#draw_cart').removeClass('empty-c');
  {% endif %}
</script>

<script>

  $('#draw_cart').click(function() {
    $('.drawer-cart').addClass('drawn');
    $('body').addClass('no-scroll');
  });

  $('.close-cart').click(function() {
    $('.drawer-cart').removeClass('drawn');
    $('body').removeClass('no-scroll');
  });
  
    $('.add-this').click(function() {
    var formData = {
      'items': [{
        'id': parseInt($(this).data('variant')),
        'quantity': 1
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {     
      $.ajax({
        url: '{% if shop_locale.primary %}/{% else %}/{{ shop_locale.root_url }}{% endif %}?sections=hedgren-cart-drawer',
        method: "GET",
        dataType: "json"
      })
      .done(function( data ) {
        $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
        $('.cart-remover').last().remove();
        $('.drawer-cart').addClass('drawn');
        $('body').addClass('no-scroll');
      })
      .fail(function(error) {
        console.log( error );
      });
    })
    .fail(function(error) {
      console.log( error );
    });
  });
  
    $('.delete-cart-product').click(function() {
    var formData = {
        'id': parseInt($(this).data('variant')),
        'quantity': 0
    };
    $.ajax({
      url: "/cart/change.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {     
      $.ajax({
        url: '{% if shop_locale.primary %}/{% else %}/{{ shop_locale.root_url }}{% endif %}?sections=hedgren-cart-drawer',
        method: "GET",
        dataType: "json"
      })
      .done(function( data ) {
        $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
        $('.cart-remover').last().remove();
        $('.drawer-cart').addClass('drawn');
        $('body').addClass('no-scroll');
      })
      .fail(function(error) {
        console.log( error );
      });
    })
    .fail(function(error) {
      console.log( error );
    });
  });
  
  $('.cart-minus').click(function() {
      var formData = {
          'id': parseInt($(this).data('variant')),
          'quantity': $(this).data('value')-1
      };
      $.ajax({
        url: "/cart/change.js",
        method: "POST",
        dataType: "json",
        data: formData,
      })
      .done(function( data ) {     
        $.ajax({
          url: '{% if shop_locale.primary %}/{% else %}/{{ shop_locale.root_url }}{% endif %}?sections=hedgren-cart-drawer',
          method: "GET",
          dataType: "json"
        })
        .done(function( data ) {
          $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
          $('.cart-remover').last().remove();
          $('.drawer-cart').addClass('drawn');
          $('body').addClass('no-scroll');
        })
        .fail(function(error) {
          console.log( error );
        });
      })
      .fail(function(error) {
        console.log( error );
      });
  });
  
  $('.cart-plus').click(function() {
      var formData = {
          'id': parseInt($(this).data('variant')),
          'quantity': $(this).data('value')+1
      };
      $.ajax({
        url: "/cart/change.js",
        method: "POST",
        dataType: "json",
        data: formData,
      })
      .done(function( data ) {     
        $.ajax({
          url: '{% if shop_locale.primary %}/{% else %}/{{ shop_locale.root_url }}{% endif %}?sections=hedgren-cart-drawer',
          method: "GET",
          dataType: "json"
        })
        .done(function( data ) {
          $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
          $('.cart-remover').last().remove();
          $('.drawer-cart').addClass('drawn');
          $('body').addClass('no-scroll');
        })
        .fail(function(error) {
          console.log( error );
        });
      })
      .fail(function(error) {
        console.log( error );
      });
  });
  

  $(document).ready(function() {

    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
      }
    };

    var opencart = getUrlParameter('cartopen');

    if(opencart == 'true') {        
      $(".drawer-cart").addClass("drawn");
      $(".background-drawer-cart").addClass("drawn");
    }

  });
</script>

{% schema %}
  {
    "name": "Ajax Cart",
	"class": "cart-remover",
    "settings": [
		{
			"id": "upsell",
			"type": "product",
			"label": "Upsell Product"
		},
		{
          "type": "text",
          "id": "fill_text",
          "label": "Fill text",
          "default": "Fill up your"
        },
		{
          "type": "text",
          "id": "cart_text",
          "label": "Cart text",
          "default": "cart"
        },
		{
          "type": "text",
          "id": "delete_text",
          "label": "Delete text",
          "default": "delete"
        },
		{
          "type": "text",
          "id": "people_text",
          "label": "People text",
          "default": "PEOPLE ALSO BOUGHT:"
        },
		{
          "type": "text",
          "id": "subtotal_text",
          "label": "Subtotal text",
          "default": "Subtotal"
        },
		{
          "type": "text",
          "id": "shipping_text",
          "label": "Shipping text",
          "default": "Shipping"
        },
		{
          "type": "text",
          "id": "calc_text",
          "label": "Calc text",
          "default": "Calculated at checkout"
        },
		{
          "type": "text",
          "id": "checkout_text",
          "label": "Checkout text",
          "default": "CHECKOUT"
        },
		{
          "type": "text",
          "id": "continue_text",
          "label": "Continue text",
          "default": "Continue shopping"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
