{% assign categoryp = "" %}
{% assign tagsp = "" %}
{% paginate collection.products by 900 %}
  {% for product in collection.products %}

    {% for tag in product.tags %}
      {% if tag contains "filter:" or tag contains "Filter:" %}
      	{% assign tagx = tag | split: "-" %}
      	{% assign tag_first = tagx[0] | strip | replace: "filter:","" | replace: "Filter:","" | strip %}
		{% unless categoryp contains tag_first %}
			{% if categoryp == "" %}
				{% assign categoryp = tag_first %}
			{% else %}
				{% assign categoryp = categoryp | append: "," | append: tag_first %}
			{% endif %}
		{% endunless %}
		{% assign tag_last = tagx[1] | strip | replace: " ","-" %}
			{% if tagsp == "" %}
				{% assign tagsp = tag_last %}
			{% else %}
				{% assign stringbuilder = "" %}
				{% assign categoryp_split = categoryp | split: "," %}
				{% assign index_no = 0 %}
				{% for categories in categoryp_split %}
					{% if categories == tag_first %}{% assign index_no = forloop.index0 %}{% endif %}
				{% endfor %}
				{% assign tagsp_split = tagsp | split: "|" %}
				{% assign tagsp_split_size = tagsp_split | size | minus: 1 %}
				{% if index_no > tagsp_split_size %}
					{% assign tagsp = tagsp | append: "|" | append: tag_last %}
				{% else %}
                  {% for tags in tagsp_split %}
                      {% if forloop.index0 == index_no %}
                          {% unless tags contains tag_last %}
							{% assign stringbuilder = tags | append: "," | append: tag_last %}
                          {% endunless %}
                      {% endif %}
                  {% endfor %}

					{% assign superstring = "" %}
                  {% for tags in tagsp_split %}
                      {% if forloop.index0 == index_no %}
						{% unless tags contains tag_last %}
                        {% if forloop.last %}
                            {% assign superstring = superstring | append: stringbuilder %}
                        {% else %}
                            {% assign superstring = superstring | append: stringbuilder | append: "|" %}
                        {% endif %}
						{% else %}
							{% if forloop.last %}
                                {% assign superstring = superstring | append: tags %}
                            {% else %}
                                {% assign superstring = superstring | append: tags | append: "|" %}
                            {% endif %}
						{% endunless %}
                      {% else %}
                        {% if forloop.last %}
                            {% assign superstring = superstring | append: tags %}
                        {% else %}
                            {% assign superstring = superstring | append: tags | append: "|" %}
                        {% endif %}
                      {% endif %}
                  {% endfor %}
					{% assign tagsp = superstring %}
				{% endif %}
			{% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endpaginate %}









{{ 'hedgren-product.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-all-products.css' | asset_url | stylesheet_tag }}

<style>
  .filter-wrap.selected .filter-checkbox{
    background-image: url('{{ 'check_2x.png' | asset_img_url: '100x' }}');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #000000;
      }
  .all-products-wrapper .hero-product .hero-product-images-block .variants {
    opacity: 1;
    margin-bottom: 0;
    align-items: center;
    background-color: #fff;
  }
  .all-products-wrapper .hero-product .hero-product-images-block .variants img{
    opacity: 1;
  }
</style>

<div class="all-products-wrapper">
  <div class="container">
    <div class="all-filters-sorts-wrap">
    <div class="filter-sort-products rel no-t-m">
      <div class="filters filters-filter">FILTER <span class="down-chev">{% include 'icon-down-chev-red' %}</span>

        <div class="filters-dropdown">
          <div class="filters-dropdown-wrap">
            <div class="filter-dropdown-left">
              <div class="filter-type">
                <div class="filter-type-title">TYPE OF BAG</div>
                <div class="filter-type-filters">
                  {% for i in (1..13) %}
                  <div class="filter-wrap">
                    <div class="filter-checkbox"></div>
                    <div class="filter-txt">Cross over</div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="filter-dropdown-right">
              <div class="filter-dropdown-right-left">
                <div class="filter-type">
                  <div class="filter-type-title">TYPE OF LUGGAGE</div>
                  <div class="filter-type-filters">
                    {% for i in (1..4) %}
                    <div class="filter-wrap">
                      <div class="filter-checkbox"></div>
                      <div class="filter-txt">Cabin luggage</div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="filter-type">
                  <div class="filter-type-title">LENGTH OF STAY</div>
                  <div class="filter-type-filters">
                    {% for i in (1..4) %}
                    <div class="filter-wrap">
                      <div class="filter-checkbox"></div>
                      <div class="filter-txt">Daytrip</div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="filter-dropdown-right-right">
                {% assign split_filter = categoryp | split: "," %}
                {% assign tags_filter = tagsp | split: "|" %}
                {% for filter in split_filter %}
                {% assign floopindex = forloop.index %}
                <div class="filter-type">
                  <div class="filter-type-title">SHOP FOR THE HEDGRENIST</div>
                  <div class="filter-type-filters">
                    {% assign tags = tags_filter[forloop.index0] | split: "," %}
                    <div class="filter-wrap">
                      {% for tag in tags %}    
                      <div class="filter-checkbox" data-value="{{filter | strip | replace: " ","-"}}-{{tag | replace: " ","-" | capitalize}}"></div>  
                      <div class="filter-txt">{{tag | replace: " ","-" | capitalize}}</div>        
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>

            </div>
            
          </div>
          <div class="apply-filters-btn">APPLY FILTER</div>
        </div>

      </div>

      <div class="filters sort-title-wrap">SORT <span class="down-chev">{% include 'icon-down-chev-red' %}</span>
        <div class="sort-wrap">
          <div class="sort new-first">Newest first</div>
          <div class="sort bestsellers">Bestsellers</div>
          <div class="sort ltoh">Price, low - high</div>
          <div class="sort htol">Price, high - low</div>
        </div>
      </div>
      </div>
      <div class="filter-sort-products rel no-d">
      <div class="filters filters-filter">FILTER <span class="down-chev">{% include 'icon-down-chev-red' %}</span>
      	
         <div class="filters-dropdown">
        <div class="filters-dropdown-wrap">
          <div class="filter-type">
          <div class="filter-type-title accordion">COLOURS <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
            <div class="color-options panel">
              {% for i in (1..3) %}
              <div class="color-wrap"><div class="variant-color grey-color"></div><div class="color-name">Grey</div></div>
              <div class="color-wrap"><div class="variant-color yellow-color"></div><div class="color-name">Yellow</div></div>
              <div class="color-wrap"><div class="variant-color blue-color"></div><div class="color-name">Blue</div></div>
              <div class="color-wrap"><div class="variant-color red-color"></div><div class="color-name">Red</div></div>
              {% endfor %}
            </div>
        </div>
          
        <div class="filter-type">
          <div class="filter-type-title accordion">TYPE OF BAG <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..13) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Cross over</div>
          </div>
          {% endfor %}
          </div>
        </div>
          	<div class="filter-type">
          <div class="filter-type-title accordion">TYPE OF LUGGAGE <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Cabin luggage</div>
          </div>
          {% endfor %}
          </div>
        </div>
            <div class="filter-type">
          <div class="filter-type-title accordion">LENGTH OF STAY <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Daytrip</div>
          </div>
          {% endfor %}
          </div>
        </div>
            <div class="filter-type">
          <div class="filter-type-title accordion">FEATURES <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Feature</div>
          </div>
          {% endfor %}
          </div>
        </div>
            <div class="filter-type">
          <div class="filter-type-title accordion">SHOP FOR THE HEDGRENIST <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">A parent person</div>
          </div>
          {% endfor %}
          </div>
        </div>
        	
        </div>
           <div class="apply-clear-filters-wrap">
             <div class="apply-clear-filters">
             <div class="clear-filters">CLEAR ALL</div>
        <div class="apply-filters-btn">APPLY FILTER</div>
             </div>
           </div>
      </div>
        
      </div>
     
      <div class="filters sort-title-wrap">SORT <span class="down-chev">{% include 'icon-down-chev-red' %}</span>
        <div class="sort-wrap">
          <div class="sort new-first">Newest first</div>
          <div class="sort bestsellers">Bestsellers</div>
          <div class="sort ltoh">Price, low - high</div>
          <div class="sort htol">Price, high - low</div>
        </div>
      </div>
    </div>
    <div class="color-options no-t-m">
      {% for i in (1..3) %}
      <div class="color-wrap"><div class="variant-color grey-color"></div><div class="color-name">Grey</div></div>
      <div class="color-wrap"><div class="variant-color yellow-color"></div><div class="color-name">Yellow</div></div>
      <div class="color-wrap"><div class="variant-color blue-color"></div><div class="color-name">Blue</div></div>
      <div class="color-wrap"><div class="variant-color red-color"></div><div class="color-name">Red</div></div>
      {% endfor %}
    </div>
      <div class="applied-filters-wrap no-disp">
        <div class="applied-filters"></div>
        <div class="clear-filters no-t-m">CLEAR ALL <span class="close-icon">{% include 'icon-close-new' %}</span></div>
      </div>
    </div>
    <div class="all-products">
      {% for product in collection.products %}
      <div class="hero-product">
        <div>
          <div class="hero-product-images-block rel">
            <a href="{{ product.url }}">
              {% for image in product.images limit: 2 %}
              <img src="{{ image | img_url: "450x" }}" alt="{{ product.title }}">
              {% endfor %}
            </a>
            <div class="variants flex-box no-t-m">
              {% include 'color-product-swatch' %}
              {% include 'color-product-swatch-2' %}
            </div>
          </div>

          <div class="hero-product-text-block">
            <div class="hero-row">
              <div class="hero-col">
                <span class="product-font product-title">
                  {{ product.title }}
                </span>
              </div>
              <div class="hero-col">
                <span class="product-font money">
                  {{ product.price | money_without_trailing_zeros }}
                </span>
              </div>
            </div>
            <div class="hero-row">            
              <span class="product-tag">
                {{ product.type }}
              </span>
            </div>
          </div>
        </div>
        <div class="hero-product-text-block">

          <div class="hero-row no-d"> 
            <div class="variants flex-box">
              {% include 'color-product-swatch' %}
              {% include 'color-product-swatch-2' %}
            </div>
          </div>
          <button class="add-direct btn btn-center {% unless product.available %}no-avaliable{% endunless %}"  data-variant="{{ product.selected_or_first_available_variant.id }}"><span class="cart-txt no-d">{% if product.available %}ADD{% else %}Sold Out{% endif %}</span><span class="cart-txt no-t-m">{% if product.available %}{{ section.settings.addtext }}{% else %}{{ section.settings.outtext }}{% endif %}</span> {% render "svg-plus" %}</button>
          <a href="{{ product.url }}" class="more-info">
            {{ section.settings.moretext }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<script>
  
  $('.filter-wrap').click(function() {
    if(!$(this).hasClass('selected')){
    	$(this).addClass('selected');
    }else{
    	$(this).removeClass('selected');
    }
  });
  
  $('.apply-filters-btn').click(function() {
    $('.applied-filter').remove(); 
    var fil_len = $('.filter-wrap.selected').length;
    if(fil_len>0){
      $('.applied-filters-wrap').removeClass('no-disp');
      $('.filter-wrap.selected').each(function() {
      	var filt_text = $(this).find('.filter-txt').text();
        $('.applied-filters').append(`<div class='applied-filter'>`+filt_text+`<span class='close-icon'><svg xmlns="http://www.w3.org/2000/svg" width="17.414" height="17.414" viewBox="0 0 17.414 17.414">
  <g id="Close" transform="translate(-1129.328 -4781.55)">
    <path id="Path_7" data-name="Path 7" d="M0,0H22.626" transform="translate(1130.036 4782.258) rotate(45)" fill="none" stroke="#000" stroke-width="2"/>
    <path id="Path_10" data-name="Path 10" d="M0,0H22.626" transform="translate(1146.034 4782.257) rotate(135)" fill="none" stroke="#000" stroke-width="2"/>
  </g>
</svg>
</span></div>`);
      });
    }
  });
  
  $('.applied-filter').click(function() {
  	$(this).remove();
  });
  
  $('.clear-filters').click(function() {
  	$('.applied-filters-wrap').addClass('no-disp');
    $('.filter-wrap').each(function() {
    	$(this).removeClass('selected');
    });
  });
  
</script>


      
      
      
<script>

  $('.variants img').click(function() {
    $(this).closest('.variants').find('img').removeClass('hedgren-color-active').addClass('hedgren-color-inactive');
    $(this).addClass('hedgren-color-active').removeClass('hedgren-color-inactive');
    var current = $(this);
    $.ajax({
      url: $(this).parent().data('url')+'.js',
      method: "GET",
      dataType: "json"
    })
    .done(function( data ) {
      current.closest('.hero-product').find('.money').text("€"+(data.price / 100).toFixed(2).replace(/\.?0+$/, '').replace('.',','));
      current.closest('.hero-product').find('a').attr('href',data.url);   
      if(data.available) {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.addtext }}');
                                                                            current.closest('.hero-product').find('.add-direct').removeClass('no-avaliable');        
      } else {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.outtext }}');
                                                                            current.closest('.hero-product').find('.add-direct').addClass('no-avaliable');        	
      }
      current.closest('.hero-product').find('.product-title').text(data.title)
      current.closest('.hero-product').find('.add-direct').data('variant',data.variants[0].id);
      current.closest('.hero-product').find('.hero-product-images-block a img').first().attr('src',data.images[0]);
      current.closest('.hero-product').find('.hero-product-images-block a img').last().attr('src',data.images[1]);
    })
    .fail(function(error) {
      console.log( error );
    });
  });

  $('.more-color-link').click(function() {
    $(this).parent().find('.no-disp').removeClass('no-disp');
    $(this).addClass('no-disp');
  });    

  $('.add-direct').click(function() {
    var formData = {
      'items': [{
        'id': parseInt($(this).data('variant')),
        'quantity': 1
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {     
      console.log(data);
    })
    .fail(function(error) {
      console.log( error );
    });
  });

</script>

{% schema %}
  {
    "name": "Hedgren All Products",
    "settings": [
		{
          "type": "text",
          "id": "addtext",
          "label": "Add button text",
          "default": "ADD TO CART"
        },
        {
          "type": "text",
          "id": "outtext",
          "label": "Out of stock button text",
          "default": "OUT OF STOCK"
        },
        {
          "type": "text",
          "id": "moretext",
          "label": "More button text",
          "default": "More info"
        }
	],
	"presets": [
		{
			"name": "Hedgren All Products"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
