{{ 'hedgren-img-text.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-product-features.css' | asset_url | stylesheet_tag }}

<div class="img-text-wrapper product-features-wrapper">
  <div class="img-text container flex-box">
    <div class="img-text-text">
      <h2 class="img-text-text-heading">
        features {{ product.metafields.my_fields.features_line }}
      </h2>
      <div class="img-text-text-content">
        <div class="feature-key-point flex-box">
          <span class="plus-icon">{% include 'icon-plus-new' %}</span>
          <span class="key-point-text">1 ZIPPED POCKET</span>
        </div>
        <div class="feature-key-point flex-box">
          <span class="plus-icon">{% include 'icon-plus-new' %}</span>
          <span class="key-point-text">1 INTERIOR ZIPPED POCKET</span>
        </div>
        <div class="feature-key-point flex-box">
          <span class="plus-icon">{% include 'icon-plus-new' %}</span>
          <span class="key-point-text">RFID PROTECTION</span>
        </div>
        <div class="feature-key-point flex-box">
          <span class="plus-icon">{% include 'icon-plus-new' %}</span>
          <span class="key-point-text">FITS A4</span>
        </div>
        <div class="feature-key-point flex-box">
          <span class="plus-icon">{% include 'icon-plus-new' %}</span>
          <span class="key-point-text">2 KEY HOOKS</span>
        </div>
        <div class="feature-key-point flex-box">
          <span class="plus-icon">{% include 'icon-plus-new' %}</span>
          <span class="key-point-text">A SECURITY ELASTIC LOOP AS ORGANISERS</span>
        </div>
      </div>
    </div>  
    <div class="img-text-img rel">
      
      <span class="next-btn-text">
        NEXT
      </span>   
      <div class="feature-imgs">
      	<img src="{{ 'img.png' | asset_img_url: '620x' }}">
        <img src="{{ 'img.png' | asset_img_url: '620x' }}">
        <img src="{{ 'img.png' | asset_img_url: '620x' }}">
        <img src="{{ 'img.png' | asset_img_url: '620x' }}">
      </div>
      
    </div>
  </div>
</div>



{% schema %}
 {
   "name":"Hedgren Product Features",
   "settings":[
      
   ],
   "presets":[
      {
         "name":"Hedgren Product Features"
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
