{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-similar-products.css' | asset_url | stylesheet_tag }}
{% assign main_handle = product.handle %}
{% if product.metafields.my_fields.collection == settings.h_name1 %}{% assign collection = settings.h_collection1 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name2 %}{% assign collection = settings.h_collection2 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name3 %}{% assign collection = settings.h_collection3 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name4 %}{% assign collection = settings.h_collection4 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name5 %}{% assign collection = settings.h_collection5 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name6 %}{% assign collection = settings.h_collection6 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name7 %}{% assign collection = settings.h_collection7 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name8 %}{% assign collection = settings.h_collection8 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name9 %}{% assign collection = settings.h_collection9 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name10 %}{% assign collection = settings.h_collection10 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name11 %}{% assign collection = settings.h_collection11 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name12 %}{% assign collection = settings.h_collection12 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name13 %}{% assign collection = settings.h_collection13 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name14 %}{% assign collection = settings.h_collection14 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name15 %}{% assign collection = settings.h_collection15 %}{% endif %}
{% if product.metafields.my_fields.collection == settings.h_name16 %}{% assign collection = settings.h_collection16 %}{% endif %}

{% unless collection %}
{% assign collection = collections.all %}
{% endunless %}

<div class="hero-products-wrapper similar-products-wrapper">
  <div class="container">
    <h2 class="similar-prods-heading">{{ section.settings.heading }}</h2>
    <div class="similar-prods-subheading">WHAT OTHER HEDGRENISTS THINK</div>
    <div class="similar-products flex-box justify-between hero-products">
      
      {% for product in collection.products %}
      {% if product.tags contains "Main" and product.handle != main_handle %}
      <div class="hero-product">
        <div>
          <div class="hero-product-images-block">
            <a href="{{ product.url }}">
              {% for image in product.images limit: 2 %}
              <img src="{{ image | img_url: "450x" }}" alt="{{ product.title }}">
              {% endfor %}
            </a>
            <div class="variants flex-box no-t-m">
              {% include 'color-product-swatch' %}
              {% include 'color-product-swatch-2' %}
            </div>
          </div>
          <div class="hero-product-text-block">
            <a href="{{ product.url }}">
              <div class="hero-row">
                <div class="hero-col">
                  <span class="product-font product-title">
                    {{ product.title | truncatewords: 1, "" }}
                  </span>

                  <span class="product-tag">
                    {% assign remove_word = product.title | truncatewords: 1, "" %}
                    {{ product.title | replace: remove_word,"" }}
                  </span>
                </div>
                <div class="hero-col price-col">
                  <span class="product-font save-money">
                    {{ product.compare_at_price | money_without_trailing_zeros | strip_html }}
                  </span>
                  <span class="product-font money">
                    {{ product.price | money_without_trailing_zeros | strip_html }}
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="hero-product-text-block">
          <div class="hero-row no-d"> 
            <div class="variants flex-box">
              {% include 'color-product-swatch' %}
              {% include 'color-product-swatch-2' %}
            </div>
          </div>
          <button class="add-direct btn btn-center {% unless product.available %}no-avaliable{% endunless %}"  data-variant="{{ product.selected_or_first_available_variant.id }}"><span class="cart-txt">{% if product.available %}{{ section.settings.addtext }}{% else %}{{ section.settings.outtext }}{% endif %}</span> {% render "svg-plus" %}</button>
          <a href="{{ product.url }}" class="more-info" title="{{ product.title }}">
            {{ section.settings.moretext }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <a class="btn btn-center similar-prods-btn" href="{{ collection.url }}">Shop All products</a>
  </div>
</div>


      
      <script>

        $('.variants img').click(function() {
          $(this).closest('.variants').find('img').removeClass('hedgren-color-active').addClass('hedgren-color-inactive');
        $(this).addClass('hedgren-color-active').removeClass('hedgren-color-inactive');
          var current = $(this);
          $.ajax({
            url: $(this).parent().data('url')+'.js',
            method: "GET",
            dataType: "json"
          })
          .done(function( data ) {
            current.closest('.hero-product').find('.money').text("€"+(data.price / 100).toFixed(2).replace(/\.?00+$/, ''));
      if(data.compare_at_price != null && data.compare_at_price != 0) {
        current.closest('.hero-product').find('.save-money').text("€"+(data.compare_at_price / 100).toFixed(2).replace(/\.?00+$/, ''));
      }
            current.closest('.hero-product').find('a').attr('href',data.url);   
            if(data.available) {
              current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.addtext }}');
                                                                                  current.closest('.hero-product').find('.add-direct').removeClass('no-avaliable');        
            } else {
              current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.outtext }}');
              current.closest('.hero-product').find('.add-direct').addClass('no-avaliable');        	
            }
      current.closest('.hero-product').find('.product-title').text(data.title.split(" ")[0]);
      current.closest('.hero-product').find('.product-tag').text(data.title.replace(data.title.split(" ")[0],""));
            current.closest('.hero-product').find('.add-direct').data('variant',data.variants[0].id);
            current.closest('.hero-product').find('.hero-product-images-block a img').first().attr('src',data.images[0]);
            current.closest('.hero-product').find('.hero-product-images-block a img').last().attr('src',data.images[1]);
      
      var mlvedaData = {"data": ["url":current.parent().data('url')]};
      $('.product-font.money').css('visibility','hidden');
      $('.product-font.save-money').css('visibility','hidden');
      setTimeout(function(){
        $('.product-font.money').css('visibility','visible');
        $('.product-font.save-money').css('visibility','visible');
      }, 4000);
      var mlvedaCallUrl = "//www.mlveda.com/ShopifyApps/ShopifyMultiPricing/getPrices?shop=hedgrenstore.myshopify.com";         
      $.ajax({
        url: mlvedaCallUrl,
        type: "POST",
        dataType: "json",
        timeout: 10000,
        data: {data: JSON.stringify(mlvedaData)},
      })
      .done(function( response ) { 
          if(typeof response.data[index].price !== "undefined") {
            current.closest('.hero-product').find('.product-font.money').text("€"+parseFloat(response.data[index].price).toFixed(2).replace(/\.?00+$/, ''));
          }
          if(typeof response.data[index].compare_at_price !== "undefined") {
            current.closest('.hero-product').find('.product-font.save-money').text("€"+parseFloat(response.data[index].compare_at_price).toFixed(2).replace(/\.?00+$/, ''));
          } 
          if(typeof response.data[index].variantId !== "undefined") {
            current.closest('.hero-product').find('.add-to-cart').data('variant',response.data[index].variantId);
          }
        $('.product-font.money').css('visibility','visible');
        $('.product-font.save-money').css('visibility','visible');
      })
      .fail(function(error) {
        console.log( error );
        $('.product-font.money').css('visibility','visible');
        $('.product-font.save-money').css('visibility','visible');
      });
              })
            .fail(function(error) {
              console.log( error );
            });
          });

            $('.more-color-link').click(function() {
              $(this).parent().find('.no-disp').removeClass('no-disp');
              $(this).addClass('no-disp');
            });    

            $('.add-direct').click(function() {
              var formData = {
                'items': [{
                  'id': parseInt($(this).data('variant')),
                  'quantity': 1
                }]
              };
              $.ajax({
                url: "/cart/add.js",
                method: "POST",
                dataType: "json",
                data: formData,
              })
              .done(function( data ) {     
                $.ajax({
                  url: '/?sections=hedgren-cart-drawer',
                  method: "GET",
                  dataType: "json"
                })
                .done(function( data ) {
                  $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
                  $('.cart-remover').last().remove();
                  $('.drawer-cart').addClass('drawn');
                  $('body').addClass('no-scroll');
                })
                .fail(function(error) {
                  console.log( error );
                });
              })
              .fail(function(error) {
                console.log( error );
              });
            });


  
  var mlvedaData = {"data": []};
  $('.similar-products .hedgren-color-active').each(function(){
    mlvedaData.data.push({"url":$(this).parent().data('url')});
  });
  $('.product-font.money').css('visibility','hidden');
  $('.product-font.save-money').css('visibility','hidden');
  setTimeout(function(){
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  }, 4000);
  var mlvedaCallUrl = "//www.mlveda.com/ShopifyApps/ShopifyMultiPricing/getPrices?shop=hedgrenstore.myshopify.com";         
  $.ajax({
    url: mlvedaCallUrl,
    type: "POST",
    dataType: "json",
    timeout: 10000,
    data: {data: JSON.stringify(mlvedaData)},
  })
  .done(function( response ) { 

    $('.similar-products .hedgren-color-active').each(function(index, element){
      if(typeof response.data[index].price !== "undefined") {
        $(this).closest('.hero-product').find('.product-font.money').text("€"+parseFloat(response.data[index].price).toFixed(2).replace(/\.?00+$/, ''));
      }
      if(typeof response.data[index].compare_at_price !== "undefined") {
        $(this).closest('.hero-product').find('.product-font.save-money').text("€"+parseFloat(response.data[index].compare_at_price).toFixed(2).replace(/\.?00+$/, ''));
      } 
      if(typeof response.data[index].variantId !== "undefined") {
        $(this).closest('.hero-product').find('.add-to-cart').data('variant',response.data[index].variantId);
      }
    });
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  })
  .fail(function(error) {
    console.log( error );
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  });
      </script>

{% schema %}
  {
    "name": "Hedgren Similar Prods",
    "settings": [
      {
        "type": "html",
        "id": "heading",
        "label": "Heading",
		"default": "You may also like"
      },
      {
        "type": "text",
        "id": "addtext",
        "label": "Add button text",
		"default": "ADD TO CART"
      },
      {
        "type": "text",
        "id": "outtext",
        "label": "Out of stock button text",
		"default": "OUT OF STOCK"
      },
      {
        "type": "text",
        "id": "moretext",
        "label": "More button text",
		"default": "More info"
      },
      {
        "type": "text",
        "id": "buttontext",
        "label": "Button text",
		"default": "SHOP ALL PRODUCTS"
      }
	],
	"presets": [
		{
			"name": "Hedgren Similar Prods"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
