{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-coll-list-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-stories-hero.css' | asset_url | stylesheet_tag }}

<div class="hero hedgren-stories-hero" style="{% if section.settings.image %}background-image: url({{ section.settings.image | img_url: "2000x" }}){% else %}background: #375D54{% endif %}">
  <div class="stories-hero-overlay">
  <div class="container">
    	<h1 class="stories-heading">
        {{ section.settings.heading_main }}
      </h1>
    <div class="coll-list-sub-heading">{{ section.settings.sub_heading }}</div>
  </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hedgren Stories Hero",
    "settings": [
      {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      },
		{
			"type": "text",
			"id": "heading_main",
			"label": "Heading Main"
		},
		{
			"type": "text",
			"id": "sub_heading",
			"label": "Sub Heading"
		}
     ],
   "presets":[
      {
         "name":"Hedgren Stories Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}