{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{% if section.settings.imagemobile %}
<style>
  @media(max-width: 992px){
    #herodiv {
      background-image: url({{ section.settings.imagemobile | img_url: "992x" }}) !important;
    }
  }
</style>
{% endif %}
{% assign aspectratio = section.settings.image.width | divided_by: section.settings.image.height %}
<div id="herodiv" class="hero {% if aspectratio > 1.9 and section.settings.design2 %}alternate-hero{% endif %}" style="{% if section.settings.image %}background-image: url({{ section.settings.image | img_url: "2000x" }}){% else %}background: #375D54{% endif %}">
  <div class="container flex-box justify-end">
    <span class="header-inner-wrapper">
      <h1 class="hero-text">
        <span>
          {% if section.settings.design2 %}<span class="sub-head">{{ section.settings.subheading }}</span>{% endif %}
          {{ section.settings.heading }}
        </span>
      </h1>
      <p class="">{{ section.settings.subheading }}</p>
      {% if section.settings.headinglink != blank %}<a class="btn btn-center" href="{{ section.settings.headinglink }}">{{ section.settings.headinglinktext }}</a>{% endif %}
    </span>
  </div>
</div>
{% if section.settings.collection %}
<div class="hero-products-wrapper hedgren-collection-products-wrapper">
  <div class="container rel">
    <div class="product-slider-wrap">
      <div class="hero-products">
        {% for product in section.settings.collection.products %}
        {% if product.tags contains "Main" %}
        <div class="hero-product">
          <div>
            <div class="hero-product-images-block">
              <a href="{{ product.url }}">
                {% for image in product.images limit: 2 %}
                <img src="{{ image | img_url: "450x" }}" alt="{{ product.title }}">
                {% endfor %}
              </a>
              <div class="variants flex-box no-t-m">
                {% include 'color-product-swatch' %}
                {% include 'color-product-swatch-2' %}
              </div>
            </div>
            <div class="hero-product-text-block">
              <a href="{{ product.url }}">
                <div class="hero-row">
                  <div class="hero-col">
                    <span class="product-font product-title">
                      {{ product.title | truncatewords: 1, "" }}
                    </span>            
                    <span class="product-tag">
                      {% assign remove_word = product.title | truncatewords: 1, "" %}
                      {{ product.title | replace: remove_word,"" }}
                    </span>
                  </div>
                  <div class="hero-col price-col">
                    <span class="product-font save-money">
                      {{ product.compare_at_price | money_without_trailing_zeros | strip_html }}
                    </span>
                    <span class="product-font money">
                      {{ product.price | money_without_trailing_zeros | strip_html }}
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="hero-product-text-block">
            <div class="hero-row no-d"> 
              <div class="variants flex-box">
                {% include 'color-product-swatch' %}
                {% include 'color-product-swatch-2' %}
              </div>
            </div>
            <button class="add-direct btn btn-center {% unless product.available %}no-avaliable{% endunless %}"  data-variant="{{ product.selected_or_first_available_variant.id }}"><span class="cart-txt">{% if product.available %}{{ section.settings.addtext }}{% else %}{{ section.settings.outtext }}{% endif %}</span> {% render "svg-plus" %}</button>
            <a href="{{ product.url }}" class="more-info" title="{{ product.title }}">
              {{ section.settings.moretext }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
            </a>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <a class="btn btn-center" href="/collections/all">{{ section.settings.buttontext }}</a>
    </div>
  </div>
</div>




<script>

  $('.variants img').click(function() {
    $(this).closest('.variants').find('img').removeClass('hedgren-color-active').addClass('hedgren-color-inactive');
    $(this).addClass('hedgren-color-active').removeClass('hedgren-color-inactive');
    var current = $(this);
    $.ajax({
      url: $(this).parent().data('url')+'.js',
      method: "GET",
      dataType: "json"
    })
    .done(function( data ) {
      current.closest('.hero-product').find('.money').text("€"+(data.price / 100).toFixed(2).replace(/\.?00+$/, ''));
      if(data.compare_at_price != null && data.compare_at_price != 0) {
        current.closest('.hero-product').find('.save-money').text("€"+(data.compare_at_price / 100).toFixed(2).replace(/\.?00+$/, ''));
      }
      current.closest('.hero-product').find('a').attr('href',data.url);   
      if(data.available) {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.addtext }}');
                                                                            current.closest('.hero-product').find('.add-direct').removeClass('no-avaliable');        
      } else {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.outtext }}');
                                                                            current.closest('.hero-product').find('.add-direct').addClass('no-avaliable');        	
      }
      current.closest('.hero-product').find('.product-title').text(data.title.split(" ")[0]);
      current.closest('.hero-product').find('.product-tag').text(data.title.replace(data.title.split(" ")[0],""));
      current.closest('.hero-product').find('.add-direct').data('variant',data.variants[0].id);
      current.closest('.hero-product').find('.hero-product-images-block a img').first().attr('src',data.images[0]);
      current.closest('.hero-product').find('.hero-product-images-block a img').last().attr('src',data.images[1]);
      
            var mlvedaData = {"data": []};
            mlvedaData.data.push({"url":current.parent().data('url')});
      current.closest('.hero-product').find('.product-font.money').css('visibility','hidden');
      current.closest('.hero-product').find('.product-font.save-money').css('visibility','hidden');
      setTimeout(function(){
        current.closest('.hero-product').find('.product-font.money').css('visibility','visible');
        current.closest('.hero-product').find('.product-font.save-money').css('visibility','visible');
      }, 4000);
      var mlvedaCallUrl = "//www.mlveda.com/ShopifyApps/ShopifyMultiPricing/getPrices?shop=hedgrenstore.myshopify.com";         
      $.ajax({
        url: mlvedaCallUrl,
        type: "POST",
        dataType: "json",
        timeout: 10000,
        data: {data: JSON.stringify(mlvedaData)},
      })
      .done(function( response ) { 
          if(typeof response.data[index].price !== "undefined") {
            current.closest('.hero-product').find('.product-font.money').text("€"+parseFloat(response.data[index].price).toFixed(2).replace(/\.?00+$/, ''));
          }
          if(typeof response.data[index].compare_at_price !== "undefined") {
            current.closest('.hero-product').find('.product-font.save-money').text("€"+parseFloat(response.data[index].compare_at_price).toFixed(2).replace(/\.?00+$/, ''));
          } 
          if(typeof response.data[index].variantId !== "undefined") {
            current.closest('.hero-product').find('.add-to-cart').data('variant',response.data[index].variantId);
          }
        $('.product-font.money').css('visibility','visible');
        $('.product-font.save-money').css('visibility','visible');
      })
      .fail(function(error) {
        console.log( error );
        $('.product-font.money').css('visibility','visible');
        $('.product-font.save-money').css('visibility','visible');
      });
    })
    .fail(function(error) {
      console.log( error );
    });
  });

  $('.more-color-link').click(function() {
    $(this).parent().find('.no-disp').removeClass('no-disp');
    $(this).addClass('no-disp');
  });    

  $('.add-direct').click(function() {
    var formData = {
      'items': [{
        'id': parseInt($(this).data('variant')),
        'quantity': 1
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {     
      $.ajax({
        url: '{{ routes.root_url }}?sections=hedgren-cart-drawer',
        method: "GET",
        dataType: "json"
      })
      .done(function( data ) {
        $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
        $('.cart-remover').last().remove();
        $('.drawer-cart').addClass('drawn');
        $('body').addClass('no-scroll');
      })
      .fail(function(error) {
        console.log( error );
      });
    })
    .fail(function(error) {
      console.log( error );
    });
  });


  
  var mlvedaData = {"data": []};
  $('.hedgren-color-active').each(function(){
    mlvedaData.data.push({"url":$(this).parent().data('url')});
  });
  $('.product-font.money').css('visibility','hidden');
  $('.product-font.save-money').css('visibility','hidden');
  setTimeout(function(){
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  }, 4000);
  var mlvedaCallUrl = "//www.mlveda.com/ShopifyApps/ShopifyMultiPricing/getPrices?shop=hedgrenstore.myshopify.com";         
  $.ajax({
    url: mlvedaCallUrl,
    type: "POST",
    dataType: "json",
    timeout: 10000,
    data: {data: JSON.stringify(mlvedaData)},
  })
  .done(function( response ) { 

    $('.hedgren-color-active').each(function(index, element){
      if(typeof response.data[index].price !== "undefined") {
        $(this).closest('.hero-product').find('.product-font.money').text("€"+parseFloat(response.data[index].price).toFixed(2).replace(/\.?00+$/, ''));
      }
      if(typeof response.data[index].compare_at_price !== "undefined") {
        $(this).closest('.hero-product').find('.product-font.save-money').text("€"+parseFloat(response.data[index].compare_at_price).toFixed(2).replace(/\.?00+$/, ''));
      } 
      if(typeof response.data[index].variantId !== "undefined") {
        $(this).closest('.hero-product').find('.add-to-cart').data('variant',response.data[index].variantId);
      }
    });
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  })
  .fail(function(error) {
    console.log( error );
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  });
</script>

{% endif %}

{% schema %}
  {
    "name": "Hedgren Hero",
    "settings": [
      {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      },
      {
         "type":"image_picker",
         "id":"imagemobile",
         "label":"Mobile Image"
      },
      {
        "type": "html",
        "id": "heading",
        "label": "Heading",
		"default": "Welcome to store"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub heading",
		"default": "It's the season of"
      },
      {
        "type": "url",
        "id": "headinglink",
        "label": "Heading Button"
      },
      {
        "type": "text",
        "id": "headinglinktext",
        "label": "Heading Button Text"
      },
      {
        "type": "checkbox",
        "id": "design2",
        "label": "Alternate hero design"
      },
      {
        "type": "text",
        "id": "addtext",
        "label": "Add button text",
		"default": "ADD TO CART"
      },
      {
        "type": "text",
        "id": "outtext",
        "label": "Out of stock button text",
		"default": "OUT OF STOCK"
      },
      {
        "type": "text",
        "id": "moretext",
        "label": "More button text",
		"default": "More info"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Select Collection"
      },
      {
        "type": "text",
        "id": "buttontext",
        "label": "Button text",
		"default": "SHOP ALL PRODUCTS"
      }
     ],
   "presets":[
      {
         "name":"Hedgren Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
