{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-collection-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-img-text.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-collection-features.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-discover-collection.css' | asset_url | stylesheet_tag }}


<div class="hero hedgren-collection-hero" style="{% if collection.image %}background-image: url({{ collection.image | image_url: width: 2048 }}){% else %}background: #375D54{% endif %}">
  <div class="container rel">
    <div class="discover-coll-heading flex-box">
      <div class="side-title">
      	{% if section.settings.heading_left != "" %}{{ section.settings.heading_left }}{% else %}1994{% endif %}
      </div>
    	<h1 class="discover-coll-main-heading">
        {{ collection.title }}
      </h1>
      <div class="side-title">
      	{% if section.settings.heading_right != "" %}{{ section.settings.heading_right }}{% else %}2021{% endif %}
      </div>
    </div>
    <div class="discover-coll-sub-heading">{{ section.settings.sub_heading }}</div>
  </div>
</div>
<div class="hero-products-wrapper hedgren-collection-products-wrapper">
  <div class="container rel">
    <div class="product-slider-wrap">
    <div class="hero-productsx">
      {% paginate collection.products by 2000 %}
      {% for product in collection.products %}
       {% if product.tags contains "Main" %}
      <div class="hero-product">
        <div>
          <div class="hero-product-images-block">
            <a href="{{ product.url }}">
              {% for image in product.images limit: 2 %}
              <img src="{{ image | img_url: "450x" }}" alt="{{ product.title }}">
              {% endfor %}
            </a>
            <div class="variants flex-box no-t-m">
              {% include 'color-product-swatch' %}
              {% include 'color-product-swatch-2' %}
            </div>
          </div>
          <div class="hero-product-text-block">
            <a href="{{ product.url }}">
              <div class="hero-row">
                <div class="hero-col">
                  <span class="product-font product-title">
                    {{ product.title | truncatewords: 1, "" }}
                  </span>      
                  <span class="product-tag">
                    {% assign remove_word = product.title | truncatewords: 1, "" %}
                    {{ product.title | replace: remove_word,"" }}
                  </span>
                </div>
                <div class="hero-col price-col">
                  <span class="product-font save-money">
                    {{ product.compare_at_price | money_without_trailing_zeros | strip_html }}
                  </span>
                  <span class="product-font money">
                    {{ product.price | money_without_trailing_zeros | strip_html }}
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="hero-product-text-block">

          <div class="hero-row no-d"> 
            <div class="variants flex-box">
              {% include 'color-product-swatch' %}
              {% include 'color-product-swatch-2' %}
            </div>
          </div>
          <button class="add-direct btn btn-center {% unless product.available %}no-avaliable{% endunless %}"  data-variant="{{ product.selected_or_first_available_variant.id }}"><span class="cart-txt">{% if product.available %}{{ section.settings.addtext }}{% else %}{{ section.settings.outtext }}{% endif %}</span> {% render "svg-plus" %}</button>
          <a href="{{ product.url }}" class="more-info" title="{{ product.title }}">
            {{ section.settings.moretext }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
          </a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endpaginate %}
    </div>
    <a id="load-more-products" class="btn btn-center no-disp" href="#" onclick="return false;">{{ section.settings.buttontext }}</a>
    </div>
  </div>
</div>



      
      
      
<script>
  
  var numItems = $('.hero-productsx .hero-product').length;
  if(numItems>3){
    $('#load-more-products').removeClass('no-disp');
  }

  $(".hero-productsx .hero-product").hide();
  $(".hero-productsx .hero-product:lt(3)").show();

  $('#load-more-products').click(function() {
    $(".hero-productsx .hero-product").show();
    $(this).addClass('no-disp');
  });

  $('.variants img').click(function() {
    $(this).closest('.variants').find('img').removeClass('hedgren-color-active').addClass('hedgren-color-inactive');
    $(this).addClass('hedgren-color-active').removeClass('hedgren-color-inactive');
    var current = $(this);
    $.ajax({
      url: $(this).parent().data('url')+'.js',
      method: "GET",
      dataType: "json"
    })
    .done(function( data ) {
      current.closest('.hero-product').find('.money').text("€"+(data.price / 100).toFixed(2).replace(/\.?00+$/, ''));
      if(data.compare_at_price != null && data.compare_at_price != 0) {
        current.closest('.hero-product').find('.save-money').text("€"+(data.compare_at_price / 100).toFixed(2).replace(/\.?00+$/, ''));
      }
      current.closest('.hero-product').find('a').attr('href',data.url);   
      if(data.available) {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.addtext }}');
                                                                            current.closest('.hero-product').find('.add-direct').removeClass('no-avaliable');        
      } else {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.outtext }}');
                                                                            current.closest('.hero-product').find('.add-direct').addClass('no-avaliable');        	
      }
      current.closest('.hero-product').find('.product-title').text(data.title.split(" ")[0]);
      current.closest('.hero-product').find('.product-tag').text(data.title.replace(data.title.split(" ")[0],""));
      current.closest('.hero-product').find('.add-direct').data('variant',data.variants[0].id);
      current.closest('.hero-product').find('.hero-product-images-block a img').first().attr('src',data.images[0]);
      current.closest('.hero-product').find('.hero-product-images-block a img').last().attr('src',data.images[1]);
      
            var mlvedaData = {"data": []};
            mlvedaData.data.push({"url":current.parent().data('url')});
      current.closest('.hero-product').find('.product-font.money').css('visibility','hidden');
      current.closest('.hero-product').find('.product-font.save-money').css('visibility','hidden');
      setTimeout(function(){
        current.closest('.hero-product').find('.product-font.money').css('visibility','visible');
        current.closest('.hero-product').find('.product-font.save-money').css('visibility','visible');
      }, 4000);
      var mlvedaCallUrl = "//www.mlveda.com/ShopifyApps/ShopifyMultiPricing/getPrices?shop=hedgrenstore.myshopify.com";         
      $.ajax({
        url: mlvedaCallUrl,
        type: "POST",
        dataType: "json",
        timeout: 10000,
        data: {data: JSON.stringify(mlvedaData)},
      })
      .done(function( response ) { 
          if(typeof response.data[index].price !== "undefined") {
            current.closest('.hero-product').find('.product-font.money').text("€"+parseFloat(response.data[index].price).toFixed(2).replace(/\.?00+$/, ''));
          }
          if(typeof response.data[index].compare_at_price !== "undefined") {
            current.closest('.hero-product').find('.product-font.save-money').text("€"+parseFloat(response.data[index].compare_at_price).toFixed(2).replace(/\.?00+$/, ''));
          } 
          if(typeof response.data[index].variantId !== "undefined") {
            current.closest('.hero-product').find('.add-to-cart').data('variant',response.data[index].variantId);
          }
        $('.product-font.money').css('visibility','visible');
        $('.product-font.save-money').css('visibility','visible');
      })
      .fail(function(error) {
        console.log( error );
        $('.product-font.money').css('visibility','visible');
        $('.product-font.save-money').css('visibility','visible');
      });
    })
    .fail(function(error) {
      console.log( error );
    });
  });

  $('.more-color-link').click(function() {
    $(this).parent().find('.no-disp').removeClass('no-disp');
    $(this).addClass('no-disp');
  });    

  $('.add-direct').click(function() {
    var formData = {
      'items': [{
        'id': parseInt($(this).data('variant')),
        'quantity': 1
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {     
      $.ajax({
        url: '/?sections=hedgren-cart-drawer',
        method: "GET",
        dataType: "json"
      })
      .done(function( data ) {
        $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
        $('.cart-remover').last().remove();
        $('.drawer-cart').addClass('drawn');
        $('body').addClass('no-scroll');
      })
      .fail(function(error) {
        console.log( error );
      });
    })
    .fail(function(error) {
      console.log( error );
    });
  });

  
  var mlvedaData = {"data": []};
  $('.hedgren-color-active').each(function(){
    mlvedaData.data.push({"url":$(this).parent().data('url')});
  });
  $('.product-font.money').css('visibility','hidden');
  $('.product-font.save-money').css('visibility','hidden');
  setTimeout(function(){
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  }, 4000);
  var mlvedaCallUrl = "//www.mlveda.com/ShopifyApps/ShopifyMultiPricing/getPrices?shop=hedgrenstore.myshopify.com";         
  $.ajax({
    url: mlvedaCallUrl,
    type: "POST",
    dataType: "json",
    timeout: 10000,
    data: {data: JSON.stringify(mlvedaData)},
  })
  .done(function( response ) { 

    $('.hedgren-color-active').each(function(index, element){
      if(typeof response.data[index].price !== "undefined") {
        $(this).closest('.hero-product').find('.product-font.money').text("€"+parseFloat(response.data[index].price).toFixed(2).replace(/\.?00+$/, ''));
      }
      if(typeof response.data[index].compare_at_price !== "undefined") {
        $(this).closest('.hero-product').find('.product-font.save-money').text("€"+parseFloat(response.data[index].compare_at_price).toFixed(2).replace(/\.?00+$/, ''));
      } 
      if(typeof response.data[index].variantId !== "undefined") {
        $(this).closest('.hero-product').find('.add-to-cart').data('variant',response.data[index].variantId);
      }
    });
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  })
  .fail(function(error) {
    console.log( error );
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  });
  
</script>





<div class="hedgren-collection-features-wrapper dark-bg">
  <div class="container">
    <h2 class="hedgren-collection-features-heading">Discover features</h2>
    {% if section.blocks.size > 1 %}
    <div class="feature-subtitle no-d">SELECT A BAG</div>
    <div class="features-filter-wrap flex-box">
      {% for block in section.blocks %}
      <div class="filter {% if forloop.first %}selected{% endif %}" data-show="collection-features{{ forloop.index }}">
        <div class="filter-img"><img src="{{ block.settings.bag | image_url: width: 100 }}"></div>
        <div class="filter-name">{{ block.settings.name }}</div>
      </div>
      {% endfor %}
      <div class="feature-subtitle no-t-m">SELECT A BAG</div>
    </div>
    {% endif %}
    {% for block in section.blocks %}
    <div class="collection-features flex-box {% unless forloop.first %}no-disp{% endunless %} collection-features{{ forloop.index }}">
      {% if block.settings.feature_heading1 != blank %}
      {% assign dc = block.settings.feature_heading1 | downcase %}
      <div class="feature-card {% if dc contains "sustainable" %}selected{% endif %}">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img1 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading1 }}</div>
          <div class="feature-text">{{ block.settings.feature_description1 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading2 != blank %}
      {% assign dc = block.settings.feature_heading2 | downcase %}
      <div class="feature-card {% if dc contains "sustainable" %}selected{% endif %}">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img2 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading2 }}</div>
          <div class="feature-text">{{ block.settings.feature_description2 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading3 != blank %}
      {% assign dc = block.settings.feature_heading3 | downcase %}
      <div class="feature-card {% if dc contains "sustainable" %}selected{% endif %}">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img3 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading3 }}</div>
          <div class="feature-text">{{ block.settings.feature_description3 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading4 != blank %}
      {% assign dc = block.settings.feature_heading4 | downcase %}
      <div class="feature-card {% if dc contains "sustainable" %}selected{% endif %}">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img4 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading4 }}</div>
          <div class="feature-text">{{ block.settings.feature_description4 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading5 != blank %}
      {% assign dc = block.settings.feature_heading5 | downcase %}
      <div class="feature-card {% if dc contains "sustainable" %}selected{% endif %}">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img5 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading5 }}</div>
          <div class="feature-text">{{ block.settings.feature_description5 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading6 != blank %}
      {% assign dc = block.settings.feature_heading6 | downcase %}
      <div class="feature-card {% if dc contains "sustainable" %}selected{% endif %}">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img6 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading6 }}</div>
          <div class="feature-text">{{ block.settings.feature_description6 }}</div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<script>
  $('.filter').click(function() {
  	$('.filter').removeClass('selected');
    $(this).addClass('selected');
  	$('.collection-features').addClass('no-disp');    
    $('.'+$(this).data('show')).removeClass('no-disp');
    
  });
</script>






<div class="img-text-wrapper normal-bg">
  <div class="img-text container rel flex-box order-normal normal-top normal-bottom">
    <div class="img-text-text">
      <h2 class="img-text-text-heading regular">
        The Story
      </h2>
      <div class="img-text-text-content">       
        {% if collection.handle == settings.h_collection1.handle %}{{settings.h_description1}}{% endif %}
        {% if collection.handle == settings.h_collection2.handle %}{{settings.h_description2}}{% endif %}
        {% if collection.handle == settings.h_collection3.handle %}{{settings.h_description3}}{% endif %}
        {% if collection.handle == settings.h_collection4.handle %}{{settings.h_description4}}{% endif %}
        {% if collection.handle == settings.h_collection5.handle %}{{settings.h_description5}}{% endif %}
        {% if collection.handle == settings.h_collection6.handle %}{{settings.h_description6}}{% endif %}
        {% if collection.handle == settings.h_collection7.handle %}{{settings.h_description7}}{% endif %}
        {% if collection.handle == settings.h_collection8.handle %}{{settings.h_description8}}{% endif %}
        {% if collection.handle == settings.h_collection9.handle %}{{settings.h_description9}}{% endif %}
        {% if collection.handle == settings.h_collection10.handle %}{{settings.h_description10}}{% endif %}
        {% if collection.handle == settings.h_collection11.handle %}{{settings.h_description11}}{% endif %}
        {% if collection.handle == settings.h_collection12.handle %}{{settings.h_description12}}{% endif %}
        {% if collection.handle == settings.h_collection13.handle %}{{settings.h_description13}}{% endif %}
        {% if collection.handle == settings.h_collection14.handle %}{{settings.h_description14}}{% endif %}
        {% if collection.handle == settings.h_collection15.handle %}{{settings.h_description15}}{% endif %}
        {% if collection.handle == settings.h_collection16.handle %}{{settings.h_description16}}{% endif %}
      </div>
    </div>  
    <div class="img-text-img rel">
      <span class="image-overlay">
        {% include "svg-arrows-big" %}
      </span>    
      {%- if collection.featured_image != blank -%}
            <img
              srcset="{%- if collection.featured_image.width >= 165 -%}{{ collection.featured_image | img_url: '165x' }} 165w,{%- endif -%}
                {%- if collection.featured_image.width >= 360 -%}{{ collection.featured_image | img_url: '360x' }} 360w,{%- endif -%}
                {%- if collection.featured_image.width >= 535 -%}{{ collection.featured_image | img_url: '535x' }} 535w,{%- endif -%}
                {%- if collection.featured_image.width >= 750 -%}{{ collection.featured_image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if collection.featured_image.width >= 1070 -%}{{ collection.featured_image | img_url: '1070x' }} 1070w,{%- endif -%}
                {%- if collection.featured_image.width >= 1500 -%}{{ collection.featured_image | img_url: '1500x' }} 1500w,{%- endif -%}
                {{ collection.featured_image | img_url: 'master' }} {{ collection.featured_image.width }}w"
              src="{{ collection.featured_image | img_url: '1500x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ collection.featured_image.alt | escape }}"
              loading="lazy"
              width="{{ collection.featured_image.width }}"
              height="{{ collection.featured_image.height }}"
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%} 
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hedgren Collection Hero",
    "settings": [
      {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      },
		{
			"type": "text",
			"id": "heading_left",
			"label": "Heading Left"
		},
		{
			"type": "text",
			"id": "heading_right",
			"label": "Heading Right"
		},
		{
			"type": "text",
			"id": "sub_heading",
			"label": "Sub Heading"
		},
        {
          "type": "text",
          "id": "addtext",
          "label": "Add button text",
          "default": "ADD TO CART"
        },
        {
          "type": "text",
          "id": "outtext",
          "label": "Out of stock button text",
          "default": "OUT OF STOCK"
        },
        {
          "type": "text",
          "id": "moretext",
          "label": "More button text",
          "default": "More info"
        },
        {
          "type": "text",
          "id": "buttontext",
          "label": "Button text",
          "default": "SHOP ALL PRODUCTS"
        }
     ],
	"blocks": [
		{
			"type": "features",
			"name": "Features",
			"settings": [
				{
                    "id": "name",
                    "type": "text",
                    "label": "Bag Name"
                },
				{
                    "id": "bag",
                    "type": "image_picker",
                    "label": "Bag image"
                },
				{
                    "id": "feature_img1",
                    "type": "image_picker",
                    "label": "Feature image 1"
                },
				{
                    "id": "feature_heading1",
                    "type": "text",
                    "label": "Feature Heading 1"
                },
				{
                    "id": "feature_description1",
                    "type": "html",
                    "label": "Feature Description 1"
                },
				{
                    "id": "feature_img2",
                    "type": "image_picker",
                    "label": "Feature image 2"
                },
				{
                    "id": "feature_heading2",
                    "type": "text",
                    "label": "Feature Heading 2"
                },
				{
                    "id": "feature_description2",
                    "type": "html",
                    "label": "Feature Description 2"
                },
				{
                    "id": "feature_img3",
                    "type": "image_picker",
                    "label": "Feature image 3"
                },
				{
                    "id": "feature_heading3",
                    "type": "text",
                    "label": "Feature Heading 3"
                },
				{
                    "id": "feature_description3",
                    "type": "html",
                    "label": "Feature Description 3"
                },
				{
                    "id": "feature_img4",
                    "type": "image_picker",
                    "label": "Feature image 4"
                },
				{
                    "id": "feature_heading4",
                    "type": "text",
                    "label": "Feature Heading 4"
                },
				{
                    "id": "feature_description4",
                    "type": "html",
                    "label": "Feature Description 4"
                },
				{
                    "id": "feature_img5",
                    "type": "image_picker",
                    "label": "Feature image 5"
                },
				{
                    "id": "feature_heading5",
                    "type": "text",
                    "label": "Feature Heading 5"
                },
				{
                    "id": "feature_description5",
                    "type": "html",
                    "label": "Feature Description 5"
                },
				{
                    "id": "feature_img6",
                    "type": "image_picker",
                    "label": "Feature image 6"
                },
				{
                    "id": "feature_heading6",
                    "type": "text",
                    "label": "Feature Heading 6"
                },
				{
                    "id": "feature_description6",
                    "type": "html",
                    "label": "Feature Description 6"
                }
			]
		}
	],
   "presets":[
      {
         "name":"Hedgren Collection Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
