{{ 'hedgren-img-text.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-stories.css' | asset_url | stylesheet_tag }}
{% for article in blog.articles %}
<div class="img-text-wrapper story-wrap {{ block.settings.background }}">
  {% assign evenodd = forloop.index | modulo: 2 %}
  <div class="img-text container flex-box normal-top normal-bottom p-no-top p-no-bottom {% if evenodd == 0 %}order-reversed{% else %}{{ block.settings.order }}{% endif %}">
    <div class="img-text-text">
      <h2 class="img-text-text-heading {{ block.settings.heading_color }}">
        {{ article.title }}
      </h2>
      <div class="img-text-text-subheading">
        {{ article.tags.first }}
      </div>
      <div class="img-text-text-content">
        {{ article.excerpt }}
      </div>
      <a href="{{ article.url }}">
        READ STORY<span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
      </a>
    </div>  
    <div class="img-text-img rel">
      <span class="image-overlay">
        {% include "svg-arrows-big" %}
      </span>    
      {%- if article.image != blank -%}
            <img
              srcset="{%- if article.image.width >= 165 -%}{{ article.image | img_url: '205x' }} 165w,{%- endif -%}
                {%- if article.image.width >= 360 -%}{{ article.image | img_url: '400x' }} 360w,{%- endif -%}
                {%- if article.image.width >= 535 -%}{{ article.image | img_url: '605x' }} 535w,{%- endif -%}
                {%- if article.image.width >= 750 -%}{{ article.image | img_url: '800x' }} 750w,{%- endif -%}
                {%- if article.image.width >= 1070 -%}{{ article.image | img_url: '1100x' }} 1070w,{%- endif -%}
                {%- if article.image.width >= 1500 -%}{{ article.image | img_url: '1600x' }} 1500w,{%- endif -%}
                {{ article.image | img_url: 'master' }} {{ article.image.width }}w"
              src="{{ article.image | img_url: '1600x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ article.image.alt | escape }}"
              loading="lazy"
              width="{{ article.image.width }}"
              height="{{ article.image.height }}"
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%} 
    </div>
  </div>
</div>
{% endfor %}
<span class="btn btn-center more-stories no-disp">LOAD MORE STORIES</span>
<script>
	var numItems = $('.story-wrap').length;
  if(numItems>2){
  	$('.more-stories').removeClass('no-disp');
  }
  
  $(".story-wrap").hide();
 $(".story-wrap:lt(2)").show();
  
  $('.more-stories').click(function() {
  	$(".story-wrap").show();
    $(this).addClass('no-disp');
  });
</script>
{% schema %}
 {
   "name":"Hedgren Stories",
   "settings":[
     
   ],
	"blocks": [
		{
			"type": "img_txt",
			"name": "Story",
			"settings":[
      {
         "type":"select",
         "id":"background",
         "options":[
            {
               "value":"normal-bg",
               "label":"Normal background"
            },
            {
               "value":"dark-bg",
               "label":"Dark Background"
            }
         ],
         "default":"normal-bg",
         "label":"Choose background"
      },
      {
         "type":"select",
         "id":"order",
         "options":[
            {
               "value":"order-normal",
               "label":"Default"
            },
            {
               "value":"order-reversed",
               "label":"Reversed columns"
            }
         ],
         "default":"order-normal",
         "label":"Column order"
      },
		{
         "type":"select",
         "id":"heading_color",
         "options":[
            {
               "value":"regular",
               "label":"Default"
            },
            {
               "value":"red",
               "label":"Red"
            }
         ],
         "default":"regular",
         "label":"Heading Color"
      },
      {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      },
      {
         "type":"text",
         "id":"heading",
         "default":"Image with text",
         "label":"Heading text"
      },
      {
         "type":"text",
         "id":"subheading",
         "default":"Subheading",
         "label":"Subheading text"
      },
      {
         "type":"html",
         "id":"content",
         "label":"Content"
      },
      {
         "type":"text",
         "id":"button_label",
         "default":"Button label",
         "label":"Link text"
      },
      {
         "type":"url",
         "id":"button_link",
         "label":"Link URL"
      },
	  {
		 "type": "html",
		 "id": "extra_txt",
		 "label": "Extra Text"
	  }
   ]
		}	
	],
   "presets":[
      {
         "name":"Hedgren Stories"
      }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
