{{ 'hedgren-product.css' | asset_url | stylesheet_tag }}



<div class="product-wrap">
  <div class="container">
    <div class="product-info-imgs flex-box justify-between">
      <div class="product-name-price-rating-wrap no-d">
        <div class="product-name-price-wrap flex-box justify-between">
      	<h1 class="product-title">{{ product.title | escape  }}</h1>
          <div class="product-price">
            <span class="product-font save-money">
              {{ product.compare_at_price | money_without_trailing_zeros | strip_html }}
            </span>
            <span class="product-font money">
              {{ product.price | money_without_trailing_zeros | strip_html }}
            </span>
          </div>
        </div>
        <div class="product-rating">
        {% include "color-product-handles" %}
        </div>
        
      </div>
      <div class="product-imgs flex-box no-t-m">
      	{% for media in product.media %}
                
        {% if media.media_type == "video" %}
        <div class="product-img" data-vid="yes" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
          <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: 'x300' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
        </div>  
        {% else %}
        <div class="product-img" data-vid="no" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
        <img src="{{ media | img_url: 'x300' }}" alt="{{ media.alt | escape }}">
        </div>  
        {% endif %}
        {% endfor %}
        <div class="load-more-images">{{ section.settings.more }}</div>
        <div class="load-less-images no-disp">{{ section.settings.less }}</div>
      </div>
      <div class="product-imgs-mobile no-d">
      	{% for media in product.media %}
             
        {% if media.media_type == "video" %}
        <div class="product-img-mob" data-vid="yes" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
          <video autoplay muted playsinline="playsinline" preload="metadata" aria-label="{{ product.title }}" poster="{{ media.preview_image | img_url: 'x300' }}" loop>{% for video_source in media.sources %}<source src="{{ video_source.url }}" type="{{ video_source.mime_type }}">{% endfor %}</video>
        </div>  
        {% else %}
        <div class="product-img-mob" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
        <img src="{{ media | img_url: 'x300' }}" alt="{{ media.alt | escape }}">
        </div> 
        {% endif %}
        {% endfor %}
      </div>
      <div class="product-info">
      	<h1 class="product-title no-t-m">{{ product.title | escape  }}</h1>
        <div class="product-price no-t-m">
          <span class="product-font save-money">
            {{- product.compare_at_price | money_without_trailing_zeros | strip_html | replace: " ","" -}}
          </span><span class="product-font money">
            {{ product.price | money_without_trailing_zeros | strip_html }}
          </span>
        </div>
        <div class="product-rating no-t-m">
          {% include "color-product-handles" %}
        </div>
        <div class="color-variant-wrap">
          <div class="variant-title">{{ section.settings.forcolor }} : {% include 'color-product-swatch-title' %}{% include 'color-product-swatch-title-2' %}</div>
          <div class="variants2 flex-box">
            {% include 'color-product-swatch' %}
            {% include 'color-product-swatch-2' %}
          </div>
        </div>
        {% if product.available %}
        <div class="add-to-cart" data-variant="{{ product.selected_or_first_available_variant.id }}">{% if product.available %}{{ "products.product.add_to_cart" | t | upcase }}{% else %}Coming Soon{% endif %} {% include 'icon-plus-black' %}</div>
        {% else %}
          {% if product.metafields.custom.product_will_be_continued %}
          <span class="coming-soon-text">{{ section.settings.coming_soon_text }}</span>
        <a class="klaviyo-bis-trigger notify-button" href="#">{{ section.settings.notify_me_text }}</a>
          {% else %}
            <span class="coming-soon-text">{{ section.settings.not_comingback_text }}</span>
          {% endif %}
          {% endif %}
        <style>
          .product-detail__trust-icons {
            display: flex;
            overflow-x: auto;
            margin-bottom: 16px;
            flex-wrap: wrap;
          }
          .product-detail__trust-icon {
            padding-right: 16px;
            text-align: center;
            flex-basis: 25%;
            margin: 0;
            margin-top: 16px;
          }
          .product-detail__trust-img {
            margin: 0 auto;
          }
          .product-detail__trust-caption {
            padding-top: 0.25em;
            text-align: center;
            font-size: .875em;
          }
          .product-detail__trust-caption p:last-child {
            margin-bottom: 0;
          }
          .product-detail__trust-caption p:first-child {
            margin-top: 0;
          }          
          .product-detail__trust-caption {
            line-height: normal;
          }
        </style>
        
        <div class="product-detail__trust-icons">
          {% comment %}
          <figure class="product-detail__trust-icon">
            <div class="product-detail__trust-img" style="height: 22px;width: 22px;">
              <svg class="cc-icon" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="width: 22px;height: 22px;"><path d="M9 .5a.5.5 0 000 1h1a4.5 4.5 0 110 9H2.2l3.15-3.15a.5.5 0 10-.7-.7l-4 4a.5.5 0 000 .7l4 4a.5.5 0 00.7-.7L2.21 11.5H10a5.5 5.5 0 100-11H9z"></path></svg>
            </div>
            <figcaption class="product-detail__trust-caption rte">
              <p>{{ "products.product.trust.returns" | t }}</p>
            </figcaption>
          </figure>

          <figure class="product-detail__trust-icon">
            <div class="product-detail__trust-img" style="height: 22px;width: 22px;">
              <svg class="cc-icon" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="width: 22px;height: 22px;"><path d="M8 1c.21 0 .4.13.47.33l1.62 4.54 4.92.1a.5.5 0 01.29.9l-3.92 2.9 1.42 4.58a.5.5 0 01-.75.56L8 12.17 3.95 14.9a.5.5 0 01-.75-.56l1.42-4.58L.7 6.87a.5.5 0 01.29-.9l4.92-.1 1.62-4.54A.5.5 0 018 1zm0 2L6.74 6.52a.5.5 0 01-.46.33l-3.8.08L5.5 9.17a.5.5 0 01.18.55l-1.1 3.56 3.14-2.13a.5.5 0 01.56 0l3.15 2.13-1.1-3.56a.5.5 0 01.17-.55l3.02-2.23-3.8-.08a.5.5 0 01-.46-.33L8 2.99z"></path></svg>
            </div>
            <figcaption class="product-detail__trust-caption rte">
              <p>{{ "products.product.trust.warranty" | t }}</p>
            </figcaption>

          </figure>

          <figure class="product-detail__trust-icon">
            <div class="product-detail__trust-img" style="height: 22px;width: 22px;">
              <svg class="cc-icon" aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="width: 22px;height: 22px;"><path d="M7.48 10.57v1.83a.5.5 0 001 0v-1.81a1.1 1.1 0 10-1-.02z"></path>
                <path d="M13.15 5.66h-2.08V3.79a3.7 3.7 0 00-.8-2.3C9.76.88 8.98.5 8 .5c-.98 0-1.76.37-2.29 1a3.7 3.7 0 00-.79 2.3v1.86H2.83a.5.5 0 00-.5.5V15c0 .28.23.5.5.5h10.32a.5.5 0 00.5-.5V6.16a.5.5 0 00-.5-.5zM5.9 3.92v-.08-.02c.03-.7.22-1.28.56-1.68.32-.39.81-.64 1.52-.64s1.2.26 1.52.64c.34.4.54.98.56 1.68v1.84H5.91V3.92zm6.74 10.58H3.33V6.66h9.32v7.84z"></path></svg>
            </div>
            <figcaption class="product-detail__trust-caption rte">
              <p>{{ "products.product.trust.checkout" | t }}</p>
            </figcaption>
          </figure>
          {% endcomment %}
          {% for block in section.blocks %}
            {% if block.type == 'icon' %}
              {% assign icon_exist = false %}
              {% for icon in product.metafields.custom.icons.value %}
                {% if icon == block.settings.icon_name %}
                  {% assign icon_exist = true %}
                {% endif %}
              {% endfor %}
              {% if icon_exist %}
              <figure class="product-detail__trust-icon">
                <div class="product-detail__trust-img" {% comment %}style="height: 22px;width: 22px;"{% endcomment %}>
                {% comment %}
                  {{ block.settings.icon }}
                {% endcomment %}
                  <img src="{{ block.settings.icon_img | image_url }}" alt="{{ block.settings.icon_name }}" style="height: 40px; width: 40px;" title="{{ block.settings.icon_name }}">
                </div>
                <figcaption class="product-detail__trust-caption rte">
                  <p>{{ block.settings.icon_name }}</p>
                </figcaption>
              </figure>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        
        <div class="product-desc">{% if product.description contains '<!-- split -->' %}{% assign desc = product.description | split: '<!-- split -->' %}{{ desc[1] }}{% else %}{{ product.description }}{% endif %}</div>
        <div class="product-usps">
          {% if product.description contains '<!-- split -->' %}
          {% assign row = product.description | split: '<!-- split -->' %}
          {% assign size = row.size | plus:0 | minus: 1 %}

          {% for i in (1..size) %}
          {% if forloop.index > 1 %}
          {% assign aux = i | plus: 1 %}
          {% assign mod = aux | modulo: 2 %}

          {% if mod == 1 %}
          <div class="product-ups-wrap">
            <div class="product-usp-title accordion flex-box justify-between">{{row[i]}}<span class="down-chev">{% include 'icon-down-chev-red' %}</span></div>
            {% else %}
            <div class="product-usp-content panel">{{row[i]}}</div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}

          {% endif %}
          {% comment %}
          <div class="product-ups-wrap">
            <div class="product-usp-title accordion flex-box justify-between">FEATURES<span class="down-chev">{% include 'icon-down-chev-red' %}</span></div>
            <div class="product-usp-content panel">
              <div class="product-usp-features flex-box justify-between">
            	{% for i in (1..12) %}
                <div class="usp-feature flex-box{% if forloop.first == true %} selected{% endif %}" data-id="{{ forloop.index }}">
                <div class="feature-circle"></div>
                  <div class="feature-title">Feature</div>
                </div>
              	{% endfor %}
              </div>
              <div class="feature-text" data-id="1">
                 1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
              <div class="feature-text no-disp" data-id="2">
                 2 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
              <div class="feature-text no-disp" data-id="3">
                 3 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
              <div class="feature-text no-disp" data-id="4">
                 4 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
              <div class="feature-text no-disp" data-id="5">
                 5 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
            </div>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
  var numItems = $('.product-img').length;
  if(numItems<5){
  	$('.load-more-images').addClass('no-disp');
  }
  
  $(".product-img").hide();
 $(".product-img:lt(4)").show();
  
  $('.load-more-images').click(function() {
    $(".product-img").show();
    $(this).addClass('no-disp');
    $('.load-less-images').removeClass('no-disp');
  });

  $('.load-less-images').click(function() {
    $(".product-img").hide();
    $(".product-img:lt(4)").show();
    $(this).addClass('no-disp');
    $('.load-more-images').removeClass('no-disp');
  });
  
  
  $('.variant-color').click(function() {
  	$('.variant-color').removeClass('selected');
    $(this).addClass('selected');
  });
  
  $('.usp-feature').click(function() {
  	$('.usp-feature').removeClass('selected');
    $(this).addClass('selected');
    var fet_id = $(this).data('id');
    $('.feature-text').addClass('no-disp');
    $('.feature-text').each(function() {
    	var txt_id = $(this).data('id');
      if(txt_id == fet_id)
      {
      	$(this).removeClass('no-disp');
      }
    });
  });
  $('.product-wrap .product-font.money').css('visibility','hidden');
  $('.product-wrap .product-font.save-money').css('visibility','hidden');
  setTimeout(function(){
    $('.product-font.money').css('visibility','visible');
    $('.product-font.save-money').css('visibility','visible');
  }, 4000);
  var mlvedaData = {"data": [{"url":"{{ product.url }}"}]};
  var mlvedaCallUrl = "//www.mlveda.com/ShopifyApps/ShopifyMultiPricing/getPrices?shop=hedgrenstore.myshopify.com";         
  $.ajax({
     url: mlvedaCallUrl,
        type: "POST",
        dataType: "json",
        timeout: 10000,
        data: {data: JSON.stringify(mlvedaData)},
    })
    .done(function( response ) { 
        if(typeof response.data[0].price !== "undefined") {
        $('.product-wrap .product-font.money').text("€"+parseFloat(response.data[0].price).toFixed(2).replace(/\.?00+$/, ''));
        }
        if(typeof response.data[0].compare_at_price !== "undefined") {
         $('.product-wrap .product-font.save-money').text("€"+parseFloat(response.data[0].compare_at_price).toFixed(2).replace(/\.?00+$/, ''));
        } 
  if(typeof response.data[0].variantId !== "undefined") {
  		$('.product-wrap .add-to-cart').data('variant',response.data[0].variantId);
  }
  $('.product-font.money').css('visibility','visible');
  $('.product-font.save-money').css('visibility','visible');
    })
    .fail(function(error) {
        console.log( error );
  $('.product-font.money').css('visibility','visible');
  $('.product-font.save-money').css('visibility','visible');
    });
  
  $('.add-to-cart').click(function() {
    var formData = {
      'items': [{
        'id': parseInt($(this).data('variant')),
        'quantity': 1
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {     
      $.ajax({
        url: '{{ routes.root_url }}?sections=hedgren-cart-drawer',
        method: "GET",
        dataType: "json"
      })
      .done(function( data ) {
        $('#shopify-section-hedgren-cart-drawer').remove();
        $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
        $('.drawer-cart').addClass('drawn');
        $('body').addClass('no-scroll');
      })
      .fail(function(error) {
        console.log( error );
      });
    })
    .fail(function(error) {
      console.log( error );
    });
  });
  
  $('.product-wrap .variant-color-wrapper').click(function() {
    var url = $(this).data('url');
    if($(this).find('img').hasClass('hedgren-color-inactive')) {
      $.ajax({
        url: $(this).data('url')+'/?sections=hedgren-product',
        method: "GET"
      })
      .done(function( data ) {
        var figures = document.createElement('div').classList.add('product-detail__trust-icons');
        {% for block in section.blocks %}
            {% if block.type == 'icon' %}
              {% assign icon_exist = false %}
              {% for icon in product.metafields.custom.icons.value %}
                {% if icon == block.settings.icon_name %}
                  {% assign icon_exist = true %}
                {% endif %}
              {% endfor %}
              {% if icon_exist %}
                var figure = document.createElement('div');
                figure.classList.add('product-detail__trust-icon');
                console.log(figure);
                figure.innerHTML = '<div class="product-detail__trust-img"><img src="'+{{ block.settings.icon_img | image_url }}+'" alt="'+{{ block.settings.icon_name }}+'" style="height: 40px; width: 40px;" title="'+{{ block.settings.icon_name }}+'"></div><figcaption class="product-detail__trust-caption rte"><p>'+{{ block.settings.icon_name }}+'</p></figcaption>';
                $(figures).append(figure);
              {% endif %}
            {% endif %}
          {% endfor %}
        $('main').prepend(data['hedgren-product']);
        var divx = $('.product-wrap').find('.product-detail__trust-icons');
        $(divx).replaceWith(figures);
        console.log(figures);
        var acc = document.getElementsByClassName("product-usp-title");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        window.history.pushState({}, null, url);
        $('.product-imgs-mobile').first().slick({
          infinite: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: true,
          arrows: false
        });
        $("html, body").animate({ scrollTop: 0 }, "fast");
        $('.product-wrap').last().parent().remove();
      })
      .fail(function(error) {
        console.log( error );
      });
    }
  });

   
</script>
<!-- Core CSS file -->
<link rel="stylesheet" href="{{ "photoswipe.css" | asset_url }}"> 

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite, 
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="{{ "default-skin.css" | asset_url }}"> 

<!-- Core JS file -->
<script src="{{ "photoswipe.min.js" | asset_url }}"></script> 

<!-- UI JS file -->
<script src="{{ "photoswipe-ui-default.min.js" | asset_url }}"></script> 

<script>

    // Init empty gallery array
    var container = [];
  var gallery;
  
    // Loop over gallery items and push it to the array
    $('.product-imgs .product-img').each(function() {
      if($(this).data('vid') == 'yes') {
        var $link = $(this),
            item = {
              html: $link.html()
            };
        container.push(item);
      } else {
        var $link = $(this),
            item = {
              src: $link.attr('href'),
              w: $link.data('width'),
              h: $link.data('height'),
              title: $link.data('caption')
            };
        container.push(item);
      }
    });

    // Define click event on gallery item
    $('.product-imgs .product-img,.product-imgs-mobile .product-img-mob').click(function(event) {

      // Prevent location change
      event.preventDefault();

      // Define object and gallery options
      var $pswp = $('.pswp')[0],
          options = {
            index: $(this).data('index'),
            bgOpacity: 0.85,
            showHideOpacity: true
          };

      // Initialize PhotoSwipe
      gallery = new PhotoSwipe($pswp, PhotoSwipeUI_Default, container, options);
      gallery.init();
    });

</script>
{% include "photoswipe" %}
{% schema %}
  {
    "name": "Hedgren Product",
    "settings": [
		{
          "type": "text",
          "id": "more",
          "label": "More text",
          "default": "LOAD MORE IMAGES"
        },
		{
          "type": "text",
          "id": "forcolor",
          "label": "Colour text",
          "default": "COLOUR"
        },
		{
           "type":"text",
           "id":"less",
           "default":"SHOW LESS IMAGES",
           "label":"Less text"
        },
        {
          "type": "text",
          "id": "coming_soon_text",
          "label": "Coming Soon Text",
          "default": "Out of stock: Coming Soon"
        },
        {
          "type": "text",
          "id": "notify_me_text",
          "label": "Notify Me Text",
          "default": "Notify Me"
        },
        {
          "type": "text",
          "id": "not_comingback_text",
          "label": "Not Coming Back Text",
          "default": "This item will not get back in stock"
        }
	],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "text",
            "id": "icon_name",
            "label": "Icon Name"
          },
          {
            "type": "image_picker",
            "id": "icon_img",
            "label": "Icon"
          }
        ]
      }
    ],
	"presets": [
		{
			"name": "Hedgren Product"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
