{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}

<div class="hero" style="{% if section.settings.image %}background-image: url({{ section.settings.image | img_url: "2000x" }}){% else %}background: #375D54{% endif %}">
  <div class="container flex-box justify-end">
    <h1 class="hero-text">
      Back to&nbsp;&nbsp; School
    </h1>
  </div>
</div>
<div class="hero-products-wrapper hedgren-collection-products-wrapper">
  <div class="container rel">
    <div class="product-slider-wrap">
    <div class="hero-products">
      {% for product in collections.all.products limit: 8 %}
      <div class="hero-product">
        <div class="hero-product-images-block">
          {% for image in product.images limit: 2 %}
          <img src="{{ image | img_url: "450x" }}" alt="{{ product.title }}">
          {% endfor %}
        </div>
        <div class="hero-product-text-block">
          <div class="hero-row">
            <div class="hero-col">
              <span class="product-font">
                {{ product.title }}
              </span>
            </div>
            <div class="hero-col">
              <span class="product-font">
                {{ product.price | money }}
              </span>
            </div>
          </div>
          <div class="hero-row">            
            <span class="product-tag">
              Drawstring Backpack RFID
            </span>
          </div>
          <button class="add-direct btn btn-center">ADD TO CART {% render "svg-plus" %}</button>
          <a href="{{ product.url }}" class="more-info">
            More info <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="btn btn-center" href="#">All products</a>
    </div>
  </div>
  <div class="img-text rel flex-box no-t-m">
    <div class="img-text-text">
      <h2 class="img-text-text-heading">
        Hedgrenist
      </h2>
      <div class="img-text-text-subheading hero-img-text-text-subheading">
        stories
      </div>
      <div class="img-text-text-content">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      </div>
      <a href="#">
        READ STORY <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
      </a>
    </div>  
    <div class="img-text-img rel">
      <span class="image-overlay">
        {% include "svg-arrows-big" %}
      </span>    
      <img src="{{ 'img.png' | asset_img_url: '600x' }}">
      <div class="extra-text{% if section.settings.order == 'order-normal' %} txt-right{% endif %}">{{ section.settings.extra_txt }}</div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hedgren Hero",
    "settings": [
      {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      }
     ],
   "presets":[
      {
         "name":"Hedgren Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
