{{ 'hedgren-product.css' | asset_url | stylesheet_tag }}

<div class="product-wrap">
  <div class="container">
    <div class="product-info-imgs flex-box justify-between">
      <div class="product-name-price-rating-wrap no-d">
        <div class="product-name-price-wrap flex-box justify-between">
      	<h1 class="product-title">{{ product.title | escape  }}</h1>
          <div class="product-price">
            <span class="product-font save-money">
              {{ product.compare_at_price | money_without_trailing_zeros | strip_html }}
            </span>
            <span class="product-font money">
              {{ product.price | money_without_trailing_zeros | strip_html }}
            </span>
          </div>
        </div>
        <div class="product-rating">
        	{%for i in (1..product.metafields.loox.avg_rating) %}
        	{% include 'icon-black-star' %}
          {% endfor %}
          <span class="no-of-ratings">{% if product.metafields.loox.num_reviews %}({{ product.metafields.loox.num_reviews }}){% endif %}</span>
        </div>
      </div>
      <div class="product-imgs flex-box no-t-m">
      	{% for media in product.media %}
        <div class="product-img" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
        <img src="{{ media | img_url: 'x300' }}" alt="{{ media.alt | escape }}">
        </div>          
        {% endfor %}
        <div class="load-more-images">LOAD MORE IMAGES</div>
      </div>
      <div class="product-imgs-mobile no-d">
      	{% for media in product.media %}
        <div class="product-img-mob" href="{{ media | img_url: 'master' }}" data-caption="{{ product.title | escape  }}" data-width="{{media.width}}" data-height="{{media.height}}" itemprop="contentUrl" data-index="{{ forloop.index0 }}">
        <img src="{{ media | img_url: 'x300' }}" alt="{{ media.alt | escape }}">
        </div>          
        {% endfor %}
      </div>
      <div class="product-info">
      	<h1 class="product-title no-t-m">{{ product.title | escape  }}</h1>
        <div class="product-price no-t-m">
          <span class="product-font save-money">
            {{- product.compare_at_price | money_without_trailing_zeros | strip_html | replace: " ","" -}}
          </span><span class="product-font money">
            {{ product.price | money_without_trailing_zeros | strip_html }}
          </span>
        </div>
        <div class="product-rating no-t-m">
          {%for i in (1..product.metafields.loox.avg_rating) %}
        	{% include 'icon-black-star' %}
          {% endfor %}
          <span class="no-of-ratings">{% if product.metafields.loox.num_reviews %}({{ product.metafields.loox.num_reviews }}){% endif %}</span>
        </div>
        <div class="color-variant-wrap">
          <div class="variant-title">COLOUR</div>
          <div class="variants2 flex-box">
            {% include 'color-product-swatch' %}
            {% include 'color-product-swatch-2' %}
          </div>
        </div>
        <div class="add-to-cart" data-variant="{{ product.selected_or_first_available_variant.id }}">{% if product.available %}ADD TO CART{% else %}Sold Out{% endif %} {% include 'icon-plus-black' %}</div>
        <div class="product-desc">{% if product.description contains '<!-- split -->' %}{% assign desc = product.description | split: '<!-- split -->' %}{{ desc[1] }}{% else %}{{ product.description }}{% endif %}</div>
        <div class="product-usps">
          {% if product.description contains '<!-- split -->' %}
          {% assign row = product.description | split: '<!-- split -->' %}
          {% assign size = row.size | plus:0 | minus: 1 %}

          {% for i in (1..size) %}
          {% if forloop.index > 1 %}
          {% assign aux = i | plus: 1 %}
          {% assign mod = aux | modulo: 2 %}

          {% if mod == 1 %}
          <div class="product-ups-wrap">
            <div class="product-usp-title accordion flex-box justify-between">{{row[i]}}<span class="down-chev">{% include 'icon-down-chev-red' %}</span></div>
            {% else %}
            <div class="product-usp-content panel">{{row[i]}}</div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}

          {% endif %}
          {% comment %}
          <div class="product-ups-wrap">
            <div class="product-usp-title accordion flex-box justify-between">FEATURES<span class="down-chev">{% include 'icon-down-chev-red' %}</span></div>
            <div class="product-usp-content panel">
              <div class="product-usp-features flex-box justify-between">
            	{% for i in (1..12) %}
                <div class="usp-feature flex-box{% if forloop.first == true %} selected{% endif %}" data-id="{{ forloop.index }}">
                <div class="feature-circle"></div>
                  <div class="feature-title">Feature</div>
                </div>
              	{% endfor %}
              </div>
              <div class="feature-text" data-id="1">
                 1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
              <div class="feature-text no-disp" data-id="2">
                 2 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
              <div class="feature-text no-disp" data-id="3">
                 3 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
              <div class="feature-text no-disp" data-id="4">
                 4 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
              <div class="feature-text no-disp" data-id="5">
                 5 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
                </div>
            </div>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
  var numItems = $('.product-img').length;
  if(numItems<5){
  	$('.load-more-images').addClass('no-disp');
  }
  
  $(".product-img").hide();
 $(".product-img:lt(4)").show();
  
  $('.load-more-images').click(function() {
  	$(".product-img").show();
    $(this).addClass('no-disp');
  });
  
  
  $('.variant-color').click(function() {
  	$('.variant-color').removeClass('selected');
    $(this).addClass('selected');
  });
  
  $('.usp-feature').click(function() {
  	$('.usp-feature').removeClass('selected');
    $(this).addClass('selected');
    var fet_id = $(this).data('id');
    $('.feature-text').addClass('no-disp');
    $('.feature-text').each(function() {
    	var txt_id = $(this).data('id');
      if(txt_id == fet_id)
      {
      	$(this).removeClass('no-disp');
      }
    });
  });
  
  var mlvedaData = {"data": [{"url":"{{ product.url }}"]};
                              
  var abcd = $m.ajax({
     url: mlvedaCallUrl,
        type: "POST",
        dataType: "json",
        timeout: 10000,
        data: {data: JSON.stringify(mlvedaData)},
        success: function(response) {
              $('.product-font.money').text(response[0].price);
   });
  
  $('.add-to-cart').click(function() {
    var formData = {
      'items': [{
        'id': parseInt($(this).data('variant')),
        'quantity': 1
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {     
      $.ajax({
        url: '/?sections=hedgren-cart-drawer',
        method: "GET",
        dataType: "json"
      })
      .done(function( data ) {
        $('#shopify-section-hedgren-cart-drawer').remove();
        $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
        $('.drawer-cart').addClass('drawn');
        $('body').addClass('no-scroll');
      })
      .fail(function(error) {
        console.log( error );
      });
    })
    .fail(function(error) {
      console.log( error );
    });
  });
  
  $('.product-wrap .variant-color-wrapper').click(function() {
    var url = $(this).data('url');
    if($(this).find('img').hasClass('hedgren-color-inactive')) {
      $.ajax({
        url: $(this).data('url')+'/?sections=hedgren-product',
        method: "GET"
      })
      .done(function( data ) {
        $('main').prepend(data['hedgren-product']);
        var acc = document.getElementsByClassName("product-usp-title");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        window.history.pushState({}, null, url);
        $('.product-imgs-mobile').first().slick({
          infinite: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: true,
          arrows: false
        });
        $("html, body").animate({ scrollTop: 0 }, "fast");
        $('.product-wrap').last().parent().remove();
      })
      .fail(function(error) {
        console.log( error );
      });
    }
  });

   
</script>
<!-- Core CSS file -->
<link rel="stylesheet" href="{{ "photoswipe.css" | asset_url }}"> 

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite, 
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="{{ "default-skin.css" | asset_url }}"> 

<!-- Core JS file -->
<script src="{{ "photoswipe.min.js" | asset_url }}"></script> 

<!-- UI JS file -->
<script src="{{ "photoswipe-ui-default.min.js" | asset_url }}"></script> 

<script>

    // Init empty gallery array
    var container = [];
  var gallery;
  
    // Loop over gallery items and push it to the array
    $('.product-imgs .product-img').each(function() {
      var $link = $(this),
          item = {
            src: $link.attr('href'),
            w: $link.data('width'),
            h: $link.data('height'),
            title: $link.data('caption')
          };
      container.push(item);
    });

    // Define click event on gallery item
    $('.product-imgs .product-img,.product-imgs-mobile .product-img-mob').click(function(event) {

      // Prevent location change
      event.preventDefault();

      // Define object and gallery options
      var $pswp = $('.pswp')[0],
          options = {
            index: $(this).data('index'),
            bgOpacity: 0.85,
            showHideOpacity: true
          };

      // Initialize PhotoSwipe
      gallery = new PhotoSwipe($pswp, PhotoSwipeUI_Default, container, options);
      gallery.init();
    });

</script>
{% include "photoswipe" %}
{% schema %}
  {
    "name": "Hedgren Product",
    "settings": [],
	"presets": [
		{
			"name": "Hedgren Product"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
