{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-product.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-article.css' | asset_url | stylesheet_tag }}

<div class="hedgren-article-wrapper">
  <div class="article-img rel">
  	<img src="{{ article.image | img_url: '2000x' }}">
    <div class="overlay"></div>
  </div>
  <div class="article-bg">
  <div class="container rel">
    <div class="article-whole-content-wrap">
    <div class="article-title-wrap rel">
      <span class="heding-arrows">
        {% include "svg-arrows-big" %}
      </span> 
      <h1 class="article-title rel">{{ article.title }}</h1>
      </div>
      <div class="article-author-date flex-box">
        <div class="article-author-img"><img src="{{ 'IMage_2x.png' | asset_img_url: '50x' }}"></div>
        <div class="article-author">WRITTEN BY {{ article.author }}</div>
        <div class="article-date">{{ article.created_at | date: "%d/%m/'%y" }}</div>
      </div>
      <div class="article-content-wrap">
      <div class="article-excerpt">{{ article.excerpt }}</div>
      <div class="article-content">{{ article.content }}</div>
        {% assign product = all_products["crusade-drawstring-backpack-rfid-bblackstr"] %}
        <div class="upsell-product">
          <div class="hero-product flex-box">
            <div class="hero-product-images-block">
              <a href="{{ product.url }}">
                <img src="{{ product.featured_image | img_url: "450x" }}" alt="{{ product.title }}">
              </a>
            </div>
            <div class="hero-product-text-block">
              <div class="hero-row">
                <div class="hero-col">
                  <span class="product-font">
                    {{ product.title | truncatewords: 1, "" }}
                  </span>
                </div>
              </div>
              <div class="hero-col product-prices">
                <span class="product-compare-price save-money">{{ product.compare_at_price | money_without_trailing_zeros | strip_html }}</span>
                <span class="product-font product-price money">
                  {{ product.price | money_without_trailing_zeros | strip_html }}
                </span>
              </div>
              <div class="color-variant-wrap">
                <div class="variant-title">COLOUR</div>                
                <div class="variants flex-box">
                  {% include 'color-product-swatch' %}
                  {% include 'color-product-swatch-2' %}
                </div>
              </div>
              <div class="hero-row">            
                <span class="product-tag">
                  {% assign desc = product.description | split: "<!--split-->" %}
                  {{ desc[1] | strip_html | truncatewords: 20, "..." }}
                </span>
              </div>
              <button class="add-direct btn btn-center {% unless product.available %}no-avaliable{% endunless %}" data-variant="{{ product.selected_or_first_available_variant.id }}"><span class="cart-txt no-d">{% if product.available %}ADD{% else %}Sold Out{% endif %}</span><span class="cart-txt no-t-m">{% if product.available %}Add to cart{% else %}Out of stock{% endif %}</span>  {% render "svg-plus" %}</button>
            </div>
          </div>
        </div>
        
        <div class="article-toggler flex-box justify-between">
          <a href="{{ blog.previous_article }}"><span class="prev-arrow arrow">{% include 'icon-arrow-grey' %}</span>PREVIOUS STORY</a>
        	<a href="{{ blog.next_article }}">NEXT STORY<span class="arrow next-arrow">{% include 'icon-arrow-grey' %}</span></a>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>

<script>
  
  $('.variant-color').click(function() {
  	$('.variant-color').removeClass('selected');
    $(this).addClass('selected');
  });
  

</script>

{% schema %}
  {
    "name": "Hedgren Article",
    "settings": [],
	"presets": [{"name": "Hedgren Article"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
