{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}

<div class="hero" style="{% if section.settings.image %}background-image: url({{ section.settings.image | img_url: "2000x" }}){% else %}background: #375D54{% endif %}">
  <div class="container flex-box justify-end">
    <h1 class="hero-text">
      {{ section.settings.heading }}
    </h1>
  </div>
</div>
{% if section.settings.collection %}
<div class="hero-products-wrapper hedgren-collection-products-wrapper">
  <div class="container rel">
    <div class="product-slider-wrap">
    <div class="hero-products">
      {% for product in section.settings.collection.products limit: 8 %}
      <div class="hero-product">
        <div class="hero-product-images-block">
          <a href="{{ product.url }}">
          {% for image in product.images limit: 2 %}
          <img src="{{ image | img_url: "450x" }}" alt="{{ product.title }}">
          {% endfor %}
          </a>
            <div class="variants flex-box">
              {% include 'color-product-swatch' %}
              {% include 'color-product-swatch-2' %}
            </div>
        </div>
        <div class="hero-product-text-block">
          <a href="{{ product.url }}">
          <div class="hero-row">
            <div class="hero-col">
              <span class="product-font">
                {{ product.title }}
              </span>
            </div>
            <div class="hero-col">
              <span class="product-font">
                {{ product.price | money }}
              </span>
            </div>
          </div>
          </a>
          <div class="hero-row">            
            <span class="product-tag">
              {{ product.tags.first }}
            </span>
          </div>
          <button class="add-direct btn btn-center">{{ section.settings.addtext }} {% render "svg-plus" %}</button>
          <a href="{{ product.url }}" class="more-info">
            {{ section.settings.moretext }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="btn btn-center" href="#">{{ section.settings.buttontext }}</a>
    </div>
  </div>
</div>

      
      
      
      <script>

        $('.variants img').click(function() {
          $(this).closest('.variants').find('img').removeClass('hedgren-color-active').addClass('hedgren-color-inactive');
        $(this).addClass('hedgren-color-active').removeClass('hedgren-color-inactive');
          var current = $(this);
          $.ajax({
            url: $(this).parent().data('url'),
            method: "GET",
            dataType: "json"
          })
        .done(function( data ) {
          current.closest('.hero-product').find('.money').text("€"+(data.price / 100).toFixed(2).replace(/\.?0+$/, '').replace('.',','));
            current.closest('.hero-product').find('.hero-product-images-block a img').first().attr('src',data.images.get(0).src);
            current.closest('.hero-product').find('.hero-product-images-block a img').last().attr('src',data.images.get(1).src);
           /* $('.featured-product-link{{index_no}}').attr('href',data.url);
            $('.gotolink{{index_no}}').data('url',data.url);
            $('.product-price{{index_no}}').text("€"+(data.price / 100).toFixed(2).replace(/\.?0+$/, '').replace('.',','));    
            if(data.available) {
            $('.add-to-cart-btn{{index_no}}').text('ADD TO CART');
              $('.add-to-cart-btn{{index_no}}').removeClass('no-avaliable');        
              } else {
              $('.add-to-cart-btn{{index_no}}').text('OUT OF STOCK');
              $('.add-to-cart-btn{{index_no}}').addClass('no-avaliable');        	
              }
              $('.product-title{{index_no}}').text(data.title)

              $('.add-to-cart-btn{{index_no}}').data('variant',data.variants[0].id);*/
              })
            .fail(function(error) {
              console.log( error );
            });
          });

            $('.more-color-link').click(function() {
              $(this).parent().find('.no-disp').removeClass('no-disp');
              $(this).addClass('no-disp');
            });    

            $('.add-to-cart-btn').click(function() {
              var formData = {
                'items': [{
                  'id': parseInt($(this).data('variant')),
                  'quantity': 1
                }]
              };
              $.ajax({
                url: "/cart/add.js",
                method: "POST",
                dataType: "json",
                data: formData,
              })
              .done(function( data ) {     
				console.log(data);
              })
              .fail(function(error) {
                console.log( error );
              });
            });

      </script>

{% endif %}

{% schema %}
  {
    "name": "Hedgren Hero",
    "settings": [
      {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      },
      {
        "type": "html",
        "id": "heading",
        "label": "Heading",
		"default": "Welcome to store"
      },
      {
        "type": "text",
        "id": "addtext",
        "label": "Add button text",
		"default": "ADD TO CART"
      },
      {
        "type": "text",
        "id": "moretext",
        "label": "More button text",
		"default": "More info"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Select Collection"
      },
      {
        "type": "text",
        "id": "buttontext",
        "label": "Button text",
		"default": "SHOP ALL PRODUCTS"
      }
     ],
   "presets":[
      {
         "name":"Hedgren Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
