{{ 'hedgren-policies.css' | asset_url | stylesheet_tag }}

<div class="hedgren-policies-wrapper">
  <div class="policies-headings-wrapper">
    <div class="container">
      <div class="policies-headings">
        <div class="policies-side-title">{{ section.settings.heading_left }}</div>
        <h1 class="policies-title">{{ section.settings.heading }}</h1>
        <div class="policies-side-title">{{ section.settings.heading_right }}</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="policies-content">
    	{{ section.settings.content }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hedgren Policies",
    "settings": [
		{
			"type": "text",
			"id": "heading_left",
			"default": "1994",
			"label": "Heading Left"
		},
		{
			"type": "text",
			"id": "heading",
			"default": "Policy",
			"label": "Heading Main"
		},
		{
			"type": "text",
			"id": "heading_right",
			"default": "2021",
			"label": "Heading Right"
		},
		{
			"type": "html",
			"id": "content",
			"label": "Content"
		}
	],
	"presets": [
		{
			"name": "Hedgren Policies"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
