<link rel="stylesheet" href="{{ 'hedgren-footer.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'hedgren-footer.css' | asset_url | stylesheet_tag }}</noscript>
<div class="footer-wrapper">
<footer>
  <div class="footer-newsletter">
    <form id="email_signup" class="klaviyo_styling klaviyo_gdpr_embed_RaHJHf" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      <div class="klaviyo_messages">
        <div class="success_message form-success text-center note" style="display:none;">Newsletter subscribed successfully</div>
        <div class="error_message form-error text-center note" style="display:none;">Incorrecte Email</div>
      </div>

      <input type="hidden" name="g" value="RaHJHf">
      <input type="hidden" name="$fields" value="$consent">
      <input type="hidden" name="$list_fields" value="$consent">
      <h3>
        Subscribe to hedgren
      </h3>
      <div class="input-group">
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="email@example.com" name="contact[email]" id="Email" aria-label="email" autocorrect="off" autocapitalize="off">
        <input type="submit" name="commit" id="Subscribe" value="Subscribe">
      </div>
    </form>
  </div>
  <hr class="footer-hr">
  <div class="footer-navs flex-box justify-between">
    {%- if section.settings.menu != blank -%}
    <ul class="footer-nav-col">
      {%- for link in section.settings.menu.links -%}
      {% if forloop.first %}      
      <li class="link-heading">
        <a href="#" onclick="return false;">{{ link.title | escape }}</a>
      </li>
      {% else %}
      {% assign first_letter = link.title | slice: 0 %}
      {% if first_letter == "-" %}
      <li class="link-primary">
        <a href="{{ link.url }}">{{ link.title | escape | remove_first: "-" }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span></a>
      </li>
      {% else %}
      <li class="link-secondary">
        <a href="{{ link.url }}">{{ link.title | escape }} <span class="link-arows">{% include "svg-arrow" %}</span></a>
      </li>
      {% endif %}
      {% endif %}
      {%- endfor -%}
    </ul>
    {%- endif -%}
    <hr class="footer-hr no-d">
    {%- if section.settings.menu2 != blank -%}
    <ul class="footer-nav-col">
      {%- for link in section.settings.menu2.links -%}
      {% if forloop.first %}      
      <li class="link-heading">
        <a href="#" onclick="return false;">{{ link.title | escape }}</a>
      </li>
      {% else %}
      {% assign first_letter = link.title | slice: 0 %}
      {% if first_letter == "-" %}
      <li class="link-primary">
        <a href="{{ link.url }}">{{ link.title | escape | remove_first: "-" }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span></a>
      </li>
      {% else %}
      <li class="link-secondary">
        <a href="{{ link.url }}">{{ link.title | escape }} <span class="link-arows">{% include "svg-arrow" %}</span></a>
      </li>
      {% endif %}
      {% endif %}
      {%- endfor -%}
    </ul>
    {%- endif -%}
    <hr class="footer-hr no-d">
    {%- if section.settings.menu3 != blank -%}
    <ul class="footer-nav-col">
      {%- for link in section.settings.menu3.links -%}
      {% if forloop.first %}      
      <li class="link-heading">
        <a href="#" onclick="return false;">{{ link.title | escape }}</a>
      </li>
      {% else %}
      {% assign first_letter = link.title | slice: 0 %}
      {% if first_letter == "-" %}
      <li class="link-primary">
        <a href="{{ link.url }}">{{ link.title | escape | remove_first: "-" }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span></a>
      </li>
      {% else %}
      <li class="link-secondary">
        <a href="{{ link.url }}">{{ link.title | escape }} <span class="link-arows">{% include "svg-arrow" %}</span></a>
      </li>
      {% endif %}
      {% endif %}
      {%- endfor -%}
    </ul>
    {%- endif -%}
    <hr class="footer-hr no-d">
    <ul class="footer-nav-col">
      <li class="link-heading">
        <a href="#">GET CONNECTED</a>
      </li>
      <li class="social-links">
        <a href="https://www.facebook.com/Hedgren.Bags/" target="_blank" title="facebook" rel="noopener noreferrer">{% render "svg-facebook" %}</a>
        <a href="https://www.instagram.com/hedgren_global/" target="_blank" title="Instagram" rel="noopener noreferrer">{% render "svg-instagram" %}</a>
        <a href="https://www.pinterest.com/hedgrenglobal/" target="_blank" title="pinterest" rel="noopener noreferrer">{% render "svg-pinterest" %}</a>
        <a href="https://www.youtube.com/channel/UCTo6PftxF3wFOM6MNoYaphA/feed" target="_blank" title="youtube" rel="noopener noreferrer">{% render "svg-youtube" %}</a>
      </li>
    </ul>
  </div>
  <hr class="footer-hr">
  <div class="footer-line flex-box justify-between">
    <div class="footer-line-left">
      <span>© 2021, Official Hedgren Store</span>
      <span>Powered by <a href="https://deardigital.be" target="_blank">dear digital</a></span>
    </div>
    <div class="footer-line-center">      
      {%- if section.settings.menu4 != blank -%}
      {%- for link in section.settings.menu4.links -%}
      <span><a href="{{ link.url }}">{{ link.title | escape }}</a></span>
      {%- endfor -%}
      {%- endif -%}
    </div>
    <div class="footer-line-right">
      {% for type in shop.enabled_payment_types %}
      <div class="payment-method"> 
        {{ type | payment_type_svg_tag: class: 'section-footer__payment-icon' }}
      </div>
      {% endfor %}
    </div>
  </div>
</footer>
</div>
{% schema %}
  {
    "name": "Hedgren Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Footer Column 1"
      },
      {
        "type": "link_list",
        "id": "menu2",
        "default": "main-menu",
        "label": "Footer Column 2"
      },
      {
        "type": "link_list",
        "id": "menu3",
        "default": "main-menu",
        "label": "Footer Column 3"
      },
      {
        "type": "link_list",
        "id": "menu4",
        "default": "main-menu",
        "label": "Sub Footer Column 4"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
