{{ 'hedgren-product.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-all-products.css' | asset_url | stylesheet_tag }}

<style>
	.filter-wrap.selected .filter-checkbox{
      background-image: url('{{ 'check_2x.png' | asset_img_url: '100x' }}');
        background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
}

</style>

<div class="all-products-wrapper">
  <div class="container">
    <div class="filter-sort-products rel no-t-m">
      <div class="filters filters-filter">FILTER <span class="down-chev">{% include 'icon-down-chev-red' %}</span>
      	
         <div class="filters-dropdown">
        <div class="filters-dropdown-wrap">
        <div class="filter-dropdown-left">
        <div class="filter-type">
          <div class="filter-type-title">TYPE OF BAG</div>
          <div class="filter-type-filters">
          {% for i in (1..13) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Cross over</div>
          </div>
          {% endfor %}
          </div>
        </div>
        </div>
        <div class="filter-dropdown-right">
          <div class="filter-dropdown-right-left">
          	<div class="filter-type">
          <div class="filter-type-title">TYPE OF LUGGAGE</div>
          <div class="filter-type-filters">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Cabin luggage</div>
          </div>
          {% endfor %}
          </div>
        </div>
            <div class="filter-type">
          <div class="filter-type-title">LENGTH OF STAY</div>
          <div class="filter-type-filters">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Daytrip</div>
          </div>
          {% endfor %}
          </div>
        </div>
          </div>
          <div class="filter-dropdown-right-right">
            <div class="filter-type">
          <div class="filter-type-title">FEATURES</div>
          <div class="filter-type-filters">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Feature</div>
          </div>
          {% endfor %}
          </div>
        </div>
            <div class="filter-type">
          <div class="filter-type-title">SHOP FOR THE HEDGRENIST</div>
          <div class="filter-type-filters">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">A parent person</div>
          </div>
          {% endfor %}
          </div>
        </div>
          </div>
        	
        </div>
        </div>
        <div class="apply-filters-btn">APPLY FILTER</div>
      </div>
        
      </div>
     
      <div class="filters sort-title-wrap">SORT <span class="down-chev">{% include 'icon-down-chev-red' %}</span>
        <div class="sort-wrap">
          <div class="sort new-first">Newest first</div>
          <div class="sort bestsellers">Bestsellers</div>
          <div class="sort ltoh">Price, low - high</div>
          <div class="sort htol">Price, high - low</div>
        </div>
      </div>
    </div>
    <div class="filter-sort-products rel no-d">
      <div class="filters filters-filter">FILTER <span class="down-chev">{% include 'icon-down-chev-red' %}</span>
      	
         <div class="filters-dropdown">
        <div class="filters-dropdown-wrap">
          <div class="filter-type">
          <div class="filter-type-title accordion">COLOURS <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
            <div class="color-options panel">
              {% for i in (1..3) %}
              <div class="color-wrap"><div class="variant-color grey-color"></div><div class="color-name">Grey</div></div>
              <div class="color-wrap"><div class="variant-color yellow-color"></div><div class="color-name">Yellow</div></div>
              <div class="color-wrap"><div class="variant-color blue-color"></div><div class="color-name">Blue</div></div>
              <div class="color-wrap"><div class="variant-color red-color"></div><div class="color-name">Red</div></div>
              {% endfor %}
            </div>
        </div>
          
        <div class="filter-type">
          <div class="filter-type-title accordion">TYPE OF BAG <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..13) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Cross over</div>
          </div>
          {% endfor %}
          </div>
        </div>
          	<div class="filter-type">
          <div class="filter-type-title accordion">TYPE OF LUGGAGE <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Cabin luggage</div>
          </div>
          {% endfor %}
          </div>
        </div>
            <div class="filter-type">
          <div class="filter-type-title accordion">LENGTH OF STAY <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Daytrip</div>
          </div>
          {% endfor %}
          </div>
        </div>
            <div class="filter-type">
          <div class="filter-type-title accordion">FEATURES <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">Feature</div>
          </div>
          {% endfor %}
          </div>
        </div>
            <div class="filter-type">
          <div class="filter-type-title accordion">SHOP FOR THE HEDGRENIST <span class="down-chev">{% include 'icon-down-chevron-black' %}</span></div>
          <div class="filter-type-filters panel">
          {% for i in (1..4) %}
          <div class="filter-wrap">
            <div class="filter-checkbox"></div>
            <div class="filter-txt">A parent person</div>
          </div>
          {% endfor %}
          </div>
        </div>
        	
        </div>
           <div class="apply-clear-filters-wrap">
             <div class="apply-clear-filters">
             <div class="clear-filters">CLEAR ALL</div>
        <div class="apply-filters-btn">APPLY FILTER</div>
             </div>
           </div>
      </div>
        
      </div>
     
      <div class="filters sort-title-wrap">SORT <span class="down-chev">{% include 'icon-down-chev-red' %}</span>
        <div class="sort-wrap">
          <div class="sort new-first">Newest first</div>
          <div class="sort bestsellers">Bestsellers</div>
          <div class="sort ltoh">Price, low - high</div>
          <div class="sort htol">Price, high - low</div>
        </div>
      </div>
    </div>
    <div class="color-options no-t-m">
      {% for i in (1..3) %}
      <div class="color-wrap"><div class="variant-color grey-color"></div><div class="color-name">Grey</div></div>
      <div class="color-wrap"><div class="variant-color yellow-color"></div><div class="color-name">Yellow</div></div>
      <div class="color-wrap"><div class="variant-color blue-color"></div><div class="color-name">Blue</div></div>
      <div class="color-wrap"><div class="variant-color red-color"></div><div class="color-name">Red</div></div>
      {% endfor %}
    </div>
    <div class="all-products">
      {% for product in collections.all.products limit: 8 %}
      <div class="hero-product">
        <div class="hero-product-images-block rel">
          {% for image in product.images limit: 2 %}
          <img src="{{ image | img_url: "450x" }}" alt="{{ product.title }}">
          {% endfor %}
          <div class="prod-tag no-t-m">{% for tag in product.tags limit: 1 %}{{ tag }}{% endfor %}</div>
        </div>
        
        <div class="hero-product-text-block">
          <div class="variants no-t-m">
            <div class="variant-color grey-color selected"></div>
            <div class="variant-color yellow-color"></div>
            <div class="variant-color blue-color"></div>
            <div class="variant-color red-color"></div>
            <div class="more-colors">more colors</div>
          </div>
          <div class="hero-row">
            <div class="hero-col">
              <span class="product-font">
                {{ product.title }}
              </span>
            </div>
            <div class="hero-col">
              <span class="product-font">
                {{ product.price | money }}
              </span>
            </div>
          </div>
          <div class="hero-row">            
            <span class="product-tag">
              Drawstring Backpack RFID
            </span>
          </div>
          <div class="variants no-d">
            <div class="variant-color grey-color selected"></div>
            <div class="variant-color yellow-color"></div>
            <div class="variant-color blue-color"></div>
            <div class="variant-color red-color"></div>
            <div class="more-colors">more colors</div>
          </div>
          <button class="add-direct btn btn-center">ADD TO CART {% render "svg-plus" %}</button>
          <a href="{{ product.url }}" class="more-info">
            More info <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<script>
	$('.variants .variant-color').click(function() {
  	$(this).siblings().removeClass('selected');
    $(this).addClass('selected');
  });
  
  $('.filter-wrap').click(function() {
    if(!$(this).hasClass('selected')){
    	$(this).addClass('selected');
    }else{
    	$(this).removeClass('selected');
    }
  });
  
  $('.apply-filters-btn').click(function() {
    console.log('clicked');
    var fil_len = $('.filter-wrap.selected').length;
    console.log(fil_len);
  });
  
</script>

{% schema %}
  {
    "name": "Hedgren All Products",
    "settings": [],
	"presets": [
		{
			"name": "Hedgren All Products"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
