{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-product.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-article.css' | asset_url | stylesheet_tag }}

<div class="hedgren-article-wrapper">
  <div class="article-img rel">
  	<img src="{{ article.image | img_url: '2000x' }}">
    <div class="overlay"></div>
  </div>
  <div class="article-bg">
  <div class="container rel">
    <div class="article-whole-content-wrap">
    <div class="article-title-wrap rel">
      <span class="heding-arrows">
        {% include "svg-arrows-big" %}
      </span> 
      <h1 class="article-title rel">{{ article.title }}</h1>
      </div>
      <div class="article-author-date flex-box">
        <div class="article-author-img"><img src="{{ 'IMage_2x.png' | asset_img_url: '50x' }}"></div>
        <div class="article-author">WRITTEN BY {{ article.author }}</div>
        <div class="article-date">{{ article.created_at | date: "%d/%m/'%y" }}</div>
      </div>
      <div class="wrappers-wrapper">
      <div class="article-content-wrap">
      <div class="article-excerpt">{{ article.excerpt }}</div>
      <div class="article-content">{{ article.content }}</div>
        {% assign product = all_products["crusade-drawstring-backpack-rfid-bblackstr"] %}
        <div class="upsell-product">
          <div class="hero-product flex-box">
            <div class="hero-product-images-block">
              <a href="{{ product.url }}">
                <img src="{{ product.featured_image | img_url: "450x" }}" alt="{{ product.title }}">
              </a>
            </div>
            <div class="hero-product-text-block">
              <div class="hero-row">
                <div class="hero-col">
                  <a href="{{ product.url }}" class="product-font product-title">
                    {{ product.title | truncatewords: 1, "" }}
                  </a>
                </div>
              </div>
              <div class="hero-col product-prices">
                <span class="product-compare-price save-money">{{ product.compare_at_price | money_without_trailing_zeros | strip_html }}</span>
                <span class="product-font product-price money">
                  {{ product.price | money_without_trailing_zeros | strip_html }}
                </span>
              </div>
              <div class="color-variant-wrap">
                <div class="variant-title">COLOUR</div>                
                <div class="variants flex-box">
                  {% include 'color-product-swatch' %}
                  {% include 'color-product-swatch-2' %}
                </div>
              </div>
              <div class="hero-row no-t-m">            
                <span class="product-tag">
                  {% assign desc = product.description | split: "<!-- split -->" %}
                  {{ desc[1] | strip_html | truncatewords: 20, "..." }}
                </span>
              </div>
              <button class="add-direct btn btn-center {% unless product.available %}no-avaliable{% endunless %}" data-variant="{{ product.selected_or_first_available_variant.id }}"><span class="cart-txt no-d">{% if product.available %}ADD{% else %}Sold Out{% endif %}</span><span class="cart-txt no-t-m">{% if product.available %}Add to cart{% else %}Out of stock{% endif %}</span>  {% render "svg-plus" %}</button>
            </div>
          </div>
        </div>
        
        <div class="article-toggler flex-box justify-between">
          <a href="{{ blog.previous_article }}"><span class="prev-arrow arrow">{% include 'icon-arrow-grey' %}</span>PREVIOUS STORY</a>
        	<a href="{{ blog.next_article }}">NEXT STORY<span class="arrow next-arrow">{% include 'icon-arrow-grey' %}</span></a>
        </div>
      </div>
        <div class="related-articles no-t-m">
          <div class="related-title">Other stories</div>
          {% assign original_handle = article.handle %}
          {% for article in blog.articles limit: 3 %}
          {% unless original_handle == article.handle %}
          <div class="related-article">
            <a href="{{ article.url }}">
            <div class="img-text-img rel">
              <span class="image-overlay">
                {% include "svg-arrows-big" %}
              </span>    
              {%- if article.image != blank -%}
              <img
                   srcset="{%- if article.image.width >= 165 -%}{{ article.image | img_url: '205x' }} 165w,{%- endif -%}
                           {%- if article.image.width >= 360 -%}{{ article.image | img_url: '400x' }} 360w,{%- endif -%}
                           {%- if article.image.width >= 535 -%}{{ article.image | img_url: '605x' }} 535w,{%- endif -%}
                           {%- if article.image.width >= 750 -%}{{ article.image | img_url: '800x' }} 750w,{%- endif -%}
                           {%- if article.image.width >= 1070 -%}{{ article.image | img_url: '1100x' }} 1070w,{%- endif -%}
                           {%- if article.image.width >= 1500 -%}{{ article.image | img_url: '1600x' }} 1500w,{%- endif -%}
                           {{ article.image | img_url: 'master' }} {{ article.image.width }}w"
                   src="{{ article.image | img_url: '1600x' }}"
                   sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                   alt="{{ article.image.alt | escape }}"
                   loading="lazy"
                   width="{{ article.image.width }}"
                   height="{{ article.image.height }}"
                   >
              {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%} 
              <h2 class="img-text-text-heading">
                {{ article.title }}
              </h2>
            </div>

            <div class="img-text-text-subheading">
              {% for tag in article.tags %}
              {% if tag contains "Occupation:" %}
              {{ tag | replace: "Occupation:","" }}
              {% endif %}
              {% endfor %}
            </div>
            <div class="img-text-text-content">
              {{ article.excerpt_or_content | strip_html | truncatewords: 30,"..." }}
            </div>
            </a>
          </div>
          {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
    </div>
</div>

<script>
  
  $('.variants img').click(function() {
    $(this).closest('.variants').find('img').removeClass('hedgren-color-active').addClass('hedgren-color-inactive');
    $(this).addClass('hedgren-color-active').removeClass('hedgren-color-inactive');
    var current = $(this);
    $.ajax({
      url: $(this).parent().data('url')+'.js',
      method: "GET",
      dataType: "json"
    })
    .done(function( data ) {
      current.closest('.hero-product').find('.money').text("€"+(data.price / 100).toFixed(2).replace(/\.?00+$/, ''));
      if(data.compare_at_price != null && data.compare_at_price != 0) {
        current.closest('.hero-product').find('.save-money').text("€"+(data.compare_at_price / 100).toFixed(2).replace(/\.?00+$/, ''));
      }
      current.closest('.hero-product').find('a').attr('href',data.url);   
      if(data.available) {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('Add to cart');
                                                                            current.closest('.hero-product').find('.add-direct .cart-txt.no-d').text('ADD');
        current.closest('.hero-product').find('.add-direct').removeClass('no-avaliable');        
      } else {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('Out of stock');
                                                                            current.closest('.hero-product').find('.add-direct .cart-txt.no-d').text('Sold Out');
        current.closest('.hero-product').find('.add-direct').addClass('no-avaliable');        	
      }
      current.closest('.hero-product').find('.product-title').text(data.title.split(" ")[0]);
      current.closest('.hero-product').find('.add-direct').data('variant',data.variants[0].id);
      current.closest('.hero-product').find('.hero-product-images-block a img').first().attr('src',data.images[0]);
    })
    .fail(function(error) {
      console.log( error );
    });
  });  

  $('.add-direct').click(function() {
    var formData = {
      'items': [{
        'id': parseInt($(this).data('variant')),
        'quantity': 1
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {     
      $.ajax({
        url: '/?sections=hedgren-cart-drawer',
        method: "GET",
        dataType: "json"
      })
      .done(function( data ) {
        $(data["hedgren-cart-drawer"]).insertAfter("#shopify-section-hedgren-header");
        $('.cart-remover').last().remove();
        $('.drawer-cart').addClass('drawn');
        $('body').addClass('no-scroll');
      })
      .fail(function(error) {
        console.log( error );
      });
    })
    .fail(function(error) {
      console.log( error );
    });
  });


</script>

{% schema %}
  {
    "name": "Hedgren Article",
    "settings": [],
	"presets": [{"name": "Hedgren Article"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
