{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-product.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-article.css' | asset_url | stylesheet_tag }}

<div class="hedgren-article-wrapper">
  <div class="article-img rel">
  	<img src="{{ article.image | img_url: '2000x' }}">
    <div class="overlay no-t-m"></div>
  </div>
  <div class="article-bg">
  <div class="container rel">
    <div class="article-whole-content-wrap">
    <div class="article-title-wrap rel">
      <span class="heding-arrows">
        {% include "svg-arrows-big" %}
      </span> 
      <h1 class="article-title rel">{{ article.title }}</h1>
      </div>
      <div class="article-author-date flex-box">
        <div class="article-author-img"><img src="{{ 'IMage_2x.png' | asset_img_url: '50x' }}"></div>
        <div class="article-author-date-wrap">
        <div class="article-author">WRITTEN BY {{ article.author }}</div>
        <div class="article-date">{{ article.created_at | date: "%d/%m/'%y" }}</div>
        </div>
      </div>
      <div class="article-content-wrap">
      <div class="article-excerpt">{{ article.excerpt }}</div>
      <div class="article-content">{{ article.content }}</div>
        
        <div class="upsell-product">
        	<div class="hero-product flex-box">
        <div class="hero-product-images-block">
          <img src="{{ 'img.png' | asset_img_url: '310x' }}" alt="product.title">
        </div>
        <div class="hero-product-text-block">
          <div class="hero-row">
            <div class="hero-col">
              <span class="product-font">
                Crusade
              </span>
            </div>
          </div>
          <div class="hero-col product-prices">
            <span class="product-compare-price">€89.00</span>
              <span class="product-font product-price">
                €79.00
              </span>
            </div>
          <div class="color-variant-wrap">
          <div class="variant-title">COLOUR</div>
          <div class="variants flex-box">
            <div class="variant-color grey-color selected"></div>
            <div class="variant-color yellow-color"></div>
            <div class="variant-color blue-color"></div>
            <div class="variant-color red-color"></div>
          </div>
        </div>
          <div class="hero-row">            
            <span class="product-tag no-t-m">
              When travel gets serious, you need a bag that can take on the Crusade with you!
            </span>
          </div>
          <button class="add-direct btn btn-center no-t-m">ADD TO CART {% render "svg-plus" %}</button>
          <button class="add-direct btn btn-center no-d">ADD {% render "svg-plus" %}</button>
        </div>
      </div>
        </div>
        
        <div class="article-toggler flex-box justify-between">
          <a href="{{ blog.previous_article }}"><span class="prev-arrow arrow">{% include 'icon-arrow-grey' %}</span>PREVIOUS STORY</a>
        	<a href="{{ blog.next_article }}">NEXT STORY<span class="arrow next-arrow">{% include 'icon-arrow-grey' %}</span></a>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
<hr class="footer-hr">

<script>
  
  $('.variant-color').click(function() {
  	$('.variant-color').removeClass('selected');
    $(this).addClass('selected');
  });
  

</script>

{% schema %}
  {
    "name": "Hedgren Article",
    "settings": [],
	"presets": [{"name": "Hedgren Article"}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
