{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-collection-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-img-text.css' | asset_url | stylesheet_tag }}

<div class="hero hedgren-collection-hero" style="{% if collection.image %}background-image: url({{ collection.image | image_url: width: 2048 }}){% else %}background: #375D54{% endif %}">
  <div class="container rel">
    <div class="discover-coll-heading flex-box">
      <div class="side-title">
      	1994
      </div>
    	<h1 class="discover-coll-main-heading">
        {{ collection.title }}
      </h1>
      <div class="side-title">
      	2021
      </div>
    </div>
    <div class="discover-coll-sub-heading no-t-m">Is Bag</div>
  </div>
</div>
<div class="hero-products-wrapper hedgren-collection-products-wrapper">
  <div class="container rel">
    <div class="product-slider-wrap">
    <div class="hero-products">
      {% for product in collection.products limit: 8 %}
      <div class="hero-product">
        <div>
          <div class="hero-product-images-block">
            {% for image in product.images limit: 2 %}
            <img src="{{ image | img_url: "450x" }}" alt="{{ product.title }}">
            {% endfor %}
          </div>
          <div class="hero-product-text-block">
            <div class="hero-row">
              <div class="hero-col">
                <span class="product-font">
                  {{ product.title }}
                </span>
              </div>
              <div class="hero-col">
                <span class="product-font">
                  {{ product.price | money }}
                </span>
              </div>
            </div>
            <div class="hero-row">            
              <span class="product-tag">
                Drawstring Backpack RFID
              </span>
            </div>
          </div>
        </div>
        <div class="hero-product-text-block">
          <button class="add-direct btn btn-center">ADD TO CART {% render "svg-plus" %}</button>
          <a href="{{ product.url }}" class="more-info">
            More info <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="btn btn-center" href="#">SHOP ALL PRODUCTS</a>
    </div>
  </div>
</div>











<div class="img-text-wrapper normal-bg">
  <div class="img-text container rel flex-box order-normal normal-top normal-bottom">
    <div class="img-text-text">
      <h2 class="img-text-text-heading regular">
        The Story
      </h2>
      <div class="img-text-text-subheading">
        {{ section.settings.subheading }}
      </div>
      <div class="img-text-text-content">
        Our <span class="red-txt">Great American Heritage</span> collection is back! This legendary collection, which was first released in 1994, has been <span class="red-txt">reinvented</span> and customized to suit your needs even better. All our bags are made with you in mind, with the aim of enabling you to move freely and stylishly.
        <br><br>
        But that’s not all. Every single item within this collection is made of <span class="red-txt">sustainable</span> recycled materials, both inside and out. This way, we ensure that we have a minimum impact on the environment.
      </div>
    </div>  
    <div class="img-text-img rel">
      <span class="image-overlay">
        {% include "svg-arrows-big" %}
      </span>    
      {%- if section.settings.image != blank -%}
            <img
              srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
              src="{{ section.settings.image | img_url: '1500x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ section.settings.image.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%} 
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hedgren Collection Hero",
    "settings": [
      {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      },
		{
			"type": "text",
			"id": "heading_left",
			"label": "Heading Left"
		},
		{
			"type": "text",
			"id": "heading_main",
			"label": "Heading Main"
		},
		{
			"type": "text",
			"id": "heading_right",
			"label": "Heading Right"
		},
		{
			"type": "text",
			"id": "sub_heading",
			"label": "Sub Heading"
		}
     ],
   "presets":[
      {
         "name":"Hedgren Collection Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
