{{ 'hedgren-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-collection-hero.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-img-text.css' | asset_url | stylesheet_tag }}
{{ 'hedgren-collection-features.css' | asset_url | stylesheet_tag }}

{% assign collection = section.settings.collection %}
<div class="hero hedgren-collection-hero" style="{% if collection.image %}background-image: url({{ collection.image | image_url: width: 2048 }}){% else %}background: #375D54{% endif %}">
  <div class="container rel">
    <div class="discover-coll-heading flex-box">
      <div class="side-title">
      	1994
      </div>
    	<h1 class="discover-coll-main-heading">
        {{ collection.title }}
      </h1>
      <div class="side-title">
      	2021
      </div>
    </div>
    <div class="discover-coll-sub-heading no-t-m">Is Bag</div>
  </div>
</div>
<div class="hero-products-wrapper hedgren-collection-products-wrapper">
  <div class="container rel">
    <div class="product-slider-wrap">
    <div class="hero-products">
      {% for product in collection.products limit: 8 %}fghfgh
      <div class="hero-product">
        <div>
          <div class="hero-product-images-block">
            <a href="{{ product.url }}">
              {% for image in product.images limit: 2 %}
              <img src="{{ image | img_url: "450x" }}" alt="{{ product.title }}">
              {% endfor %}
            </a>
            <div class="variants flex-box no-t-m">
              {% include 'color-product-swatch' %}
              {% include 'color-product-swatch-2' %}
            </div>
          </div>
          <div class="hero-product-text-block">
            <a href="{{ product.url }}">
              <div class="hero-row">
                <div class="hero-col">
                  <span class="product-font product-title">
                    {{ product.title }}
                  </span>
                </div>
                <div class="hero-col price-col">
                  <span class="product-font money">
                    {{ product.price | money_without_trailing_zeros }}
                  </span>
                </div>
              </div>
            </a>
            <div class="hero-row">            
              <span class="product-tag">
                {{ product.type }}
              </span>
            </div>
          </div>
        </div>
        <div class="hero-product-text-block">

          <div class="hero-row no-d"> 
            <div class="variants flex-box">
              {% include 'color-product-swatch' %}
              {% include 'color-product-swatch-2' %}
            </div>
          </div>
          <button class="add-direct btn btn-center {% unless product.available %}no-avaliable{% endunless %}"  data-variant="{{ product.selected_or_first_available_variant.id }}"><span class="cart-txt">{% if product.available %}{{ section.settings.addtext }}{% else %}{{ section.settings.outtext }}{% endif %}</span> {% render "svg-plus" %}</button>
          <a href="{{ product.url }}" class="more-info">
            {{ section.settings.moretext }} <span class="link-arows">{% include "svg-arrow" %}{% include "svg-arrow" %}</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="btn btn-center" href="#">{{ section.settings.buttontext }}</a>
    </div>
  </div>
</div>



      
      
      
<script>

  $('.variants img').click(function() {
    $(this).closest('.variants').find('img').removeClass('hedgren-color-active').addClass('hedgren-color-inactive');
    $(this).addClass('hedgren-color-active').removeClass('hedgren-color-inactive');
    var current = $(this);
    $.ajax({
      url: $(this).parent().data('url')+'.js',
      method: "GET",
      dataType: "json"
    })
    .done(function( data ) {
      current.closest('.hero-product').find('.money').text("€"+(data.price / 100).toFixed(2).replace(/\.?0+$/, '').replace('.',','));
      current.closest('.hero-product').find('a').attr('href',data.url);   
      if(data.available) {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.addtext }}');
                                                                            current.closest('.hero-product').find('.add-direct').removeClass('no-avaliable');        
      } else {
        current.closest('.hero-product').find('.add-direct .cart-txt').text('{{ section.settings.outtext }}');
                                                                            current.closest('.hero-product').find('.add-direct').addClass('no-avaliable');        	
      }
      current.closest('.hero-product').find('.product-title').text(data.title)
      current.closest('.hero-product').find('.add-direct').data('variant',data.variants[0].id);
      current.closest('.hero-product').find('.hero-product-images-block a img').first().attr('src',data.images[0]);
      current.closest('.hero-product').find('.hero-product-images-block a img').last().attr('src',data.images[1]);
    })
    .fail(function(error) {
      console.log( error );
    });
  });

  $('.more-color-link').click(function() {
    $(this).parent().find('.no-disp').removeClass('no-disp');
    $(this).addClass('no-disp');
  });    

  $('.add-direct').click(function() {
    var formData = {
      'items': [{
        'id': parseInt($(this).data('variant')),
        'quantity': 1
      }]
    };
    $.ajax({
      url: "/cart/add.js",
      method: "POST",
      dataType: "json",
      data: formData,
    })
    .done(function( data ) {     
      console.log(data);
    })
    .fail(function(error) {
      console.log( error );
    });
  });

</script>





<div class="hedgren-collection-features-wrapper dark-bg">
  <div class="container">
    <h2 class="hedgren-collection-features-heading">Discover features</h2>
    <div class="feature-subtitle no-d">SELECT A BAG</div>
    <div class="features-filter-wrap flex-box">
      {% for block in section.blocks %}
      <div class="filter {% if forloop.first %}selected{% endif %}" data-show="collection-features{{ forloop.index }}">
        <div class="filter-img"><img src="{{ block.settings.bag | image_url: width: 100 }}"></div>
        <div class="filter-name">{{ block.settings.name }}</div>
      </div>
      {% endfor %}
      <div class="feature-subtitle no-t-m">SELECT A BAG</div>
    </div>
    {% for block in section.blocks %}
    <div class="collection-features flex-box {% unless forloop.first %}no-disp{% endunless %} collection-features{{ forloop.index }}">
      {% if block.settings.feature_heading1 != blank %}
      <div class="feature-card selected">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img1 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading1 }}</div>
          <div class="feature-text">{{ block.settings.feature_description1 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading2 != blank %}
      <div class="feature-card">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img2 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading2 }}</div>
          <div class="feature-text">{{ block.settings.feature_description2 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading3 != blank %}
      <div class="feature-card">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img3 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading3 }}</div>
          <div class="feature-text">{{ block.settings.feature_description3 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading4 != blank %}
      <div class="feature-card">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img4 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading4 }}</div>
          <div class="feature-text">{{ block.settings.feature_description4 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading5 != blank %}
      <div class="feature-card">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img5 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading5 }}</div>
          <div class="feature-text">{{ block.settings.feature_description5 }}</div>
        </div>
      </div>
      {% endif %}
      {% if block.settings.feature_heading6 != blank %}
      <div class="feature-card">
        <div class="feature-img">
          <img src="{{ block.settings.feature_img6 | image_url: width: 350 }}">
        </div>
        <div class="feature-txt-wrap">
          <div class="feature-title">{{ block.settings.feature_heading6 }}</div>
          <div class="feature-text">{{ block.settings.feature_description6 }}</div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<script>
  $('.filter').click(function() {
  	$('.filter').removeClass('selected');
    $(this).addClass('selected');
  	$('.collection-features').addClass('no-disp');    
    $('.'+$(this).data('show')).removeClass('no-disp');
    
  });
</script>






<div class="img-text-wrapper normal-bg">
  <div class="img-text container rel flex-box order-normal normal-top normal-bottom">
    <div class="img-text-text">
      <h2 class="img-text-text-heading regular">
        The Story
      </h2>
      <div class="img-text-text-subheading">
        {{ section.settings.subheading }}
      </div>
      <div class="img-text-text-content">
        
        {{ collection.description }}
      </div>
    </div>  
    <div class="img-text-img rel">
      <span class="image-overlay">
        {% include "svg-arrows-big" %}
      </span>    
      {%- if section.settings.image != blank -%}
            <img
              srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
              src="{{ section.settings.image | img_url: '1500x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ section.settings.image.alt | escape }}"
              loading="lazy"
              width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}"
            >
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%} 
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hedgren Collection Hero",
    "settings": [
      {
         "type":"image_picker",
         "id":"image",
         "label":"Image"
      },
		{
			"type": "text",
			"id": "heading_left",
			"label": "Heading Left"
		},
		{
			"type": "text",
			"id": "heading_main",
			"label": "Heading Main"
		},
		{
			"type": "text",
			"id": "heading_right",
			"label": "Heading Right"
		},
		{
			"type": "text",
			"id": "sub_heading",
			"label": "Sub Heading"
		},
        {
          "type": "text",
          "id": "addtext",
          "label": "Add button text",
          "default": "ADD TO CART"
        },
        {
          "type": "text",
          "id": "outtext",
          "label": "Out of stock button text",
          "default": "OUT OF STOCK"
        },
        {
          "type": "text",
          "id": "moretext",
          "label": "More button text",
          "default": "More info"
        },
        {
          "type": "text",
          "id": "buttontext",
          "label": "Button text",
          "default": "SHOP ALL PRODUCTS"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
     ],
	"blocks": [
		{
			"type": "features",
			"name": "Features",
			"settings": [
				{
                    "id": "name",
                    "type": "text",
                    "label": "Bag Name"
                },
				{
                    "id": "bag",
                    "type": "image_picker",
                    "label": "Bag image"
                },
				{
                    "id": "feature_img1",
                    "type": "image_picker",
                    "label": "Feature image 1"
                },
				{
                    "id": "feature_heading1",
                    "type": "text",
                    "label": "Feature Heading 1"
                },
				{
                    "id": "feature_description1",
                    "type": "html",
                    "label": "Feature Description 1"
                },
				{
                    "id": "feature_img2",
                    "type": "image_picker",
                    "label": "Feature image 2"
                },
				{
                    "id": "feature_heading2",
                    "type": "text",
                    "label": "Feature Heading 2"
                },
				{
                    "id": "feature_description2",
                    "type": "html",
                    "label": "Feature Description 2"
                },
				{
                    "id": "feature_img3",
                    "type": "image_picker",
                    "label": "Feature image 3"
                },
				{
                    "id": "feature_heading3",
                    "type": "text",
                    "label": "Feature Heading 3"
                },
				{
                    "id": "feature_description3",
                    "type": "html",
                    "label": "Feature Description 3"
                },
				{
                    "id": "feature_img4",
                    "type": "image_picker",
                    "label": "Feature image 4"
                },
				{
                    "id": "feature_heading4",
                    "type": "text",
                    "label": "Feature Heading 4"
                },
				{
                    "id": "feature_description4",
                    "type": "html",
                    "label": "Feature Description 4"
                },
				{
                    "id": "feature_img5",
                    "type": "image_picker",
                    "label": "Feature image 5"
                },
				{
                    "id": "feature_heading5",
                    "type": "text",
                    "label": "Feature Heading 5"
                },
				{
                    "id": "feature_description5",
                    "type": "html",
                    "label": "Feature Description 5"
                },
				{
                    "id": "feature_img6",
                    "type": "image_picker",
                    "label": "Feature image 6"
                },
				{
                    "id": "feature_heading6",
                    "type": "text",
                    "label": "Feature Heading 6"
                },
				{
                    "id": "feature_description6",
                    "type": "html",
                    "label": "Feature Description 6"
                }
			]
		}
	],
   "presets":[
      {
         "name":"Hedgren Collection Hero"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
